$filter-dropdown-list-item-height: 53px;

.filter-dropdown {
    @extend %filter;

    &__expansion-icon {
        @extend .icon-expansion-arrow;
        @extend %filter-icon;
    }

    &-container {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        width: 100%;
        padding: 15px 20px;
        border: 1px solid $border-color;
        border-radius: 6px;

        input {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-list {
        display: none;
        position: absolute;
        border-radius: 6px;
        border: 1px solid $border-color;
        left: 0;
        width: 100%;
        // height: 53px * 3;
        overflow: auto;
        background-color: $white;
        top: 60px;
        box-shadow: 0px 4px 16px rgba($app-header-shadow-color, 0.1);
        z-index: 9998;

        &-container {
            height: auto;
        }

        & *{
            @include flexbox();
            height: $filter-dropdown-list-item-height;
            @include align-items(center);
            padding: 0px 20px;
            color: $primary-color;
            border-bottom: 1px solid rgba($divider-color, 0.5);

            &:hover {
                color: $neutral-color;
                background-color: $background-color;
            }

            &.active {
                display: none;
            }
        }

        p {
            @extend %filter-p;
        }
    }

    &.active {

        .filter-dropdown-container {
            border: 1px solid $secondary-color;
        }

        .filter-dropdown-list {
            border: 1px solid $divider-color;
        }
    }
}