//Footer Contacts
div.footer-contacts
    div.footer-contacts-container
        div.footer-contacts-column
            h5 Адрес:
            ul
                li
                    a(href="#" class=".footer-contacts-address") Россия, 103132, Москва, ул.Ильинка, 8, стр.2
        div.footer-contacts-column
            h5 Контакты Исследовательского центра:
            ul
                li
                    span Телефон: 
                        a(href="#" class=".footer-contacts-phone") 8 (495) 606-36-39
                li
                    span Факс: 
                        a(href="#" class=".footer-contacts-phone") 8 (495) 606-36-57
                li
                    span.email E-mail: 
                        a(href="#" class=".footer-contacts-phone") info@privlaw.ru
        div.footer-contacts-column
            h5 Контакты по вопросам обучения:
            ul
                li
                    span Телефоны:
                li
                    span
                        a(href="#" class=".footer-contacts-phone") 8 (495) 606-37-28
                li
                    span
                        a(href="#" class=".footer-contacts-phone") 8 (495) 606-36-96
                li
                    span E-mail: 
                li
                    span.email
                        a(href="#" class=".footer-contacts-email") turishcheva@privlaw.ru
                li
                    span.email
                        a(href="#" class=".footer-contacts-email") nazmova@privlaw.ru