// Footer
footer.app-footer
    div.app-footer-content

        section.app-footer-container
            div.app-footer-section-top
                div.app-footer-section-top-content
                    include ../logo/logo-descriptor.pug

                    include ../social-buttons/social-buttons-inverse.pug

        section.app-footer-section-center
            div.app-footer-container
                div.app-footer-section-center-content
                    
                    include ./footer-navigation.pug               
                            

        section.app-footer-section-bottom
            div.app-footer-container
                div.app-footer-section-bottom-content

                    include ./footer-contacts.pug

                div.app-footer-section-bottom-content
                    include ./footer-copyright.pug  
                    //- p Все права защищены, 1991-2022
                    //- a Политика конфиденциальности
                    //- a Пользовательское соглашение