//Footer Copyright
div.footer-copyright
    div.footer-copyright-container
        div.footer-copyright-column
            a(href="#") Политика конфиденциальности
            a(href="#") Пользовательское соглашение
        div.footer-copyright-column
            p Все права защищены, 1991-2022