//Footer Copyright
div.footer-copyright
    div.footer-copyright-container
        div.footer-copyright-column
            a(href="privacy-policy.html") Политика конфиденциальности
            a(href="user-agreement.html") Пользовательское соглашение
        div.footer-copyright-column
            a(href="http://privlaw.ru/" target="blank") Старая версия сайта
            p Все права защищены, 1991-2022