// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="news.html") Контакты
                li.nav-line__item
                    a(href="news.html") Москва
        //Nav Line

        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item.active
                        a(href="#") Москва
                    li.section-nav__item
                        a(href="#") Екатеринбург
        // Section Header
        div.section-header
            h1.section-title Контакты
            //- p.section-date 7 октября 2021
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    //- div.article-header
                    //-     p.article-date 7 октября 2021
                    // Article
                    div.article-section
                        div.article-section-body
                            div.article-columns
                                div.article-content
                                    p Федеральное государственное бюджетное научное учреждение «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации»
                                div.article-content
                                    p Адрес: 103132, г. Москва, ул. Ильинка, д.8, стр.2
                                    br
                                    p Телефон:
                                        a(href="tel:+7-495-606-36-39") 8 (495) 606-36-39
                                    br
                                    p E-mail:
                                        a(href="mailto:info@privlaw.ru") info@privlaw.ru
                                    br
                                    p Сайт: www.privlaw.ru
                            iframe.contacts-map(src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae9b28e3e773c9d096e9d4136b228d37f3dbc110644177bf96bee8cbc0e1c4fd5&amp;source=constructor" width="100%" height="400" frameborder="0")
        div.section-footer
            div.section-button
                a(href="index.html") На главную
        //- h1 Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом на форуме по корпоративным отношениям