// News
div.news
    div.news-container
        // Items
        article.news__item
            a(href="/" class="news__item-container")
                span.news__item-image
                    span.item-tag Совет по кодификации
                    img(src="src/assets/images/background/news1.jpg")
                div.news__item-content
                    span.news__item-date 16 октября 2021
                    h3.news__item-title Интеграл Гамильтона, очевидно, основан на опыте. Относительная погрешность соответствует интеграл

        article.news__item
            a(href="/" class="news__item-container")
                span.news__item-image
                    span.item-tag РШЧП
                    img(src="src/assets/images/background/news2.jpg")
                div.news__item-content
                    span.news__item-date 16 октября 2021
                    h3.news__item-title Интеграл Гамильтона, очевидно, основан на опыте. Относительная погрешность соответствует интеграл

        article.news__item
            a(href="/" class="news__item-container")
                span.news__item-image
                    span.item-tag Алексеевсие чтения
                    img(src="src/assets/images/background/news3.jpg")
                div.news__item-content
                    span.news__item-date 16 октября 2021
                    h3.news__item-title Интеграл Гамильтона, очевидно, основан на опыте. Относительная погрешность соответствует интеграл

        article.news__item
            a(href="/" class="news__item-container")
                span.news__item-image
                    span.item-tag Диалоги о частном праве
                    img(src="src/assets/images/background/news2.jpg")
                div.news__item-content
                    span.news__item-date 16 октября 2021
                    h3.news__item-title Интеграл Гамильтона, очевидно, основан на опыте. Относительная погрешность соответствует интеграл

        article.news__item
            a(href="/" class="news__item-container")
                span.news__item-image
                    span.item-tag Клуб семейного права
                    img(src="src/assets/images/background/news3.jpg")
                div.news__item-content
                    span.news__item-date 16 октября 2021
                    h3.news__item-title Интеграл Гамильтона, очевидно, основан на опыте. Относительная погрешность соответствует интеграл

        article.news__item
            a(href="/" class="news__item-container")
                span.news__item-image
                    span.item-tag Центр
                    img(src="src/assets/images/background/news1.jpg")
                div.news__item-content
                    span.news__item-date 16 октября 2021
                    h3.news__item-title Интеграл Гамильтона, очевидно, основан на опыте. Относительная погрешность соответствует интеграл

        article.news__item
            a(href="/" class="news__item-container")
                span.news__item-image
                    span.item-tag Совет по кодификации
                    img(src="src/assets/images/background/news2.jpg")
                div.news__item-content
                    span.news__item-date 16 октября 2021
                    h3.news__item-title Интеграл Гамильтона, очевидно, основан на опыте. Относительная погрешность соответствует интеграл

        // Items
// News