.footer-contacts {
    width: 100%;
    padding: 30px 0px;
    padding-bottom: 50px;

    &-container {
        @include box(inherit);
    }

    &-column {
        @include box(auto, auto);
    }

    h5 {
        // font-size: px2em(15px);
        @include respond-above (sm) {
            font-size: 15px;
        }
        @include respond-below (sm) {
            font-size: 13px;
        }
        font-weight: 500;
        color: $white;
    }

    a, p, span {
        color: $app-footer-contacts-font-color;//$accent-light-color;
        letter-spacing: px2em(0.3px);
        padding: px2em(6px) px2em(0px);
        // font-size: px2em(14px);
        @include respond-above (sm) {
            font-size: 14px;
        }
        @include respond-below (sm) {
            font-size: 14px;
        }
        font-weight: 400;
        text-decoration: none;
    }

    .email {

        a {
            text-decoration: underline !important;
        }
    }

    ul {
        padding-top: 15px;
        list-style: none;

        li {
            @include flexbox();
            @include flex-direction(column);
            position: relative;
            @include box(inherit);
        }
    }
}