@include respond-above (md) {
    
    .section-body {

        &-container {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 60px;
        }
    }
}

@include respond-below (md) {
    
    .section-body {

        &-container {
            display: grid;
            grid-template-rows: 1fr;
            gap: 30px;
        }
    }
}