.section-body {

    &-container {
        display: grid;
        grid-template-columns: 1fr 320px;
        gap: 40px;
    }

    article {
        @extend .section-article;
    }
}

// .section {
//     .section-header + .section-body{
//         padding-bottom: 0px !important;
//     }
// }
