//Card Template
//entities-container-persons
@include respond-above (lg) {

    %entities-container-persons {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    %entities-container-persons--md {
        grid-template-columns: 1fr 1fr 1fr;
    }

    %entities-container-persons--sm {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


@include respond-between (md, lg) {

    %entities-container-persons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    %entities-container-persons--md {
        grid-template-columns: 1fr 1fr 1fr;
    }

    %entities-container-persons--sm {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@include respond-between (sm, md) {

    %entities-container-persons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    %entities-container-persons--md {
        grid-template-columns: 1fr 1fr 1fr;
    }

    %entities-container-persons--sm {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@include respond-below (sm) {

    %entities-container-persons {
        grid-template-columns: 1fr 1fr;
    }

    %entities-container-persons--md {
        grid-template-columns: 1fr 1fr;
    }

    %entities-container-persons--sm {
        grid-template-columns: 1fr 1fr;
    }
}