.menu-navigation {
    width: 100%;

    &-container {
        @include box(inherit);
    }

    &-group {
        @include box(100%, auto);
    }

    ul {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include box(inherit);
        list-style: none;

        li {
            @include flexbox();
            @include flex-direction(column);
            position: relative;
            @include box(inherit);

            a {
                @include flexbox();
                @include flex-direction(row);
                @include justify-content(flex-start);
                gap: $navigation-menu-item-content-gap;
                height: inherit;
                color: $primary-color;
                font-size: px2em(15px);
                font-weight: 500;
                letter-spacing: px2em(0.3px);
                padding: px2em(10px) px2em(0px);
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                    color: $accent-color;
                }
            }
        }
        //Nested List
        & > ul {
            padding-bottom: 15px;

            li {

                a {
                    font-size: px2em(14px) !important;
                    font-weight: 400 !important;
                    color: $secondary-color !important;//$accent-color-lighten-300;

                    &:hover {
                        text-decoration: underline;
                        color: $accent-color !important;
                    }
                }
            }
        }
    }
}