$item-tag-color: 'foregroundColor';
$item-tag-background-color: 'backgroundColor';
$item-tag-border-radius: px2em(3px);

.item-tag {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: px2em(13px);
    line-height: 1.0;
    height: px2em(38px);
    padding: px2em(0px) px2em(10px);
    border-radius: $item-tag-border-radius;
    background-color: rgba($white, 0.9); //default
    color: $primary-color; //default
    @include themify($themes-app) {
        color: themed($item-tag-color); 
    }
    @include themify($themes-app) {
        background-color: rgba(themed($item-tag-background-color), 0.9) !important; 
    }

        p {
            font-size: inherit;
            line-height: inherit;
        }
}