%article-section {
    @include flexbox;
    @include flex-direction(column);
    // padding-bottom: 40px;

    &-header {
        margin-bottom: 40px;

        &-title, h3, h3, h5 {
            font-size: 28px;
            font-weight: 500;
        }
    }
}