.app-header {
  .tabbar {
    .poor-vision {
      .icon-poor-vision {
        font-size: 25px;
      }
    }
    .login {
      .icon-lock {
        font-size: 18px;
        color: $primary-color-lighten-700;
      }
    }
  }
}
