%entity__item-title {
    font-size: 17px;
    font-weight: 500;
    color: $primary-color;

    b {
        font-size: inherit;
        font-weight: inherit;
        color: $accent-color;
    }
}

%entity__item-title--sm {
    // font-size: px2em(16px);
    @include respond-above (lg) {
        font-size: px2em(17px);
    }
    @include respond-between (md, lg) {
        font-size: px2em(16px);
    }
    @include respond-below (md) {
        font-size: px2em(14px);
    }
    font-weight: 500;
    color: $primary-color;
}