// Read-on
div.read-on
    div.read-on-container
        div.read-on-header
            h5 Читать по теме
        div.read-on-body
            div.read-on-body-container
                div.read-on__item
                    a(href="news.html").read-on__item-container
                        span.read-on__item-tag Исследовательский центр
                        span.read-on__item-date 17 октября 2021
                        h3.read-on__item-title Исследовательский центр посетила делегация цивилистов из Казахстана
                div.read-on__item
                    a(href="news.html").read-on__item-container
                        span.read-on__item-tag Исследовательский центр
                        span.read-on__item-date 4 октября 2021
                        h3.read-on__item-title Встреча с представителями проекта «Первый экономический хакатон» прошла в ИЦЧП
                div.read-on__item
                    a(href="news.html").read-on__item-container
                        span.read-on__item-tag Исследовательский центр
                        span.read-on__item-date 28 сентября 2021
                        h3.read-on__item-title Проект «Диалоги о частном праве» возобновляет работу
