doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Privlaw
    link(href="./src/assets/icons/style.css", rel="stylesheet")
    link(href="./style.css", rel="stylesheet")

body
    app.theme-header--light.theme-normal#app
        div.app-container

            include ./components/header/header.pug

            main.app-content
                div.app-scroll-view
                    div.app-content-container

                        include ./components/nav-line/nav-line.pug