doctype html
html
    head
    include ./components/src/meta.pug
    title Index
    include ./components/src/style.pug
body
    app.theme-header--light.theme-normal#app
        div.app-container

            include ./components/header/header.pug

            main.app-content
                div.app-scroll-view
                    div.app-content-container

                        include ./components/nav-line/nav-line.pug

                        // Section Header
                        div.section-header
                            h5.section-title Новости

                            include ./components/filter/filter-dropdown.pug

                        // Section Header

    include ./components/src/javascript.pug