$nav-line-color: 'neutralColor';
$nav-line-active-color: 'accentColor';
$nav-line-gap: px2em(50px);
// $nav-line-icon-offset-x: px2em(20px);
$nav-line-icon-offset-x: px2em(-35px);
$nav-line-icon-offset-y: px2em(3px);

.nav-line {
    // padding-top: 30px;

    &-container {
        display: flex;
        position: relative;
        gap: $nav-line-gap;
    }

    &__item {
        @include flexbox();
        position: relative;
        @include box(auto);
        list-style: none;

        a {
        }

        //Last child
        &:last-child {
            
            a {
                @include themify($themes-app) {
                    color: themed($nav-line-active-color); 
                }
            }
        }
        //Not last child
        &:not(:last-child) {
            
            a {
                color: $neutral-color; //default
                @include flexbox();
                @include themify($themes-app) {
                    color: themed($nav-line-color) !important; 
                }
                gap: $nav-line-icon-offset-x;
                @extend .icon-navigation-line !optional;


                &::after {
                    position: absolute;
                    right: $nav-line-icon-offset-x;
                    line-height: 1.0;
                    top: $nav-line-icon-offset-y;
                    font-family: icomoon;
                    @extend .icon-navigation-line, :after !optional;
                    color: inherit;
                }

                &::before {
                    display: none;
                }
            }
            //
            &:hover, &:focus {

                a {
                    color: $accent-color; //default
                    @include themify($themes-app) {
                        color: themed($nav-line-active-color) !important; 
                    }
                }
            }
        }
    }
}