// Museum Detail
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="museum.html") Музей
                li.nav-line__item
                    a(href="museum-detail.html") К 95-летию со дня рождения Сергея Сергеивича Алексеева
        //Nav Line

        // Section Header
        div.section-header
            h1.section-title К 95-летию со дня рождения Сергея Сергеивича Алексеева
            //- p.section-date 7 октября 2021
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    //- div.article-header
                    //-     p.article-date 7 октября 2021
                    div.article-section-list
                        // Article
                        div.article-section
                            div.article-section-body
                                div.article-content
                                    div.article-header
                                        div.article-header-group--columns
                                            span.article-date 7 октября 2021
                                            span.article-tag #Исследовательский центр
                                    div.gallery
                                        div.gallery-container
                                            //- Gallery shows if items.count > 1
                                            div.gallery__tag
                                                div.gallery__tag-content
                                                    span.gallery__tag-icon
                                                    span Все фото
                                            div.gallery-content
                                                a.gallery__item(href="images/museum/museum_01.png" data-fancybox="images" data-caption="Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом на форуме по корпоративным отношениям")
                                                    img(src="images/museum/museum_01.png" alt="")
                                                a.gallery__item(href="images/news/news_04.10.2021_lg-1.png" data-fancybox="images" data-caption="Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом на форуме по корпоративным отношениям")
                                                    img(src="images/news/news_04.10.2021_lg-1.png" alt="")
                                                a.gallery__item(href="images/news/news_04.10.2021_lg-1.png" data-fancybox="images" data-caption="Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом на форуме по корпоративным отношениям")
                                                    img(src="images/news/news_04.10.2021_lg-1.png" alt="")
                                div.article-content
                                    p Состоялся форум «Корпоративные отношения: в поисках баланса интересов участников», организованный Российским союзом промышленников и предпринимателей. В обсуждении проблем развития корпоративного права приняли участие представители российского бизнеса, Министерства финансов Российской Федерации, Банка России, Министерства экономического развития.
                                        q Руководитель Исследовательского центра Лидия Юрьевна Михеева рассказала собравшимся о той работе, которую Совет при Президенте РФ по кодификации и совершенствованию гражданского законодательства и Исследовательский центр ведут в области корпоративного права.</q>
                                    p К числу текущих задач, которые стоят перед Центром и Советом в этой сфере, относится подготовка законопроекта о приведении в соответствие с новой редакцией главы 9.1 ГК РФ (образована Федеральным законом от 28.06.2021 N 225-ФЗ) тех федеральных законов, где содержатся правила о порядке проведения различных собраний. Эта работа ведется прежде всего в отношении Закона об АО и Закона об ООО, положения которых о дистанционном проведении общего собрания или о заседаниях иных коллегиальных органов требуют изменений. В то же время Л.Ю. Михеева напомнила участникам форума о том, что отечественные цивилисты ставят перед собой и гораздо более масштабные задачи. Так, например, требует осмысления неизбежная «токенизация» акций — превращение классических ценных бумаг в цифровые права (цифровые активы). Удобство новых форм хранения записей о правах наряду с легкостью их оборота, безусловно, привлекают бизнес, но для права остается нерешенным ряд задач по обеспечению безопасного оборота токенизированных бумаг, а также по защите интересов лиц, чьи записи о принадлежавших им токенах утрачены.
                                    br
                                    br
                                    img(src="images/museum/museum-detail_01.png" alt="")
                                    br
                                    br
                                    br
                                    p К числу текущих задач, которые стоят перед Центром и Советом в этой сфере, относится подготовка законопроекта о приведении в соответствие с новой редакцией главы 9.1 ГК РФ (образована Федеральным законом от 28.06.2021 N 225-ФЗ) тех федеральных законов, где содержатся правила о порядке проведения различных собраний. Эта работа ведется прежде всего в отношении Закона об АО и Закона об ООО, положения которых о дистанционном проведении общего собрания или о заседаниях иных коллегиальных органов требуют изменений. В то же время Л.Ю. Михеева напомнила участникам форума о том, что отечественные цивилисты ставят перед собой и гораздо более масштабные задачи. Так, например, требует осмысления неизбежная «токенизация» акций — превращение классических ценных бумаг в цифровые права (цифровые активы). Удобство новых форм хранения записей о правах наряду с легкостью их оборота, безусловно, привлекают бизнес, но для права остается нерешенным ряд задач по обеспечению безопасного оборота токенизированных бумаг, а также по защите интересов лиц, чьи записи о принадлежавших им токенах утрачены. Доктринальной проработки требует такой феномен, как усиление института субсидиарной ответственности по обязательствам юридического лица. Лидия Юрьевна в своем выступлении на форуме подчеркнула, что все предпринятые судебной системой и законодателем шаги в этом направлении есть лишь вполне предсказуемая реакция правопорядка на тотальную недобросовестность, характеризующую поведение участников гражданско-правовых отношений. В то же время доведение института субсидиарной ответственности до абсурда, до крайности грозит утратой самой сути юридического лица, наделяемого обособленным имуществом и свойством субъекта с известными целями. Участники форума в своих выступлениях выразили надежду на то, что законодательные решения в области корпоративного права будут вырабатываться в диалоге с бизнес-сообществом.
                                    br
                                    p Программу прошедшей конференции можно посмотреть на нашем сайте — <a href="https://privlaw.ru">privlaw.ru</a>. В ближайшие время мы опубликуем видеозапись конференции.
                        // Documents
                        div.article-section
                            div.article-section-body
                                div.documents
                                    div.documents-container
                                        // Items
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title «Перспективы развития семейного права на рубеже десятилетий»
                                                        span.documents__item-size PDF 42КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title «Право ребенка не быть похищенным и его защита»
                                                        p.documents__item-description Проект федерального закона о внесении изменений в Гражданский кодекс Российской Федерации, внесенный Президентом Российской Федерации в Государственную Думу 2 апреля 2012 года, разработан Советом при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства во исполнение Указа Президента Российской Федерации от 18 июля 2008 года № 1108
                                                        span.documents__item-size PDF 12КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-doc.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title «Принцип 6 Декларации ООН прав ребёнка 1959 года в контексте Конвенции о гражданско-правовых аспектах международного похищения детей 1980 года»
                                                        span.documents__item-size DOC 136КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-exel.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач.
                                                        span.documents__item-size EXEL 2МБ
                                                    span.documents__item-helper-icon.icon-download

        div.section-footer
            div.section-button
                a(href="museum.html") Музей