// Photos and videos
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="photos-and-videos.html") Фото и видео
        //Nav Line

        // Section Header
        div.section-header
            h5.section-title Фото и видео

        // Section Header
        div.photos-and-videos
            div.photos-and-videos-container
                // Items
                article.photos-and-videos__item
                    a(href="/" class="news__item-container")
                        span.photos-and-videos__item-image
                            img(src="images/news/news_17.10.2021_sm-1.png")
                        div.photos-and-videos__item-content
                            span.photos-and-videos__item-date 17 октября 2021
                            h3.photos-and-videos__item-title Исследовательский центр посетила делегация цивилистов из Казахстана

                article.photos-and-videos__item
                    a(href="/" class="news__item-container")
                        span.photos-and-videos__item-image
                            img(src="images/news/news_11.10.2021_sm-1.png")
                        div.photos-and-videos__item-content
                            span.photos-and-videos__item-date 11 октября 2021
                            h3.photos-and-videos__item-title Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом

                article.photos-and-videos__item
                    a(href="/" class="news__item-container")
                        span.photos-and-videos__item-image
                            img(src="images/news/news_04.10.2021_sm-1.png")
                        div.photos-and-videos__item-content
                            span.photos-and-videos__item-date 4 октября 2021
                            h3.photos-and-videos__item-title Встреча с представителями проекта «Первый экономический хакатон» прошла в ИЦЧП

                article.photos-and-videos__item
                    a(href="/" class="news__item-container")
                        span.photos-and-videos__item-image
                            img(src="images/news/news_28.09.2021_sm-1.png")
                        div.photos-and-videos__item-content
                            span.photos-and-videos__item-date 28 сентября 2021
                            h3.photos-and-videos__item-title Проект «Диалоги о частном праве» возобновляет работу

                article.photos-and-videos__item
                    a(href="/" class="news__item-container")
                        span.photos-and-videos__item-image
                            img(src="images/news/news_21.09.2021_sm-1.png")
                        div.photos-and-videos__item-content
                            span.photos-and-videos__item-date 21 сентября 2021
                            h3.photos-and-videos__item-title Студенты-первокурсники РШЧП получили студенческие билеты

                article.photos-and-videos__item
                    a(href="/" class="news__item-container")
                        span.photos-and-videos__item-image
                            img(src="images/news/news_19.09.2021_sm-1.png")
                        div.photos-and-videos__item-content
                            span.photos-and-videos__item-date 19 сентября 2021
                            h3.photos-and-videos__item-title Визит сотрудников Посольства ФРГ в г. Москва в Исследовательский центр

                article.photos-and-videos__item
                    a(href="/" class="news__item-container")
                        span.photos-and-videos__item-image
                            img(src="images/news/news_08.07.2021_sm-1.png")
                        div.photos-and-videos__item-content
                            span.photos-and-videos__item-date 8 июля 2021
                            h3.photos-and-videos__item-title Лекции зарубежных профессоров в РШЧП в новом учебном году

        // Items
// News