div.tab-button-group
    button.tab-button.poor-vision
        span.tab-button-container
            span.tab-button-box
                span.tab-button-content
                    span.icon-poor-vision
    button.tab-button
        span.tab-button-content
            p Ru
    button.tab-button
        span.tab-button-content
            p Для студентов
    button.tab-button.last#app-menu-toggle-button
        span.tab-button-content
            //- lottie-player(id="app-menu-toggle-button-icon" src="https://assets8.lottiefiles.com/private_files/lf30_dwpb7ksx.json" style="width:32px; height: 32px;")
            //- div(class="lottie" id="app-menu-toggle-button-icon" style="width:32px; height: 32px;" data-animation-path="https://assets8.lottiefiles.com/private_files/lf30_dwpb7ksx.json" data-name="app-menu-toggle-button")
            div(style="width:32px; height: 32px;")#app-menu-toggle-button-icon