div.tabbar.app-header-tabbar
    // Search Button
    div.tab-button-group.app-header__tabbar-search
        button.tab-button.app-search-button#app-search-button
            span.tab-button-content
                div.search-button-icon
    // Controllers
    div.tab-button-group.app-header__tabbar-controllers
        button.tab-button.poor-vision
            span.tab-button-container
                span.tab-button-box
                    span.tab-button-content
                        span.icon-poor-vision
        button.tab-button
            span.tab-button-content
                p Ru
        button.tab-button
            span.tab-button-content
                p Для студентов
    // Search Toggle
    div.tab-button-group.app-header__tabbar-menu-toggle-button
        button.tab-button.last#app-menu-toggle-button
            span.tab-button-content
                div(style="width:32px; height: 32px;")#app-menu-toggle-button-icon