div.tab-button-group
    button.tab-button.poor-vision
        span.tab-button-container
            span.tab-button-box
                span.tab-button-content
                    span.icon-poor-vision
    button.tab-button
        span.tab-button-content
            p Ru
    button.tab-button
        span.tab-button-content
            p Для студентов
    button.tab-button.last#app-menu-toggle-button
        span.tab-button-content
            p Меню