.navigation-menu {
    display: block;
    position: relative;
    @include box(100%, $navigation-menu-height);

    &-container {
        display: block;
        position: relative;
        @include box(inherit);
    }

    //ul
    &__list {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(flex-end);
        @include box(inherit);
        gap: 25px;
        list-style: none;

        //li
        &-item {
            @include flexbox();
            @include flex-direction(row);
            @include align-items(center);
            gap: px2em(6px);
            position: relative;
            height: inherit;

            //a
            &-link {
                @include flexbox();
                @include flex-direction(row);
                gap: $navigation-menu-item-content-gap;
                @include justify-content(center);
                @include align-items(center);
                height: inherit;
                font-size: px2em(14px);//$navigation-menu-item-link-font-size;
                font-weight: 500;//$navigation-menu-item-text-font-weight;
                padding: 0;
                margin: 0;
                white-space: nowrap;
                cursor: pointer;
            }

            &-underline {
                display: block;
                position: absolute;
                bottom: $navigation-menu-secondary-item-underline;
                height: $navigation-menu-secondary-item-underline;
                width: 0%;
                // background-color: $navigation-menu-item-underline-color; //Theme
                margin: auto;
            }

            &:hover, &.active, &:focus {

                .navigation-menu__list-item-underline {
                    width: 100%;
                }
            }

            &.expansion {

                &::after {
                    @extend .icon-backward !optional; 
                    font-family: $icon;
                    font-size: $navigation-menu-item-icon-font-size;
                    // padding-top: 2px;
                    opacity: 0.4;
                }

                &:hover, &.active, &:focus {

                    &::after {
                        transform: rotate(180deg);
                    }
                }
            }
            
            //Dropdown
            .navigation-menu__list {
                @include flexbox();
                @include flex-direction(column);
                @include align-items(flex-start);
                gap: 0;
                position: absolute;
                top: $navigation-menu-item-group-top;
                background-color: $white;
                visibility: hidden;
                padding: px2em(30px) px2em(35px);
                width: max-content;
                min-width: 100%;
                max-width: $navigation-menu-item-group-max-width;
                height: auto;
                box-shadow: 0px 8px 16px rgba($app-header-shadow-color, 0.1);
                border-radius: 0px 0px 3px 3px;
                border-left: 1px solid $app-header-border-bottom-color;
                border-bottom: 1px solid $app-header-border-bottom-color;
                border-right: 1px solid $app-header-border-bottom-color;

                &-item {
                    width: 100%;
                    
                    &:not(:nth-last-child(1)) {
                        border-bottom: 1px solid lighten($app-header-border-bottom-color, 3%);
                    }

                    .navigation-menu__list-item-link {
                        @include flexbox;
                        @include justify-content(flex-start);
                        padding: px2em(15px) 0px;
                        margin: 0;
                        width: 100%;
                        // padding: px2em(0px) px2em(5px);
                        white-space: pre-wrap;
                        font-size: px2em(14px);
                        font-weight: 400;
                        cursor: pointer;
                        // color: $navigation-menu-item-link-color-inverse;//Theme
                    }
                }
            }

            &:hover {

                .navigation-menu__list {
                    visibility: visible;
                }
            }

            &:nth-last-child(1){

                .navigation-menu__list-item-group {
                    right: 0;
                }
            }
        }
    }
}