// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="center_about-center.html") Центр
                li.nav-line__item
                    a(href="center_countering-terrorism-and-corruption.html") Противодействие терроризму и коррупции
                li.nav-line__item
                    a(href="center_countering-terrorism-and-corruption_income-details.html") Сведения о доходах
                    
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="center_about-center.html") О центре
                    li.section-nav__item
                        a(href="center_expert-and-research-activities.html") Экспертная и научно-исследовательская деятельность
                    li.section-nav__item
                        a(href="center_scientific-departments.html") Научные отделы
                    li.section-nav__item
                        a(href="center_editions.html") Издания
                    li.section-nav__item
                        a(href="center_ural-branch.html") Уральский филиал
                    li.section-nav__item.active
                        a(href="center_countering-terrorism-and-corruption.html") Противодействие терроризму и коррупции
            div.section-nav--secondary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption.html") Об организации работы в Исследовательском центре...
                    li.section-nav__item.active
                        a(href="center_countering-terrorism-and-corruption_income-details.html") Сведения о доходах
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption_anti-corruption-and-interest-settlement-commission.html") Комиссия по противодействию коррупции и урегулированию интересов
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption_feedback.html") Обратная связь
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption_library-of-normative-legal-and-other-acts.html") Библиотека нормативных, правовых и иных актов
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Сведения о доходах
        // Section Header
        div.section
            div.section-body
                div.section-body-container
                    // Expansion Group
                    div.expansion-section
                        // Expansion Group
                        div.expansion-section-group
                            div.expansion-section-group-header
                                div.expansion-section-group-header-container
                                    div.expansion-section-group-header-content
                                        h5.expansion-section-group-title Сведения о среднемесячной заработной плате
                                        div.expansion-section-group-icon
                            div.expansion-section-group-body
                                div.documents
                                    div.documents-container
                                        // Items
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Положение о Комиссии по противодействию коррупции и урегулированию конфликтов интересов в федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права при Президенте Российской Федерации
                                                        span.documents__item-size PDF 2 МБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Кодекс этики и служебного поведения сотрудников федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации»
                                                        span.documents__item-size PDF 23 КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №99 от «31» декабря 2013 года «О создании комиссии по противодействию и профилактике коррупции».
                                                        span.documents__item-size PDF 1.3 МБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №190 от «2» сентября 2015 года «Об утверждении перечня должностей в Федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права имени С.С.Алексеева при Президенте Российской Федерации», при назначении на которые сотрудники обязаны представлять сведения о своих доходах, об имуществе и обязательствах имущественного характера, а также сведения о доходах, об имуществе и обязательствах имущественного характера своих супруги (супруга) и несовершеннолетних детей»
                                                        span.documents__item-size PDF 1.2 МБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №193 от «8» сентября 2015 года «О распространении на сотрудников, замещающих определенные должности в Федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права имени С.С.Алексеева при Президенте Российской Федерации», ограничений, запретов и обязанностей, установленных для федеральных государственных гражданских служащих»
                                                        span.documents__item-size PDF 234 КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №195 от «11» сентября 2015 года «Об утверждении перечня должностей Федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С.Алексеева при Президенте Российской Федерации» (далее ИЦЧП), замещение которых влечет за собой размещение сведений о доходах, об имуществе и обязательствах имущественного характера на официальном сайте ИЦЧП»
                                                        span.documents__item-size PDF 32 КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №197 от «15» сентября 2015 года «О порядке сообщения сотрудниками Федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С.Алексеева при Президенте Российской Федерации» о получении подарка в связи с протокольными мероприятиями, участие в которых связано с их должностными положениями или исполнением ими должностных обязанностей, а также о сдаче и оценке подарка, реализации (выкупа) и зачисления средств, вырученных от его реализации»
                                                        span.documents__item-size PDF 17 КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №118 от «30» июня 2016 года «О принятии мер по повышению эффективности противодействия коррупции в Федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права имени С.С.Алексеева при Президенте Российской Федерации» в части образовательной деятельности»
                                                        span.documents__item-size PDF 501 КБ
                                                    span.documents__item-helper-icon.icon-download
                        // Expansion Group
                        div.expansion-section-group
                            div.expansion-section-group-header
                                div.expansion-section-group-header-container
                                    div.expansion-section-group-header-content
                                        h5.expansion-section-group-title Сведения о доходах, об имуществе и обязательствах имущественного характера
                                        div.expansion-section-group-icon
                            div.expansion-section-group-body
                                div.documents
                                    div.documents-container
                                        // Items
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Положение о Комиссии по противодействию коррупции и урегулированию конфликтов интересов в федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права при Президенте Российской Федерации
                                                        span.documents__item-size PDF 2 МБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Кодекс этики и служебного поведения сотрудников федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации»
                                                        span.documents__item-size PDF 23 КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №99 от «31» декабря 2013 года «О создании комиссии по противодействию и профилактике коррупции».
                                                        span.documents__item-size PDF 1.3 МБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №190 от «2» сентября 2015 года «Об утверждении перечня должностей в Федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права имени С.С.Алексеева при Президенте Российской Федерации», при назначении на которые сотрудники обязаны представлять сведения о своих доходах, об имуществе и обязательствах имущественного характера, а также сведения о доходах, об имуществе и обязательствах имущественного характера своих супруги (супруга) и несовершеннолетних детей»
                                                        span.documents__item-size PDF 1.2 МБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №193 от «8» сентября 2015 года «О распространении на сотрудников, замещающих определенные должности в Федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права имени С.С.Алексеева при Президенте Российской Федерации», ограничений, запретов и обязанностей, установленных для федеральных государственных гражданских служащих»
                                                        span.documents__item-size PDF 234 КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №195 от «11» сентября 2015 года «Об утверждении перечня должностей Федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С.Алексеева при Президенте Российской Федерации» (далее ИЦЧП), замещение которых влечет за собой размещение сведений о доходах, об имуществе и обязательствах имущественного характера на официальном сайте ИЦЧП»
                                                        span.documents__item-size PDF 32 КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №197 от «15» сентября 2015 года «О порядке сообщения сотрудниками Федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С.Алексеева при Президенте Российской Федерации» о получении подарка в связи с протокольными мероприятиями, участие в которых связано с их должностными положениями или исполнением ими должностных обязанностей, а также о сдаче и оценке подарка, реализации (выкупа) и зачисления средств, вырученных от его реализации»
                                                        span.documents__item-size PDF 17 КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Приказ №118 от «30» июня 2016 года «О принятии мер по повышению эффективности противодействия коррупции в Федеральном государственном бюджетном научном учреждении «Исследовательский центр частного права имени С.С.Алексеева при Президенте Российской Федерации» в части образовательной деятельности»
                                                        span.documents__item-size PDF 501 КБ
                                                    span.documents__item-helper-icon.icon-download