// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="center_about-center.html") Центр
                li.nav-line__item
                    a(href="center_editions.html") Издания
        //Nav Line
        // Section Header
        div.section-header
            h1.section-title Издания
        // Section Header
        div.section
            div.section-body
                div.section-body-container
                    div.article
                        div.article-section-list
                            div.article-section
                                div.article-section-body
                                    div.article-content
                                        p Текст-описание о Комиссии. Кроме того, активную, а скорее даже креативную роль Центр сыграл в исключительно важном деле сближения, гармонизации и унификации частного права, государств, образовавшихся на пространстве бывшего СССР. В 1994-1995 годах была подготовлена Модель Гражданского кодекса для стран СНГ.
                                        br
                                        p На основе этой модели ГК, с небольшим числом отступлений от нее, были приняты гражданские кодексы в восьми государствах – участниках СНГ: Армении, Белоруссии, Казахстане, Кыргызстане, России, Таджикистане, Туркменистане и Узбекистане. Позднее эта модель была во многом использована при создании ГК Украины.
                            // Books