// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="center_about-center.html") Центр
                li.nav-line__item
                    a(href="center_ural-branch.html") Уральский филиал
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="center_about-center.html") О центре
                    li.section-nav__item
                        a(href="center_expert-and-research-activities.html") Экспертная и научно-исследовательская деятельность
                    li.section-nav__item
                        a(href="center_scientific-departments.html") Научные отделы
                    li.section-nav__item
                        a(href="center_editions.html") Издания
                    li.section-nav__item.active
                        a(href="center_ural-branch.html") Уральский филиал
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption.html") Противодействие терроризму и коррупции
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Уральский филиал Исследовательского центра
        // Section Header
        div.section
            div.section-body
                div.section-body-container
                    div.article
                        div.article-section-list
                            div.article-section
                                div.article-section-body
                                    div.article-content
                                        h3 О филиале
                                        br
                                        br
                                        p Уральское отделение Российской школы частного права образовано в 1995 году в соответствии с Программой «Становление и развитие частного права в России».
                                        br
                                        p Своим созданием Уральское отделение Российской школы частного права обязано первому ректору Российской школы частного права Станиславу Антоновичу Хохлову, который также является выходцем Уральской школы права.
                                        br
                                        p Организационной, подготовительной работой по поручению С.А. Хохлова занимался Владимир Александрович Плетнев.
                                        br
                                        p После образования УО РШЧП его возглавил Георгий Геннадьевич Пиликин, а председателем Ученого совета был Сергей Сергеевич Алексеев.
                                        br
                                        p В 2015 году  в результате реорганизации Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации  путем присоединения к нему Российской школы частного права (включая Уральский филиал) был создан Уральский филиал федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации»
                                        br
                                        p В настоящее время руководство Уральским филиалом осуществляет доктор юридических наук, профессор, Заслуженный юрист Российской Федерации Бронислав Мичиславович Гонгало, а заместителем директора является кандидат юридических наук, Заслуженный юрист Российской Федерации Михаил Львович Скуратовский.
                                        hr
                                        h3 История филиала
                                        br
                                        br
                                        p В Уральском филиале преподавали и преподают такие ведущие уральские цивилисты как профессор Белых Владимир Сергеевич, профессор Головина Светлана Юрьевна, профессор Гонгало Бронислав Мичиславович, профессор Казанцев Михаил Федорович, профессор Решетникова Ирина Валентиновна, профессор Ярков Владимир Владимирович  и другие специалисты высочайшего уровня.
                                        br
                                        p Стоит отметить, что в учебном процессе также участвуют специалисты-практики, главным образом из судебной системы, а также из других правоприменительных органов государственной власти.
                                        br
                                        p Сотрудники, преподаватели и студенты Уральского филиала принимают активное участие в научных и научно-практических конференциях, круглых столах, семинарах, олимпиадах. С участием наших преподавателей регулярно проводятся учеба молодых судей и помощников судей арбитражных судов; заседания научно-консультативных советов  арбитражных судов, федеральной нотариальной палаты, федеральной службы судебных приставов и т.д. Кроме того, проводятся постоянно действующие курсы повышения квалификации нотариусов.
                                        br
                                        p Одним из достижений Уральского филиала Исследовательского центра является подготовка исключительно высококвалифицированных магистров юриспруденции в области частного права.
                                        br
                                        p Значительное число выпускников Филиала трудоустроены в органы государственной власти Российской Федерации, органы законодательной и исполнительной власти Свердловской области, органы местного самоуправления. Многие выпускники работают в органах судебной власти.
                                        br
                                        p Помимо государственной службы выпускники Филиала востребованы в правовом обеспечении деятельности крупных коммерческих организаций Уральского региона (крупные металлургические холдинги, компании сферы энергетики, банки).
                                        br
                                        p Многие выпускники Филиала, помимо основной работы, занимаются научной и преподавательской деятельностью, имеют научные публикации.
                                        br
                                        p Среди выпускников Уральского филиала Российской школы частного права председатель Арбитражного суда Свердловской области Светлана Александровна Цветкова, заместители председателя Арбитражного суда Свердловской области Александр Николаевич Крюков и Милана Фаритовна Сабирова, заместитель проректора Уральского федерального университета по экономике и стратегическому развитию Жабреев Михаил Владимирович, заместитель декана юридического факультета Пермского национального университета, доктор юридических наук Кузнецова Ольга Анатольевна, доцент кафедры гражданского и семейного права Московского государственного юридического университета им. О.Е. Кутафина Ирина Зориктуевна Аюшеева, доцент кафедры гражданского права Уральского государственного юридического университета  Дмитрий Витальевич Мурзин, заместитель руководителя регионального отделения Федеральной службы по финансовым и рынкам в Уральском федеральном округе Денис Викторович Бурачевский, председатель Комитета по управлению имуществом администрации городского округа Верхняя Пышма Дмитрий Владимирович Смышляев.
                                        hr
                                        // Persons
                                        div.article-section
                                            div.article-section-header
                                                h3.article-section-header-title Руководитель
                                            div.article-section-body
                                                div.person-card
                                                    a(href="persons-detail.html" class="person-card-container")
                                                        div.person-card__section-image
                                                            span.person-card-image
                                                                img(src="images/persons/persons_suhanov_sm-1.png")
                                                        div.person-card__section-content
                                                            div.person-card__section-content-header
                                                                h3.person-card__item-name Суханов Евгений Алексеевич
                                                                p.person-card__item-description Научный руководитель Исследовательского центра, д.ю.н., профессор
                                                                span.person-card__item-tag Исследовательский центр
                                                            div.person-card__section-content-body
                                                                div.article
                                                                    div.article-content
                                                                        p В соответствии с пунктом 23 Устава Исследовательского центра частного права  научный руководитель осуществляет координацию научной деятельности Исследовательского центра.
                                                                        br 
                                                                        p Научный руководитель избирается открытым голосованием на заседании совета на 5 лет из числа ведущих российских ученых, пользующихся авторитетом в мировом научном сообществе, внесших существенный вклад в развитие юридической науки.
                                                div.section-footer.align-right
                                                    div.section-button
                                                        a(href="persons-detail.html") Читать полностью
                                                        