// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="center_about-center.html") Центр
                li.nav-line__item
                    a(href="center_countering-terrorism-and-corruption.html") Противодействие терроризму и коррупции
                li.nav-line__item
                    a(href="center_countering-terrorism-and-corruption_feedback.html") Обратная связь
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="center_about-center.html") О центре
                    li.section-nav__item
                        a(href="center_expert-and-research-activities.html") Экспертная и научно-исследовательская деятельность
                    li.section-nav__item
                        a(href="center_scientific-departments.html") Научные отделы
                    li.section-nav__item
                        a(href="center_editions.html") Издания
                    li.section-nav__item
                        a(href="center_ural-branch.html") Уральский филиал
                    li.section-nav__item.active
                        a(href="center_countering-terrorism-and-corruption.html") Противодействие терроризму и коррупции
            div.section-nav--secondary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption.html") Об организации работы в Исследовательском центре...
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption_income-details.html") Сведения о доходах
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption_anti-corruption-and-interest-settlement-commission.html") Комиссия по противодействию коррупции и урегулированию интересов
                    li.section-nav__item.active
                        a(href="center_countering-terrorism-and-corruption_feedback.html") Обратная связь
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption_library-of-normative-legal-and-other-acts.html") Библиотека нормативных, правовых и иных актов
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Обратная связь
            //- p.section-date 7 октября 2021
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    // Article
                    div.article-section
                        div.article-section-body
                            div.article-columns
                                div.article-content
                                    p Текст с рекомендациями, как сообщать о фактах коррупции. Кроме того, активную, а скорее даже креативную роль Центр сыграл в исключительно важном деле сближения, гармонизации и унификации частного права, государств, образовавшихся на пространстве бывшего СССР. В 1994-1995 годах была подготовлена Модель Гражданского кодекса для стран СНГ. На основе этой модели ГК, с небольшим числом отступлений от нее, были приняты гражданские кодексы в восьми государствах – участниках СНГ: Армении, Белоруссии, Казахстане, Кыргызстане, России, Таджикистане, Туркменистане и Узбекистане. Позднее эта модель была во многом использована при создании ГК Украины.
                                    br
                                    hr
                                    br
                                    h3 Контакты для обращения в кадровую службу
                                    br
                                    br
                                    p по телефонам: 
                                        a(href="tel:+7495-606-36-39") 8 (495) 606-34-28
                                        span , 
                                        a(href="tel:+7-495-606-34-28") 8 (495) 606-34-28
                                    br
                                    p или по адресу электронной почты: 
                                        a(href="mailto:info@privlaw.ru") info@privlaw.ru
                    // Documents
                    div.article-section
                        div.article-section-body
                            div.documents
                                div.documents-container
                                    // Items
                                    div.documents__item
                                        a.documents__item-container(href="/")
                                            div.documents__item-icon
                                                img(src="./assets/images/docs/icon-document-doc.png", alt="")
                                            div.documents__item-content
                                                div.documents__item-content-group
                                                    h3.documents__item-title Уведомление о факте обращения каких-либо лиц в целях склонения работника Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации к совершению коррупционных правонарушений
                                                    span.documents__item-size DOC 2 МБ
                                                span.documents__item-helper-icon.icon-download
                    // Feedback
                    div.article-section
                        div.article-section-header
                            h3.article-section-header-title Форма обратной связи
                        div.article-section-body
                            form.form
                                div.form-container
                                    div.form-body
                                        div.form-group.columns
                                            div.form__field
                                                label(for="name") ФИО
                                                input(type="text" name="name")
                                            div.form__field
                                                label(for="email") Email
                                                input(type="email" required name="email")
                                        div.form__field
                                            label(for="theme") Тема
                                            input(type="text" name="theme")
                                        div.form__field
                                            label(for="message") Текст сообщения
                                            textarea(rows="10" name="message")
                                    div.form-footer.align-right
                                        div.form-button
                                            input(type="submit" value="Отправить")