-
    var documents = [
        {
            name: "Копия Устава",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Копия распоряжения",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        },
        {
            name: "Копия Лицензии на образовательную деятельность",
            description: "",
            url: "",
            type: "pdf",
            size: "87КБ"
        },
        {
            name: "Копия Свидетельства государственной аккредитации",
            description: "",
            url: "",
            type: "pdf",
            size: "36КБ"
        },
        {
            name: "Копия Свидетельства ФНС",
            description: "",
            url: "",
            type: "pdf",
            size: "265КБ"
        },
        {
            name: "Положение о научных исследованиях",
            description: "",
            url: "",
            type: "pdf",
            size: "211КБ"
        },
        {
            name: "Копия Свидетельство о профессионально-общественной аккредитации МАГИСТРАТУРА",
            description: "",
            url: "",
            type: "pdf",
            size: "117КБ"
        },
        {
            name: "Копии СВИДЕТЕЛЬСТВ к товарным знакам",
            description: "",
            url: "",
            type: "pdf",
            size: "144КБ"
        },
    ]

section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="center_about-center.html") Центр
                li.nav-line__item
                    a(href="center_expert-and-research-activities.html") Экспертная и научно-исследовательская деятельность
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="center_about-center.html") О центре
                    li.section-nav__item.active
                        a(href="center_expert-and-research-activities.html") Экспертная и научно-исследовательская деятельность
                    li.section-nav__item
                        a(href="center_scientific-departments.html") Научные отделы
                    li.section-nav__item
                        a(href="center_editions.html") Издания
                    li.section-nav__item
                        a(href="center_ural-branch.html") Уральский филиал
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption.html") Противодействие терроризму и коррупции
        // Section Nav

        // Section Header
        div.section-header
            h1.section-title Экспертная и научно-исследовательская деятельность
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    div.article-section-list
                        // About
                        div.article-section
                            div.article-section-body
                                div.article-content
                                    p К числу наиболее крупных научных работ, выполненных при непосредственном участии Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации (далее — Исследовательский центр), и оказавших существенное влияние на развитие российского гражданского законодательства относятся:
                                    br
                                    ul
                                        li Основные положения о залоге недвижимого имущества – ипотеке (приложение к распоряжению Заместителя Председателя Совета Министров – Правительства Российской Федерации от 22 декабря 1993 г. № 96-рз);
                                        li проекты части первой Гражданского кодекса Российской Федерации и федерального закона «О введении в действие части первой Гражданского кодекса Российской Федерации» (1992-1994 г.г.);
                                        li проекты части третьей Гражданского кодекса Российской Федерации и федерального закона «О введении в действие части третьей Гражданского кодекса Российской Федерации» (1994-2001 г.г.);
                                        li Концепция развития гражданского законодательства о недвижимом имуществе (2003 г.);
                                        li проекты части четвертой Гражданского кодекса Российской Федерации и федерального закона «О введении в действие части четвертой Гражданского кодекса Российской Федерации» (2005-2006 г.г.).
                                    br
                                    p В различные периоды деятельности Исследовательский центр занимался вопросами унификации гражданского законодательства (сыграл главную роль в создании первой, второй и третьей частей модельного Гражданского кодекса для стран СНГ и других модельных законов в области частного права, в подготовке проекта Основ гражданского законодательства ЕврАзЭС), развитием отдельных подотраслей и институтов гражданского законодательства Российской Федерации (исследование правовых вопросов поэтажной собственности, разработка и подготовка концепций совершенствования законодательства в части регулирования возмездного оказания услуг, транспортной экспедиции и пр.).
                                    br
                                    p Во исполнение Указа Президента Российской Федерации от 18 июля 2008 г. № 1108 «О совершенствовании Гражданского кодекса Российской Федерации» Исследовательский центр совместно с Советом при Президента Российской Федерации по кодификации и совершенствованию гражданского законодательства (далее – Совет) подготовил Концепцию развития гражданского законодательства Российской Федерации. Концепция после публичного обсуждения с участием авторитетных ученых и специалистов в области частного права одобрена решением Совета от 7 октября 2009 г., подписанным Президентом Российской Федерации, и опубликована.
                                    br
                                    p На основе Концепции Исследовательский центр выступил одним из основных разработчиков внесенного Президентом Российской Федерации в Государственную Думу и принятого в первом чтении 27 апреля 2012 г. проекта федерального закона № 47538-6 «О внесении изменений в части первую, вторую, третью, третью и четвертую Гражданского кодекса Российской Федерации, а также в отдельные законодательные акты Российской Федерации», предусматривающего внесение в Кодекс масштабных изменений. При непосредственном и самом активном участии Исследовательского центра отдельные части этого законопроекта подготовлены и были приняты в качестве отдельных федеральных законов.
                                    br
                                    p В настоящее время усилия Исследовательского центра направлены на разработку концепции развития положений части второй Гражданского кодекса Российской Федерации о договоре страхования, совершенствование законодательства о вещных правах (соответствующие рабочие группы созданы решениями Совета), а также на осуществление экспертной деятельности по вопросам, относящимся к области частного права и смежным областям права.
                                    hr
                                    // Documents
                                    h3#section Документы
                                    div.article-section
                                        //- div.article-section-header
                                        //-         h3.article-section-header-title Документы
                                        div.article-section-body
                                            div.documents
                                                div.documents-container
                                                    // Items
                                                    each document in documents
                                                        div.documents__item
                                                            a.documents__item-container(href="/")
                                                                div.documents__item-icon
                                                                    img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                div.documents__item-content
                                                                    div.documents__item-content-group
                                                                        h3.documents__item-title=document.name
                                                                        span.documents__item-size=document.size
                                                                    span.documents__item-helper-icon.icon-download
                                                    