// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="center_about-center.html") Центр
                li.nav-line__item
                    a(href="center_scientific-departments.html") Научные отделы
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="center_about-center.html") О центре
                    li.section-nav__item
                        a(href="center_expert-and-research-activities.html") Экспертная и научно-исследовательская деятельность
                    li.section-nav__item.active
                        a(href="center_scientific-departments.html") Научные отделы
                    li.section-nav__item
                        a(href="center_editions.html") Издания
                    li.section-nav__item
                        a(href="center_ural-branch.html") Уральский филиал
                    li.section-nav__item
                        a(href="center_countering-terrorism-and-corruption") Противодействие терроризму и коррупции
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Научные отделы
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    div.article-section
                        div.article-section-body
                            div.article-content
                                p Основными направлениями работы отдела законодательства о юридических лицах, как научного структурного подразделения Исследовательского центра, являются: проведение научных исследований, разработка проектов нормативных правовых актов и их концепций в сфере законодательства в области гражданско-правового положения юридических лиц и их участия в гражданском обороте, а также экспертиза проектов нормативных правовых актов и их концепций, поступающих в Исследовательский центр, а также в Совет при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства.
                                // Documents
                        //- div.article-section
                        //-     div.article-section-body
        div.section-body
            div.section-body-container
                div.link-list
                    ul.link-list-container
                        li.link-list__item
                            span.link-list__item-icon
                            a.link-list__item-link(href="") Отдел законодательства о юридических лицах
                        li.link-list__item
                            span.link-list__item-icon
                            a.link-list__item-link(href="") Отдел законодательства о вещных правах
                        li.link-list__item
                            span.link-list__item-icon
                            a.link-list__item-link(href="") Отдел законодательства об обязательствах
                        li.link-list__item
                            span.link-list__item-icon
                            a.link-list__item-link(href="") Отдел законодательства об интеллектуальных правах
                        li.link-list__item
                            span.link-list__item-icon
                            a.link-list__item-link(href="") Отдел сравнительного и международного частного права
                        li.link-list__item
                            span.link-list__item-icon
                            a.link-list__item-link(href="") Отдел семейного законодательства и законодательства о наследовании
                        li.link-list__item
                            span.link-list__item-icon
                            a.link-list__item-link(href="") Группа научных сотрудников, обеспечивающих подготовку экспертных заключений 
                            