@include respond-above (xl) {

    .content-container {
        max-width: $content-container-width-lg;
        padding-left: $content-container-padding-lg;
        padding-right: $content-container-padding-lg;
    }
}

@include respond-between (sm, xl) {

    .content-container {
        width: $content-container-width-md;
        padding-left: $content-container-padding-md;
        padding-right: $content-container-padding-md;
    }
}

@include respond-below (sm) {

    .content-container {
        width: $content-container-width-sm;
        padding-left: $content-container-padding-sm;
        padding-right: $content-container-padding-sm;
    }
}