// Carousel
//- div.carousel
//-     div.carousel-container
//-         div.carousel__list
//-             div.carousel__list-item
//-                 div.carousel__list-item-container
//-                     div.carousel__list-item-image
//-                         a(href="./#", class="carousel__list-item-image-link")
//-                             img(src="src/assets/images/background/news1.jpg")
//-                     div.carousel__list-item-content
//-                         span.carousel__list-item-content-group
//-                             h3 Повышение квалификации
//-                             p Повышение квалификации преподавателейкафедр гражданского праваи смежных дисциплин
div.main-slider.owl-carousel.owl-theme-privlaw
    div.main-slider__item
        div.main-slider__item-container
            span.main-slider__item-content-group
                h3 1 Повышение квалификации
                p Повышение квалификации преподавателейкафедр гражданского праваи смежных дисциплин
    div.main-slider__item
        div.main-slider__item-container
            span.main-slider__item-content-group
                h3 2 Повышение квалификации
                p Повышение квалификации преподавателейкафедр гражданского праваи смежных дисциплин
    div.main-slider__item
        div.main-slider__item-container
            span.main-slider__item-content-group
                h3 3 Повышение квалификации
                p Повышение квалификации преподавателейкафедр гражданского праваи смежных дисциплин
// Carousel