// Carousel
div.main-slider.owl-carousel.owl-theme-privlaw
    div.main-slider__item(style="background-image: url('images/main-slider/slider_01.png');")
        div.main-slider__item-container
            div.main-slider__item-content
                span.main-slider__item-content-group
                    h3 Повышение квалификации
                    p Повышение квалификации преподавателей кафедр гражданского права и смежных дисциплин
    div.main-slider__item(style="background-image: url('images/main-slider/slider_01.png');")
        div.main-slider__item-container
            div.main-slider__item-content
                span.main-slider__item-content-group
                    h3 Повышение квалификации
                    p Повышение квалификации преподавателей кафедр гражданского права и смежных дисциплин
    div.main-slider__item(style="background-image: url('images/main-slider/slider_01.png');")
        div.main-slider__item-container
            div.main-slider__item-content
                span.main-slider__item-content-group
                    h3 Повышение квалификации
                    p Повышение квалификации преподавателейк афедр гражданского права и смежных дисциплин
// Carousel