%banner-button {
    display: inline-flex;
    @include justify-content(center);
    @include align-items(center);
    height: initial;
    width: auto;
    border-width: 1px;
    border-style: solid;

    &-link, a {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        color: inherit;
        font-size: 16px;
        letter-spacing: 0.3px;
        padding: px2em(10px) px2em(20px);
    }

    &:not(.active, :hover, :focus, :active) {
        color: $white;
        border-color: $white;
        background-color: rgba($accent-color, 0.0);
    }
    
    &.active, &:hover, &:focus, &:active {
        color: $white;
        border-color: $accent-color;
        background-color: $accent-color;
    }
}