%button {
    // @include flexbox();
    position: relative;
    overflow: hidden;
    // color: $accent-color;
    // border: 1px solid $accent-color;
    // border-radius: px2em(3px);
    @include transition(transform, 50ms, ease-out);

    a, * {
        font-size: px2em(16px);
        // color: inherit;
        padding: px2em(10px) px2em(20px);
    }

    &:hover {
        // color: $white;
        // background-color: $accent-color;
    }

    &:active {
        transform: scale(0.97);
    }
}