// Menu Navigation
div.menu-navigation
    div.menu-navigation-container
        div.menu-navigation-group
            ul
                li
                    a(href="events.html") Мероприятия
                li
                    a(href="news.html") Новости
                li
                    a(href="personalities.html") Персоналии
                li
                    a(href="foto-and-video.html") Фото и видео
                li
                    a(href="contacts.html") Контакты
        div.menu-navigation-group
            ul
                li
                    a(href="#") Исследовательский центр
                ul
                    li
                        a(href="#") О центре
                    li
                        a(href="#") Экспертная и научно-исследовательская деятельность
                    li
                        a(href="#") Научные отделы
                    li
                        a(href="#") Уральский филиал
                    li
                        a(href="#") Издания
                    li
                        a(href="#") Противодействие терроризму и коррупции
            ul
                li
                    a(href="#") Музей
        div.menu-navigation-group
            ul
                li
                    a(href="#") Российская школа частного права
                ul
                    li
                        a(href="#") Об РШЧП
                    li
                        a(href="#") Магистратура
                    li
                        a(href="#") Повышение квалификации
                    li
                        a(href="#") Кафедры
                    li
                        a(href="#") Учебный отдел
                    li
                        a(href="#") Стажировки и практика
                    li
                        a(href="#") Выпускники
            ul
                li
                    a(href="#") Диссертационный совет
        div.menu-navigation-group
            ul
                li
                    a(href="#") Совет по кодификации
                ul
                    li
                        a(href="#") О Совете
                    li
                        a(href="#") Деятельность
                    li
                        a(href="#") Новости
            ul
                li
                    a(href="#") Просветительские проекты
                ul
                    li
                        a(href="#") Диалоги о частном праве
                    li
                        a(href="#") Клуб семейного права
                    li
                        a(href="#") Алексеевские чтения