@include respond-above(xl) {

    .app-menu {
        display: none;
        top: $app-header-height-lg;
        height: calc(100% - #{$app-header-height-lg});
    }
}

@include respond-between(sm, xl) {

    .app-menu {
        display: block;
        top: $app-header-height-md;
        height: calc(100% - #{$app-header-height-md});
    }
}

@include respond-below(sm) {

    .app-menu {
        display: none;
        top: $app-header-height-sm;
        height: calc(100% - #{$app-header-height-sm});
    }
}