.app-menu {
    position: absolute;
    top: 119px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    overflow: hidden;
    z-index: 9998;

    &-container {
        @extend %main-container;
        height: 100%;
        overflow: auto;
    }

    &-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}