.footer-navigation {
    width: 100%;

    &-content {
        @include flexbox();
        @include flex-direction(row);
        gap: 30px;
        @include justify-content(center);
        // @include align-items(center);
        @include box(inherit);
    }

    &-column {
        // @include flexbox();
        // @include flex-direction(column);
        @include box(100%, auto);
    }

    &-list {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include box(inherit);
        // gap: 25px;
        list-style: none;

        &-item {
            @include flexbox();
            @include flex-direction(column);
            position: relative;
            @include box(inherit);
            cursor: pointer;

            a, &-content {
                @include flexbox();
                @include flex-direction(row);
                @include justify-content(flex-start);
                gap: $navigation-menu-item-content-gap;
                height: inherit;
                color: $white;
                font-size: px2em(15px);
                font-weight: 500;
                letter-spacing: px2em(0.3px);
                padding: px2em(10px) px2em(0px);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        //Nested List
        & > & {
            padding-bottom: 15px;

            a, .footer-navigation-item-content {
                font-size: px2em(14px);
                font-weight: 400;
                color: #FAC5D8;//$accent-color-lighten-300;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}