mixin items(...items)

    mixin item(href, title)
        li.navigation-top-menu__item
            a(href=href class="navigation-top-menu__item-content")
                p=title
            div.navigation-top-menu__item-underline

    each item in list
        +item(item.href, item.title)

// Navigation Top Menu
div.navigation-top-menu
    div.navigation-top-menu-container
        ul.navigation-top-menu-content
            // Items
            -
                var list=[
                    {href: "./events.html", title: "Мероприятия"},
                    {href: "./news.html", title: "Новости"},
                    {href: "./persons.html", title: "Персоналии"},
                    {href: "./foto-and-video.html", title: "Фото и видео"},
                    {href: "./contacts", title: "Контакты"}
                    ]

            +items(list)
            // Items
// Navigation Top Menu