// Navigation Menu
nav.navigation-menu
    div.navigation-menu-container
        ul.navigation-menu-content
            // Items
            li.navigation-menu__item
                a(href="#" class="navigation-menu__item-content")
                    p Центр
                div.navigation-menu__item-underline
            li.navigation-menu__item
                a(href="#" class="navigation-menu__item-content")
                    p РШЧП
                div.navigation-menu__item-underline
            li.navigation-menu__item
                a(href="#" class="navigation-menu__item-content")
                    p Совет по кодификации
                div.navigation-menu__item-underline
            li.navigation-menu__item
                a(href="#" class="navigation-menu__item-content")
                    p Диалоги о частном праве 
                div.navigation-menu__item-underline
            li.navigation-menu__item.expansion
                a(href="#" class="navigation-menu__item-content")
                    p Просветительские проекты
                    div.navigation-menu__item-expansion-icon
                div.navigation-menu__item-underline
                div.navigation-menu__item-group
                    div.navigation-menu__item-group-container
                        span.navigation-menu__item-group__nested-item
                            a(href="#") Клуб семейного права
                        span.navigation-menu__item-group__nested-item
                            a(href="#") Алексеевские чтения
            li.navigation-menu__item
                a(href="#" class="navigation-menu__item-content")
                    p Музей
                div.navigation-menu__item-underline
            // Items
// Navigation Menu