mixin items(...items)

    mixin nestedItem(href, title)
        span.navigation-menu__item-group__nested-item
            a(href=href)=title

    mixin item(href, title, nested)
            a(href=href class="navigation-menu__item-content")
                p=title
            div.navigation-menu__item-underline

    each item in list
        li.navigation-menu__item
            +item(item.href, item.title)

            if item.nested[0].href.length > 0
                div.navigation-menu__item-group
                    div.navigation-menu__item-group-container
                        each nestedItem in item.nested
                            +nestedItem(nestedItem.href, nestedItem.title)

// Navigation Menu
nav.navigation-menu
    div.navigation-menu-container
        ul.navigation-menu-content
            // Items
            -
                var list=[
                    {href: "./centre.html", title: "Центр",
                        nested: [
                            {href: "", title: ""}
                        ]},
                    {href: "./rshchp.html", title: "РШЧП",
                        nested: [
                            {href: "", title: ""}
                        ]},
                    {href: "./codification-council.html", title: "Совет по кодификации",
                        nested: [
                            {href: "", title: ""}
                        ]},
                    {href: "./private-law-dialogues.html", title: "Диалоги о частном праве",
                        nested: [
                            {href: "", title: ""}
                        ]},
                    {href: "./educational-projects.html", title: "Просветительские проекты",
                        nested: [
                            {href: "./family-law-club.html", title: "Клуб семейного права"},
                            {href: "./alekseevsky-readings.html", title: "Алексеевские чтения"}
                        ]},
                    {href: "./museum.html", title: "Музей",
                        nested: [
                            {href: "", title: ""}
                        ]}
                ]
            +items(list)
            // Items
// Navigation Menu