mixin article(href, title)
    li.navigation-menu__item
        a(href=href class="navigation-menu__item-content")
            p=title
        div.navigation-menu__item-underline

//- li.navigation-menu__item.expansion
//-     a(href=href class="navigation-menu__item-content")
//-         p title
//-         div.navigation-menu__item-expansion-icon
//-     div.navigation-menu__item-underline
//-     div.navigation-menu__item-group
//-         div.navigation-menu__item-group-container
//-             span.navigation-menu__item-group__nested-item
//-                 a(href="#") Клуб семейного права
//-             span.navigation-menu__item-group__nested-item
//-                 a(href="#") Алексеевские чтения

// Navigation Menu
nav.navigation-menu
    div.navigation-menu-container
        ul.navigation-menu-content
            // Items
            -
                var list=[
                    {href: "./centre.html", title: "Центр",
                        expansion: [

                        ]},
                    {href: "./rshchp.html", title: "РШЧП",
                        expansion: [

                        ]},
                    {href: "./codification-council.html", title: "Совет по кодификации",
                        expansion: [

                        ]},
                    {href: "./private-law-dialogues.html", title: "Диалоги о частном праве",
                        expansion: [

                        ]},
                    {href: "./educational-projects.html", title: "Просветительские проекты",
                        expansion: [

                        ]},
                    {href: "./museum.html", title: "Музей",
                        expansion: [

                        ]},
                ]
            each item in list
                +article(item.hred, item.title)


            //- ["./rshchp.html", "РШЧП"],
                    //- ["./codification-council.html", "Совет по кодификации"],
                    //- ["./private-law-dialogues.html", "Диалоги о частном праве"],
                    //- ["./educational-projects", "Просветительские проекты"],
                    //- ["museum", "Музей"]


            //- li.navigation-menu__item
            //-     a(href="#" class="navigation-menu__item-content")
            //-         p Центр
            //-     div.navigation-menu__item-underline
            //- li.navigation-menu__item
            //-     a(href="#" class="navigation-menu__item-content")
            //-         p РШЧП
            //-     div.navigation-menu__item-underline
            //- li.navigation-menu__item
            //-     a(href="#" class="navigation-menu__item-content")
            //-         p Совет по кодификации
            //-     div.navigation-menu__item-underline
            //- li.navigation-menu__item
            //-     a(href="#" class="navigation-menu__item-content")
            //-         p Диалоги о частном праве 
            //-     div.navigation-menu__item-underline
            //- li.navigation-menu__item.expansion
            //-     a(href="#" class="navigation-menu__item-content")
            //-         p Просветительские проекты
            //-         div.navigation-menu__item-expansion-icon
            //-     div.navigation-menu__item-underline
            //-     div.navigation-menu__item-group
            //-         div.navigation-menu__item-group-container
            //-             span.navigation-menu__item-group__nested-item
            //-                 a(href="#") Клуб семейного права
            //-             span.navigation-menu__item-group__nested-item
            //-                 a(href="#") Алексеевские чтения
            //- li.navigation-menu__item
            //-     a(href="#" class="navigation-menu__item-content")
            //-         p Музей
            //-     div.navigation-menu__item-underline
            // Items
// Navigation Menu