// Navigation Top Menu
div.navigation-top-menu
    div.navigation-top-menu-container
        ul.navigation-top-menu-content
            // Items
            li.navigation-top-menu__item
                a(href="./events.html" class="navigation-top-menu__item-content")
                    p Мероприятия
                div.navigation-top-menu__item-underline
            li.navigation-top-menu__item.active
                a(href="./news.html" class="navigation-top-menu__item-content")
                    p Новости
                div.navigation-top-menu__item-underline
            li.navigation-top-menu__item
                a(href="./persons.html" class="navigation-top-menu__item-content")
                    p Персоналии
                div.navigation-top-menu__item-underline
            li.navigation-top-menu__item
                a(href="#" class="navigation-top-menu__item-content")
                    p Фото и видео
                div.navigation-top-menu__item-underline
            li.navigation-top-menu__item
                a(href="#" class="navigation-top-menu__item-content")
                    p Контакты
                div.navigation-top-menu__item-underline
            // Items
// Navigation Top Menu