// Section Nav
div.section-nav-wrapper
    div.section-nav--primary
        ul.section-nav-container
            li.section-nav__item.active
                a(href="center_about-center.html") О центре
            li.section-nav__item
                a(href="center_expert-and-research-activities.html") Экспертная и научно-исследовательская деятельность
            li.section-nav__item
                a(href="center_scientific-departments.html") Научные отделы
            li.section-nav__item
                a(href="center_editions.html") Издания
            li.section-nav__item
                a(href="center_ural-branch.html") Уральский филиал
            li.section-nav__item
                a(href="center_countering-terrorism-and-corruption") Противодействие терроризму и коррупции
// Section Nav