// Section Nav
div.section-nav-wrapper
    div.section-nav--primary
        ul.section-nav-container
            li.section-nav__item.active
                a(href="#") Раздел 1
            li.section-nav__item
                a(href="#") Раздел 2
            li.section-nav__item
                a(href="#") Раздел 3
            li.section-nav__item
                a(href="#") Раздел 4
            li.section-nav__item
                a(href="#") Раздел 5
            li.section-nav__item
                a(href="#") Раздел 5
            li.section-nav__item
                a(href="#") Раздел 6
            li.section-nav__item
                a(href="#") Раздел 7
            li.section-nav__item
                a(href="#") Раздел 8
            li.section-nav__item
                a(href="#") Раздел 9
            li.section-nav__item
                a(href="#") Раздел 10
            li.section-nav__item
                a(href="#") Раздел 11
            li.section-nav__item
                a(href="#") Раздел 12
    div.section-nav--secondary
        ul.section-nav-container
            li.section-nav__item.active
                a(href="#") Раздел 1
            li.section-nav__item
                a(href="#") Раздел 2
            li.section-nav__item
                a(href="#") Раздел 3
            li.section-nav__item
                a(href="#") Раздел 4
// Section Nav