// Section Nav
div.section-nav--primary
    ul.section-nav-container
        li.section-nav__item.active
            a(href="#") Раздел 1
        li.section-nav__item
            a(href="#") Раздел 2
        li.section-nav__item
            a(href="#") Раздел 3
        li.section-nav__item
            a(href="#") Раздел 4
div.section-nav--secondary
    ul.section-nav-container
        li.section-nav__item.active
            a(href="#") Раздел 1
        li.section-nav__item
            a(href="#") Раздел 2
        li.section-nav__item
            a(href="#") Раздел 3
        li.section-nav__item
            a(href="#") Раздел 4
// Section Nav