.navigation-menu {

    &__list {

        &-item {

        &-underline {
            @include themify($themes-header) {
                background-color: themed('navigationMenuItemUnderlineColor'); 
            }
        }

        .navigation-menu__list-item-link {
            @include themify($themes-header) {
                color: themed('navigationMenuItemLinkColor'); 
            }
        }

        &:hover, &.active {

            .navigation-menu__list-item-underline {
                @include themify($themes-header) {
                    background-color: themed('navigationTopMenuItemUnderlineColorHover'); 
                }
            }

            .navigation-menu__list-item-link {
                @include themify($themes-header) {
                    color: themed('navigationMenuItemLinkColorHover') !important; 
                }
            }
        }

        .navigation-menu__list {

            .navigation-menu__list-item-link {
                @include themify($themes-header) {
                    color: themed('navigationMenuItemGroupLinkColor') !important; 
                }

                &:hover {
                    @include themify($themes-header) {
                        color: themed('navigationMenuItemLinkColorHover') !important; 
                    }
                }
            }
        }
        } 
    }
}