.navigation-menu {
    display: block;
    position: relative;
    @include box(100%, $navigation-menu-height);

    &-container {
        display: block;
        position: relative;
        @include box(inherit);
    }

    &-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @include box(inherit);
        gap: 20px;
        list-style: none;
    }

    //ul
    &__item {
        display: flex;
        position: relative;
        flex-direction: column;
        height: inherit;

        &-content {
            display: flex;
            flex-direction: row;
            gap: $navigation-menu-item-content-gap;
            justify-content: center;
            align-items: center;
            height: inherit;

            p {
                font-weight: $navigation-menu-item-text-font-weight;
            }
        }

        &-underline {
            display: block;
            position: absolute;
            bottom: $navigation-top-menu-item-underline;
            height: $navigation-top-menu-item-underline;
            width: 0%;
            // background-color: $navigation-menu-item-underline-color; //Theme
            margin: auto;
        }

        &:hover, &.active {

            .navigation-menu__item-underline {
                width: 100%;
            }
        }

        a {
            font-size: $navigation-menu-item-link-font-size;
            // color: $navigation-menu-item-link-color;//Theme
        }

        p {
            padding: 0;
            margin: 0;
            // color: $navigation-menu-item-link-color;//Theme
        }

        &.expansion {
            
            .navigation-menu__item-expansion-icon {
                font-family: $icon;
                font-size: $navigation-menu-item-icon-font-size;
                @extend .icon-backward !optional;
                padding-top: 2px;
                opacity: 0.8;
                // &::before {
                //     content: '^';
                // }
            }
        }
        
        //Dropdown group
        &-group {
            display: block;
            position: absolute;
            top: $navigation-menu-item-group-top;
            background-color: $white;
            // opacity: 0.0;
            visibility: hidden;
            padding: px2em(20px);
            width: max-content;
            max-width: $navigation-menu-item-group-max-width;

            &-container {
                display: flex;
                flex-direction: column;
                gap: px2em(20px);
            }

            &__nested-item {

                a {
                    padding: 0;
                    margin: 0;
                    // color: $navigation-menu-item-link-color-inverse;//Theme
                }
            }
        }

        &:hover {

            .navigation-menu__item-group {
                // opacity: 1.0;
                visibility: visible;
            }
        }

        &:nth-last-child(1){

            .navigation-menu__item-group {
                right: 0;
            }
        }
    }
}