//Card Template
//entities-container-events
@include respond-above(lg) {

    %entities-container-events {
        gap: 50px;
        grid-template-columns: 1fr 1fr;
    }
}

@include respond-below(lg) {

    %entities-container-events {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}