.app-content {
    @include box(100vw, 100vh);
    background-color: $app-background-color;
    overflow: hidden;

    &-container {
        // @extend %main-container;
        @include flexbox();
        @include flex-direction(column);
        // gap: 30px;
        // padding-top: 55px;
        padding-bottom: 35px;
    }
}