$content-container-padding-lg: 40px;
$content-container-padding-md: 40px;
$content-container-padding-sm: 40px;

$content-container-width-lg: $main-container-width-lg;
$content-container-width-md: $main-container-width-md;
$content-container-width-sm: $main-container-width-sm;