$modal-main-container-padding-lg: 50px;
$modal-main-container-padding-md: 0px;
$modal-main-container-padding-sm: 0px;

$modal-main-container-width-lg: $lg;
$modal-main-container-width-md: 100%;
$modal-main-container-width-sm: auto;
