$modal-container-padding-lg: 50px;
$modal-container-padding-md: 50px;
$modal-container-padding-sm: 20px;

$modal-container-width-lg: $xl;
$modal-container-width-md: auto;
$modal-container-width-sm: auto;
