$section-padding-top-lg: 75px;
$section-padding-bottom-lg: 75px;
$section-padding-top-md: 55px; // Not used
$section-padding-bottom-md: 55px; // Not used
$section-padding-top-sm: 40px;
$section-padding-bottom-sm: 40px;