$slider-container-padding-lg: 40px;
$slider-container-padding-md: 40px;
$slider-container-padding-sm: 40px;

$slider-container-width-lg: auto;
$slider-container-width-md: $main-container-width-md;
$slider-container-width-sm: $main-container-width-sm;