.app {
    display: block;
    position: relative;
    @include box(100vw, 100vh);
    overflow: hidden;
    // background-color: $background-color;

    &-container {
        display: flex;
        position: relative;
        flex-direction: column;
        @include box(100vw, 100vh);
        overflow: hidden;
    }
}

.theme-poor-vision {

    p {
        font-size: 1.25em;
        color: $black !important;
    }

    a {
        font-size: 1.25em;
        color: $black !important;
    }

    h3 {
        font-size: 1.25em;
        color: $black !important;
    }
}