// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="privacy-policy.html") Политика конфиденциальности
        //Nav Line

        // Section Header
        div.section-header
            h1.section-title Политика конфиденциальности
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    div.article-section-list
                        // Article
                        div.article-section
                            div.article-section-body
                                div.article-content
                                    p Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую Федеральное государственное бюджетное научное учреждение «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации» (далее — Центр), обладающее в информационно-телекоммуникационной сети Интернет сайтом с доменным именем www.privlaw.ru, может получить о Пользователе во время использования сайта Центра, а также его программ.
                                    br
                                    br
                                    h5 ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
                                    br
                                    br
                                    p 1.1 В настоящей Политике конфиденциальности используются следующие термины:
                                    br
                                    p 1.1.1. Сайт – официальный сайт Центра в сети Интернет, расположенный по адресу www.privlaw.ru.
                                    br
                                    p 1.1.2. «Администрация Сайта» – Центр в лице его уполномоченных работников, которые организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
                                    br
                                    p 1.1.3. «Персональные данные» — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
                                    br
                                    p 1.1.4. «Обработка персональных данных» — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                                    br
                                    p 1.1.5. «Конфиденциальность персональных данных» — обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                                    br
                                    p 1.1.6. «Пользователь Сайта» (далее — Пользователь) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт Центра.
                                    br
                                    p 1.1.7. «Cookies» — текстовые файлы, создаваемые веб-сервером Сайта и записываемые в браузер Пользователя при первом посещении Сайта с целью автоматической идентификации Пользователя при последующих посещениях Сайта. Cookies-файлы позволяют Пользователю не проходить процедуру идентификации заново при каждом посещении Закрытой части Сайта, а Администрации Сайт – отслеживать статистику посещения Сайта новыми уникальными пользователями.
                                    br
                                    p 1.1.8. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
                                    br
                                    br
                                    h5 ОБЩИЕ ПОЛОЖЕНИЯ
                                    br
                                    br
                                    p 2.1. Использование Пользователем Сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
                                    br
                                    p 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование Сайта.
                                    br
                                    p 2.3. Настоящая Политика конфиденциальности применяется только к сайту Федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации». Центр не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Центра.
                                    br
                                    p 2.4. Администрация Сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта Центра.
                                    br
                                    br
                                    h5 ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
                                    br
                                    br
                                    p 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации Сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на Сайте или при оформлении заказа на приобретение товаров, услуг или доступа к контенту закрытой части Сайта.
                                    br
                                    p 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационной формы или формы заявки на Сайте Центра с доменным именем <a href="www.privlaw.ru">www.privlaw.ru</a> и его поддомене <a href="https://privlaw.ru/rsshp/">https://privlaw.ru/rsshp/</a> и включают в себя следующую информацию:
                                    br
                                    p 3.2.1. фамилию, имя, отчество Пользователя;
                                    br
                                    p 3.2.2. контактный телефон Пользователя;
                                    br
                                    p 3.2.3. адрес электронной почты (e-mail);
                                    br
                                    p 3.2.4. иную указанную в регистрационной форме информацию.
                                    br
                                    p 3.3. Центр защищает Данные, которые автоматически передаются при посещении страниц.
                                    br
                                    p 3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта Центра, требующим авторизации.
                                    br
                                    p 3.3.2. Центр осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
                                    br
                                    p 3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
                                    br
                                    br
                                    h5 ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
                                    br
                                    br
                                    p 4.1. Персональные данные Пользователя Администрация сайта Центра может использовать в целях:
                                    br
                                    p 4.1.1. Идентификации Пользователя, зарегистрированного на Сайте, для оформления заказа и (или) для заключения с Центром дистанционным способом Договора купли-продажи товара или Договора оказания услуг или Договора о предоставлении доступа к контенту закрытой части Сайта.
                                    br
                                    p 4.1.2. Предоставления Пользователю доступа к закрытой части Сайта.
                                    br
                                    p 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказание услуг, обработку запросов и заявок от Пользователя.
                                    br
                                    p 4.1.4. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
                                    br
                                    p 4.1.5. Создания учетной записи для пользования Сайтом, если Пользователь дал согласие на создание учетной записи.
                                    br
                                    p 4.1.6. Уведомления Пользователя Сайта центра о состоянии его заказа.
                                    br
                                    p 4.1.7. Обработки и получения платежей в рамках договорных отношений с Центром и предоставления скидок при оплате.
                                    br
                                    p 4.1.8. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сайта.
                                    br
                                    p 4.1.9. Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Центра или от имени партнеров Центра.
                                    br
                                    p 4.1.10. Осуществления рекламной деятельности с согласия Пользователя.
                                    br
                                    p 4.1.11. Предоставления доступа Пользователю на сайты или сервисы партнеров Центра с целью получения продуктов, обновлений и услуг.
                                    br
                                    br
                                    h5 СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
                                    br
                                    br
                                    p 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
                                    br
                                    p 5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациям почтовой связи, операторам электросвязи, исключительно в целях выполнения заказа Пользователя, оформленного на Сайте, включая доставку Товара.
                                    br
                                    p 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Российской Федерации только по основаниям и в порядке, установленным законодательством Российской Федерации.
                                    br
                                    p 5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
                                    br
                                    p 5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
                                    br
                                    p 5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
                                    br
                                    br
                                    h5 ОБЯЗАТЕЛЬСТВА СТОРОН
                                    br
                                    br
                                    p 6.1. Пользователь обязан:
                                    br
                                    p 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Сайтом.
                                    br
                                    p 6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
                                    br
                                    p 6.2. Администрация сайта обязана:
                                    br
                                    p 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
                                    br
                                    p 6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
                                    br
                                    p 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемому для защиты такого рода информации в существующем деловом обороте.
                                    br
                                    p 6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
                                    br
                                    br
                                    h5 ОТВЕТСТВЕННОСТЬ СТОРОН
                                    br
                                    br
                                    p 7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
                                    br
                                    p 7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
                                    br
                                    p 7.2.1. Стала публичным достоянием до её утраты или разглашения.
                                    br
                                    p 7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
                                    br
                                    p 7.2.3. Была разглашена с согласия Пользователя.
                                    br
                                    br
                                    h5 РАЗРЕШЕНИЕ СПОРОВ
                                    br
                                    br
                                    p 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                                    br
                                    p 8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                                    br
                                    p 8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
                                    br
                                    p 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.
                                    br
                                    br
                                    h5 ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
                                    br
                                    br
                                    p 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
                                    br
                                    p 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте Центра, если иное не предусмотрено новой редакцией Политики конфиденциальности.
                                    br
                                    p 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать по номеру телефона, указанному на сайте Центра.
                                    br
                                    p 9.4. Действующая Политика конфиденциальности размещена на странице по адресу: <a href="https://privlaw.ru/privacy/">https://privlaw.ru/privacy/</a>