// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="user-agreement.html") Пользовательское соглашение
        //Nav Line

        // Section Header
        div.section-header
            h1.section-title Пользовательское соглашение
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    div.article-section-list
                        // Article
                        div.article-section
                            div.article-section-body
                                div.article-content
                                    h5 ПОЛЬЗОВАТЕЛЬСКОЕ  СОГЛАШЕНИЕ ПО ИСПОЛЬЗОВАНИЮ САЙТА WWW.PRIVLAW.RU
                                    br
                                    br
                                    h5 1. Общие положения
                                    br
                                    br
                                    p 1.1. Настоящее Пользовательское соглашение определяет условия использования материалов и сервисов, расположенных на официальном сайте Федерального государственного бюджетного научного учреждения «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации» (ОГРН 1027739237041, адрес: 103132, г. Москва, ул. Ильинка, д. 8, стр.2), пользователями названного официального сайта. Официальный сайт расположен по адресу www.privlaw.ru (далее — «Сайт»).
                                    br
                                    p 1.2. Все права на Сайт, а также на размещенные на нем материалы принадлежат федеральному государственному бюджетному научному учреждению «Исследовательский центр частного права имени С.С. Алексеева при Президенте Российской Федерации» (ОГРН 1027739237041, адрес: 103132, г. Москва, ул. Ильинка, д. 8, стр.2), именуемому в дальнейшем «Правообладатель».
                                    br
                                    p 1.3. Используемые в настоящем Пользовательском соглашении термины применяются в интерпретации, указанной в настоящем пункте:
                                    br
                                    ul
                                        li Администрация сайта – Правообладатель в лице его уполномоченных работников и иных уполномоченных представителей, осуществляющих непосредственное техническое управление Сайтом и наполнение его контентом.
                                        li Закрытая часть Сайта – Контент и функционал Сайта, недоступные посетителям Сайта без предоставления специального доступа к ним Администрацией Сайта. Закрытая часть Сайта доступна Пользователям только после предоставления специального доступа Администрацией Сайта.
                                        li Контент Сайта – текстовое и графическое наполнение Сайта, а также фотографии и Видеоконтент.
                                        li Видеоконтент – видеозаписи лекций, конференций и иных мероприятий, организованных Центром.
                                        li Сопутствующий текстовый и графический контент – дополнительные материалы по теме Видеоконтента в формате текстовых файлов или файлов изображений. Предоставление доступа к Видеоконтенту одновременно предполагает и предоставление доступа к Сопутствующему текстовому и графическому контенту, относящемуся к соответствующему Видеоконтенту, если иное не предусмотрено конкретным предложением на Сайте.
                                        li Доступ к Видеоконтенту – возможность просмотра Пользователем видеозаписи, доступ к которой оплатил Пользователь или Приобретатель, посредством прохода по направленной Пользователю по электронной почте ссылке и введения уникального пароля.
                                        li Предоставление Доступа к Видеоконтенту – направление на адрес электронной почты Пользователя ссылки на место размещения Видеоконтента, доступ к которому оплатил Пользователь или Приобретатель, и уникального пароля для возможности его просмотра.
                                        li Активация доступа к Видеоконтенту – начало просмотра Пользователем видеозаписи, доступ к которой ему предоставлен, независимо от длительности просмотра.
                                        li Пользователь – любое лицо, получившее доступ к Контенту Сайта, расположенному как в открытой, так и в закрытой части Сайта.
                                        li Предоставление доступа к Видеоконтенту означает, что Правообладатель предоставляет Пользователю неисключительное право на просмотр Видеоконтента непосредственно на сайте без права скачивания, сохранения на своих носителях, копирования и распространения Видеоконтента каким бы то ни было способом.
                                        li Предоставление доступа к текстовому и графическому контенту означает, что Правообладатель предоставляет Пользователю неисключительное право на ознакомление с Контентом без права его распространения каким бы то ни было способом полностью или частично без согласия Правообладателя.
                                        li Оферта – публичная оферта Центра, присоединение к условиям которой имеет для присоединившегося лица или для лица, в интересах которого другое лицо присоединилось к Оферте, последствие в виде права на получение доступа к Закрытой части Сайта.
                                    p 1.4. Пользователи вправе неограниченно знакомиться с любым Контентом, расположенным в открытой части сайта. Любое воспроизведение и (или) распространение размещенного на Сайте Контента любым способом, кроме распространения посредством прямых ссылок на место размещения соответствующего Контента на Сайте, возможно только с предварительного согласия Админстрации Сайта и со ссылкой на источник.
                                    br
                                    p 1.5. Правообладатель предоставляет Пользователям право доступа к Контенту, размещенному в электронной (цифровой) форме в закрытой части Сайта, на условиях, являющихся предметом настоящего Пользовательского соглашения (далее – Соглашение). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном в пункте 3.1 настоящего Соглашения.
                                    br
                                    p 1.6. Пользователем Сайта, имеющим право получить доступ к Закрытой части Сайта, является лицо, заключившее или в отношении которого был заключен (в том числе посредством акцепта Оферты) договор о предоставлении доступа к Контенту Сайта за плату.
                                    br
                                    br
                                    h5 2. Порядок и условия использования доступа к Контенту Закрытой части Сайта
                                    br
                                    br
                                    p 2.1. Доступ Пользователям к Контенту Закрытой части Сайта предоставляет Администрация сайта на условиях, определенных в Оферте, а также в предложениях, размещенных на Сайте, и (или) в персональных предложениях, направляемых Администрацией Сайта.
                                    br
                                    p 2.2. Пользователь не вправе передавать уникальные данные, полученные для доступа к Закрытой части Сайта, третьим лицам, и обязан принять все возможные меры для того, чтобы эти данные не стали доступны третьим лицам. Если Правообладатель установит, что по уникальным данным, предоставленным Пользователю, доступ к Видеоконтенту использует более одного уникального посетителя сайта, то Правообладатель вправе прекратить доступ Пользователя к Видеоконтенту без возврата уплаченной суммы.
                                    br
                                    p 2.3. Пользователь должен незамедлительно уведомить Администрацию Сайта о любом ставшем ему известном случае несанкционированного использования иными лицами предоставленных ему данных для доступа к Контенту Закрытой части Сайта.
                                    br
                                    p 2.4. Пользователь не вправе распространять и использовать иным образом, кроме как для личного просмотра Контент Сайта. Любое распространение возможно только с предварительного согласия Администрации Сайта и со ссылкой на источник.
                                    br
                                    p 2.5. Администрация Сайта не несет ответственности за:
                                    ul
                                        li ненадлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами;
                                        li задержки или сбои в функционировании Сайта, возникшие вследствие непреодолимой силы, а также – любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.
                                    br
                                    p 2.6. В случае возникновения любых неполадок и трудностей в пользовании Сайтом Пользователь вправе обратиться к Администрации Сайта:
                                    br
                                    ul
                                        li По общим вопросам – по электронной почте info@privlaw.ru;
                                        li По вопросам пользования Закрытой частью сайта в части Видеоконтента, а также Сопутствующего текстового и графического контента – по электронной почте video@privlaw.ru;
                                        li По телефону 8 (495) 606-36-39, а по вопросам пользования Контентом в Закрытой части сайта – по телефону +7-965-372-06-01
                                    br
                                    br
                                    h5 3. Прочие условия
                                    br
                                    br
                                    p 3.1. Настоящее Соглашение является публичной офертой. Факт согласия Пользователя с настоящим Соглашением и присоединения к его условиям подтверждается посредством проставления Пользователем отметки о согласии с условиями Соглашения при заполнении регистрационной формы на Сайте либо при оформлении формы заявки о приобретении доступа к Видеоконтенту, размещенному в закрытой части Сайта.
                                    br
                                    p 3.2. Присоединяясь к настоящему Соглашению, Пользователь одновременно выражает свое согласие на обработку Администрацией сайта персональных данных Пользователя, указанных при его регистрации на Сайте или при заполнении формы заявки о приобретении доступа к Видеоконтенту, размещенному в закрытой части Сайта  (фамилии, имени, отчества, адреса электронной почты и телефона). Обработка персональных данных осуществляется как с использованием средств автоматизации, так и без использования таких средств и включает сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу в установленных настоящим Положении случаях, обезличивание, удаление, уничтожение персональных данных.
                                    br
                                    p 3.3. Персональные данные, предоставленные Пользователем при регистрации на Сайте, обрабатываются Администрацией сайта в целях предоставления Пользователю или указанному Пользователю лицу доступа к Закрытой части Сайта.
                                    br
                                    p 3.4. Администрация сайта сохраняет конфиденциальность и обеспечивает сохранность полученных от Пользователей персональных данных в соответствии с Политикой конфиденциальности персональных данных, размещенной на Сайте (https://privlaw.ru/privacy/). Присоединение Пользователя к настоящему Соглашению означает присоединение к Политике конфиденциальности.
                                    br
                                    p 3.5. Администрация Сайта вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом.
                                    br
                                    p 3.6. Администрация Сайта сохраняет за собой право в любое время изменять оформление Сайта, его содержание, функционал, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на Сайте, любые серверные приложения. При этом Администрация Сайта принимает меры для сохранения оплаченного доступа Пользователя к Контенту Закрытой части сайта. Если изменения, связанные с Сайтом, меняют порядок доступа Пользователя к Контенту в Закрытой части Сайта, то Администрация Сайта обязана уведомить Пользователя о новом порядке доступа.
                                    br
                                    p 3.7. Администрация Сайта оставляет за собой право вносить изменения в настоящее Соглашение. Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте. Использование Пользователем ресурсов Сайта после вступления в силу новой редакции Соглашения означает согласие с ней Пользователя и применение к нему в полном объеме положений новой редакции.
                                    br
                                    p 3.8. В случае возникновения каких-либо разногласий или споров между Сторонами настоящего Соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).
                                    br
                                    p 3.9. Получатель претензии в течение 30 календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
                                    br
                                    br
                                    p Федеральное государственное бюджетное научное учреждение
                                    p «Исследовательский центр частного права
                                    p имени С.С. Алексеева при Президенте Российской Федерации»
                                    p ИНН 7710021713 КПП 771001001
                                    p л/сч. 20736X73030 в УФК по г. Москве
                                    p сч. 40501810845252000079
                                    p ГУ Банка России по ЦФО
                                    p БИК 044525000
                                    p ОКПО 17880407 ОКТМО 45382000
                                    p ОГРН 1027739237041
                                    p Юридический адрес: 103132, г. Москва, ул. Ильинка, д. 8, стр.2.
                                    p Фактический адрес соответствует юридическому.