.date-box {
    @include flexbox();
    @include flex-direction(row);
    gap: px2em(15px);

    &__number {
        font-size: px2em(40px);
        line-height: 1.0;
        color: $primary-color;
    }

    &__group {
        @include flexbox();
        @include flex-direction(column);
    }

    &__month {
        font-size: px2em(16px);
        color: $primary-color;
        white-space: nowrap;
    }
    &__day {
        font-size: px2em(16px);
        color: $neutral-color;
    }

}