-
    var documents = [
        {
            name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2016 года по 31 декабря 2016 года",
            description: "",
            url: "",
            type: "pdf",
            size: "12КБ"
        },
        {
            name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2015 года по 31 декабря 2015 года",
            description: "",
            url: "",
            type: "pdf",
            size: "119КБ"
        },
        {
            name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2014 года по 31 декабря 2014 года",
            description: "",
            url: "",
            type: "pdf",
            size: "87КБ"
        },
        {
            name: "Сведения о доходах, расходах, об имуществе и обязательствах имущественного характера, представленные работниками, замещающими руководящие должности в организации, созданной для выполнения задач, поставленных перед Правительством Российской Федерации, за период с 1 января 2013 года по 31 декабря 2013 года",
            description: "",
            url: "",
            type: "pdf",
            size: "36КБ"
        }
    ]
    
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="rshchp.html") РШЧП
                li.nav-line__item
                    a(href="rshchp_internships-and-practice.html") Стажировки и практика
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="rshchp.html") Об РШЧП
                    li.section-nav__item
                        a(href="rshchp_masters-degree.html") Магистратура
                    li.section-nav__item
                        a(href="rshchp_training.html") Повышение квалификации
                    li.section-nav__item
                        a(href="rshchp_cathedras.html") Кафедры
                    li.section-nav__item
                        a(href="rshchp_graduates.html") Выпускники
                    li.section-nav__item
                        a(href="rshchp_graduate-school.html") Аспирантура
                    li.section-nav__item.active
                        a(href="rshchp_internships-and-practice.html") Стажировки и практика
                    li.section-nav__item
                        a(href="rshchp_information-about-the-educational-organization.html") Сведения об образовательной организации
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Стажировки и практика
        // Section Header
        div.section
            div.section-body
                div.section-body-container
                    div.article
                        div.article-section-list
                            div.article-section
                                div.article-section-body
                                    div.article-content
                                        p Успешное достижение поставленных целей и задач обеспечивается высокой квалификацией преподавательского состава – в реализации Программы задействованы ключевые научные сотрудники Центра и преподаватели Школы, члены Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства, члены научно-консультативного совета при Верховном Суде Российской Федерации.
                                        br
                                        p В реализации программы участвуют сотрудники Центра – признанные специалисты по частному праву, авторы первоклассных диссертационных исследований и многочисленных публикаций, неизменно привлекающих внимание специалистов: А.Г. Архипова, А.В. Асосков, Р.С. Бевзенко,  Д.В. Дождев, Л.Ю. Михеева, Л.А. Новоселова, Е.А. Суханов, О.Р. Зайцев, Е.А. Павлова, А.А. Сироткина, Д.И. Степанов, М.А. Церковников, А.М. Ширвиндт и многие другие. Перед слушателями выступит с лекциями также В.В. Витрянский, заместитель председателя Высшего Арбитражного Суда РФ в отставке.
                                        br
                                        p Наряду с исследовательским и педагогическим опытом, накопленным не только в Центре и Школе, но и в других ведущих российских и зарубежных центрах (ИГП РАН, ИЗиСП, МГИМО, МГУ, НИУ ВШЭ, Венский университет, Институт зарубежного и международного частного права имени Макса Планка и др.), в профессиональный багаж преподавателей Программы входит работа в высших судебных инстанциях (ВС РФ, ВАС РФ), участие в законотворческой деятельности (реформа ГК РФ, реформа страхового права и др.), рассмотрение споров в качестве третейских судей, судебное представительство, выступления в качестве экспертов в зарубежных судах и международном арбитраже.
                                        hr
                                        // Parthners
                                        h3#section Партнеры
                                        div.article-section
                                            //- div.article-section-header
                                            //-     h3.article-section-header-title Партнеры
                                            div.article-section-body
                                                div.documents
                                                    div.documents-container
                                                        // Items
                                                        each document in documents
                                                            div.documents__item
                                                                a.documents__item-container(href="/")
                                                                    div.documents__item-icon
                                                                        img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                                    div.documents__item-content
                                                                        div.documents__item-content-group
                                                                            h3.documents__item-title=document.name
                                                                            span.documents__item-size=document.size
                                                                        span.documents__item-helper-icon.icon-download