// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="rshchp.html") РШЧП
                li.nav-line__item
                    a(href="rshchp_training.html") Повышение квалификации
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="rshchp.html") Об РШЧП
                    li.section-nav__item
                        a(href="rshchp_masters-degree.html") Магистратура
                    li.section-nav__item.active
                        a(href="rshchp_training.html") Повышение квалификации
                    li.section-nav__item
                        a(href="rshchp_cathedras.html") Кафедры
                    li.section-nav__item
                        a(href="rshchp_graduates.html") Выпускники
                    li.section-nav__item
                        a(href="rshchp_graduate-school.html") Аспирантура
                    li.section-nav__item
                        a(href="rshchp_internships-and-practice.html") Стажировки и практика
                    li.section-nav__item
                        a(href="rshchp_information-about-the-educational-organization.html") Сведения об образовательной организации
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Повышение квалификации
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    div.div.article-section-list
                        div.article-section
                            div.article-section-body
                                div.article-content
                                    p Согласно пункту 2 части 5 статьи 47 Федерального закона от 29 декабря 2012 г. № 273-ФЗ «Об образовании в Российской Федерации» (далее – Федеральный закон «Об образовании») педагогические работники имеют право на дополнительное профессиональное образование по профилю педагогической деятельности не реже чем один раз в три года.
                                    br 
                                    p Более того, педагогические работники обязаны осуществлять свою деятельность на высоком профессиональном уровне, систематически его повышая (ст. 48 Федерального закон «Об образовании»).
                                    br
                                    p Потребность в повышении квалификации научно-педагогических кадров юридических специальностей в области частного права для решения задач кадрового обеспечения преподавательского состава кафедр гражданского и смежных отраслей права федеральных вузов, осуществляющих подготовку бакалавров, специалистов и магистров по направлениям и специальностям в области юриспруденции, в настоящее время весьма высока. С 30 декабря 2012 года в рамках модернизации гражданского законодательства в Гражданский кодекс Российской Федерации вносились многочисленные изменения, которые подчас носили концептуальный характер. Это происходило в результате рассмотрения Государственной Думой РФ проекта федерального закона № 47538-6, разработанного Советом при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства на основании Концепции развития гражданского законодательства, а также в результате принятия ряда иных законопроектов, разрабатываемых с участием Совета.
                        // List Link
                        div.article-section
                            div.article-section-header
                                    h3.article-section-header-title Программы
                            div.article-section-body
                                div.link-list
                                    ul.link-list-container
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_professional-development-of-teachers-of-departments.html") Повышение квалификации преподавателей кафедр
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_professional-development-of-teachers-of-departments.html") Повышение квалификации специалистов в сфере юриспруденции
                                            