// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="rshchp.html") РШЧП
                li.nav-line__item
                    a(href="rshchp_cathedras.html") Кафедры
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="rshchp.html") Об РШЧП
                    li.section-nav__item
                        a(href="rshchp_masters-degree.html") Магистратура
                    li.section-nav__item
                        a(href="rshchp_training.html") Повышение квалификации
                    li.section-nav__item.active
                        a(href="rshchp_cathedras.html") Кафедры
                    li.section-nav__item
                        a(href="rshchp_graduates.html") Выпускники
                    li.section-nav__item
                        a(href="rshchp_graduate-school.html") Аспирантура
                    li.section-nav__item
                        a(href="rshchp_internships-and-practice.html") Стажировки и практика
                    li.section-nav__item
                        a(href="rshchp_information-about-the-educational-organization.html") Сведения об образовательной организации
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Кафедры
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    div.div.article-section-list
                        div.article-section
                            div.article-section-body
                                div.article-content
                                    p Стремительный научно-технический прогресс, информатизация общества приводят к конфликтам между существующей во всем мире системой охраны интеллектуальных прав, основанной на установлении монополии правообладателя в отношении охраняемых результатов, и интересами общества или отдельных его групп. Проблемы, возникающие в этой сфере, актуальны для всего мирового сообщества. В нашей стране актуальность исследований в области интеллектуальных прав особенно велика в связи с тем, что на протяжении длительного периода наше право в данной сфере развивалось в отрыве от общемировых тенденций. Принятие четвертой части Гражданского кодекса Российской Федерации, посвященной правам на результаты интеллектуальной деятельности и средства индивидуализации, присоединение нашей страны к Соглашению ТРИПС (в рамках ВТО) и продолжающийся процесс вступления в действующие международные конвенции в сфере интеллектуальной собственности, а также создание специализированного Суда по интеллектуальным правам ликвидировали имевшееся отставание и создали предпосылки для дальнейшего совершенствования отношений в области использования результатов интеллектуальной деятельности и средств индивидуализации. Безусловно, необходимым элементом этого процесса является подготовка специалистов в области интеллектуальной собственности и создание стройной научной теории интеллектуальных прав.
                        // List Link
                        div.article-section
                            div.article-section-header
                                    h3.article-section-header-title Подразделения
                            div.article-section-body
                                div.link-list
                                    ul.link-list-container
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра интеллектуальных прав
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра вещного права
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра международного частного права
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра теории и истории частного права
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра теории обязательственного права
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра коммерческого права и процесса
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра финансовых сделок и новых технологий в праве
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра корпоративного права
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_cathedras_department-of-intellectual-rights.html") Повышение
                                        li.link-list__item
                                            span.link-list__item-icon
                                            a.link-list__item-link(href="rshchp_cathedras_department-of-intellectual-rights.html") Повышение
                                            