// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="rshchp.html") РШЧП
                li.nav-line__item
                    a(href="rshchp_cathedras.html") Кафедры
                li.nav-line__item
                    a(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра интеллектуальных прав
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="rshchp.html") Об РШЧП
                    li.section-nav__item
                        a(href="rshchp_masters-degree.html") Магистратура
                    li.section-nav__item
                        a(href="rshchp_training.html") Повышение квалификации
                    li.section-nav__item.active
                        a(href="rshchp_cathedras.html") Кафедры
                    li.section-nav__item
                        a(href="rshchp_graduates.html") Выпускники
                    li.section-nav__item
                        a(href="rshchp_graduate-school.html") Аспирантура
                    li.section-nav__item
                        a(href="rshchp_internships-and-practice.html") Стажировки и практика
                    li.section-nav__item
                        a(href="rshchp_information-about-the-educational-organization.html") Сведения об образовательной организации
            div.section-nav--secondary
                ul.section-nav-container
                    li.section-nav__item.active
                        a(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра интеллектуальных прав
                    li.section-nav__item
                        a(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра вещного права
                    li.section-nav__item
                        a(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра международного частного права
                    li.section-nav__item
                        a(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра теории и истории частного права
                    li.section-nav__item
                        a(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра теории обязательственного права
                    li.section-nav__item
                        a(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра коммерческого права и процесса
                    li.section-nav__item
                        a(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра финансовых сделок и новых технологий в праве
                    li.section-nav__item
                        a(href="rshchp_cathedras_department-of-intellectual-rights.html") Кафедра корпоративного права
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Кафедра интеллектуальных прав
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    div.div.article-section-list
                        div.article-section
                            div.article-section-body
                                div.article-content
                                    p Кафедра интеллектуальных прав Российской школы частного права небольшая, но объединяет в своем составе высококвалифицированных специалистов, которые совмещают научную и преподавательскую деятельность с практической. Все члены кафедры были участниками законопроектной работы по разработке и совершенствованию четвертой части Гражданского кодекса Российской Федерации.
                                    br
                                    p Задачами кафедры являются изучение действующего российского законодательства в области интеллектуальных прав, проблем его применения и перспектив совершенствования, а также ознакомление с теоретическими основами охраны интеллектуальной собственности, международными соглашениями и зарубежным законодательством в данной сфере. Общий курс, который читают преподаватели кафедры слушателям Школы, носит базовый характер и называется «Интеллектуальные права». Он условно разделен на 4 составных части: «Общие положения», «Авторское право и смежные права», «Промышленная собственность. Патентные права» и «Промышленная собственность. Права на средства индивидуализации». Планируется также введение спецкурса по теме «Международное авторское право».
                                    br
                                    p Подготовка магистерских диссертаций осуществляется слушателями Школы под руководством преподавателей кафедры, ведущих научно-исследовательскую работу по соответствующей тематике. Студенты могут пройти практику в Суде по интеллектуальным правам, а также принимать участие в тех научных и прикладных проектах, которые осуществляются членами кафедры.

                        // Person Card
                        div.article-section
                            div.article-section-header
                                    h3.article-section-header-title Заведующий кафедры
                            div.article-section-body
                                div.person-card
                                    a(href="persons-detail.html" class="person-card-container")
                                        div.person-card__section-image
                                            span.person-card-image
                                                img(src="images/persons/persons_miheeva_sm-1.png")
                                        div.person-card__section-content
                                            div.person-card__section-content-header
                                                h3.person-card__item-name Михеева Лидия Юрьевна
                                                p.person-card__item-description Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор
                                                span.person-card__item-tag Исследовательский центр
                                            div.person-card__section-content-body
                                                div.article
                                                    div.article-content
                                                        p В соответствии с Уставом Исследовательский центр возглавляет председатель совета, который является единоличным исполнительным органом Исследовательского центра.
                                                        br 
                                                        p Председателем совета Центра является доктор юридических наук, профессор, заслуженный юрист Российской Федерации Михеева Лидия Юрьевна. Михеева Л.Ю. была избрана председателем совета на заседании совета Центра, состоявшемся 24 июля 2019 года, и утверждена в должности распоряжением Правительства Российской Федерации от 31 августа 2019 года № 1936-Р.
                                div.section-footer.align-right
                                    div.section-button
                                        a(href="persons-detail.html") Читать полностью 

                        // Persons
                        div.article-section
                            div.article-section-header
                                    h3.article-section-header-title Состав кафедры
                            div.article-section-body
                                div.persons
                                    div.persons-container
                                        div.persons__item
                                            a(href="persons-detail.html" class="persons__item-container")
                                                span.persons__item-image
                                                    img(src="images/persons/persons_miheeva_sm-1.png")
                                                div.persons__item-content
                                                    h3.persons__item-name Михеева Лидия Юрьевна
                                                    p.persons__item-description Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор
                                                    span.persons__item-tag Исследовательский центр
                                        div.persons__item
                                            a(href="persons-detail.html" class="persons__item-container")
                                                span.persons__item-image
                                                    img(src="images/persons/persons_suhanov_sm-1.png")
                                                div.persons__item-content
                                                    h3.persons__item-name Суханов Евгений Алексеевич
                                                    p.persons__item-description Научный руководитель Исследовательского центра, д.ю.н., профессор
                                                    span.persons__item-tag Исследовательский центр
                                        div.persons__item
                                            a(href="persons-detail.html" class="persons__item-container")
                                                span.persons__item-image
                                                    img(src="images/persons/persons_navoselova_sm-1.png")
                                                div.persons__item-content
                                                    h3.persons__item-name Новоселова Людмила Александровна
                                                    p.persons__item-description Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор
                                                    span.persons__item-tag Исследовательский центр
                                        div.persons__item
                                            a(href="persons-detail.html" class="persons__item-container")
                                                span.persons__item-image
                                                    img(src="images/persons/persons_slesarev_sm-1.png")
                                                div.persons__item-content
                                                    h3.persons__item-name Степанов Дмитрий Иванович
                                                    p.persons__item-description Заведующий кафедрой корпоративного права Исследовательского центра, к.ю.н., LL.M, MPA
                                                    span.persons__item-tag Исследовательский центр
                                        div.persons__item
                                            a(href="persons-detail.html" class="persons__item-container")
                                                span.persons__item-image
                                                    img(src="images/persons/persons_dozhdev_sm-1.png")
                                                div.persons__item-content
                                                    h3.persons__item-name Дождев Дмитрий Вадимович
                                                    p.persons__item-description Заведующий кафедрой теории и истории частного права, д.ю.н., профессор
                                                    span.persons__item-tag Исследовательский центр
                                        div.persons__item
                                            a(href="persons-detail.html" class="persons__item-container")
                                                span.persons__item-image
                                                    img(src="images/persons/persons_pavlova_sm-1.png")
                                                div.persons__item-content
                                                    h3.persons__item-name Павлова Елена Александровна
                                                    p.persons__item-description Начальник отдела законодательства об интеллектуальных правах Исследовательского центра, заведующая кафедрой интеллектуального права, к.ю.н., доцент
                                                    span.persons__item-tag Исследовательский центр
                                        div.persons__item
                                            a(href="persons-detail.html" class="persons__item-container")
                                                span.persons__item-image
                                                    img(src="images/persons/persons_sklovskiy_sm-1.png")
                                                div.persons__item-content
                                                    h3.persons__item-name Скловский Константин Ильич
                                                    p.persons__item-description Профессор кафедры вещного права, д.ю.н., профессор
                                                    span.persons__item-tag Исследовательский центр
                                        div.persons__item
                                            a(href="persons-detail.html" class="persons__item-container")
                                                span.persons__item-image
                                                    img(src="images/persons/persons_sirvindt_sm-1.png")
                                                div.persons__item-content
                                                    h3.persons__item-name Ширвиндт Андрей Михайлович
                                                    p.persons__item-description Профессор кафедры обязательственного права, к.ю.н, LL.M
                                                    span.persons__item-tag Исследовательский центр
                        
                        // Person Card
                        div.article-section
                            div.article-section-header
                                    h3.article-section-header-title Дисциплины
                            div.article-section-body
                                div.documents
                                    div.documents-container
                                        // Items
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Интеллектуальные права. Патентные права
                                                        span.documents__item-size PDF 2 МБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Интеллектуальные права. Средства индивидуализации
                                                        span.documents__item-size PDF 23 КБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Интеллектуальные права. Авторское право
                                                        span.documents__item-size PDF 1.3 МБ
                                                    span.documents__item-helper-icon.icon-download
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title Интеллектуальные права. Общие положения
                                                        span.documents__item-size PDF 1.2 МБ
                                                    span.documents__item-helper-icon.icon-download