.filter-search {
    @extend %filter;

    &-button {
        width: 2.5em;
        cursor: initial;

        &-icon {
            // @extend .icon-filter-search;
            @extend %filter-icon;
            color: $neutral-color;
            @include transition(color, 125ms, ease-out);

            svg {
                @include box(16px !important);
                
                path {
                    stroke: $neutral-color;
                    @include transition(stroke, 125ms, ease-out);
                }
            }
        }
    }

    &.type {

        .filter-search-button {
            cursor: pointer;

            &-icon {
                color: $primary-color;
    
                svg {
                    @include box(16px !important);
                    
                    path {
                        stroke: $primary-color !important;
                    }
                }
            }
        }
    }

    &-container {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        width: 100%;
        padding: 0px 10px 0px 20px;
        border: 1px solid $border-color;
        border-radius: 6px;
        @include transition(border, 125ms, ease-out);

        input {
            display: inline-flex;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            border: none;
            color: $primary-color;
            @extend %filter-p;
            padding: 15px 0px;
        }
    }

    .type {
        .filter-search-icon {
            
        }
    }

    &.focus {

        .filter-search-container {
            border: 1px solid $primary-color;
        }
    }
}