// App Header
div.app-header
    div.app-header-container
        div.app-header-content
        
            div.app-header__logo-section
                a(class='logo' href='/index')
                
            div.app-header__content-section
                div.app-header__content-section-top

                    // Navigation Top Menu

                    div.navigation-top-menu
                        div.navigation-top-menu-container
                            ul.navigation-top-menu-content
                                // Items
                                li.navigation-top-menu__item
                                    a(href="./events.html" class="navigation-top-menu__item-content")
                                        p Мероприятия
                                    div(class="navigation-top-menu__item-underline")
                                li(class="navigation-top-menu__item active")
                                    a(href="./news.html" class="navigation-top-menu__item-content")
                                        p Новости
                                    div(class="navigation-top-menu__item-underline")
                                li(class="navigation-top-menu__item")
                                    a(href="./persons.html" class="navigation-top-menu__item-content")
                                        p Персоналии
                                    div(class="navigation-top-menu__item-underline")
                                li(class="navigation-top-menu__item")
                                    a(href="#" class="navigation-top-menu__item-content")
                                        p Фото и видео
                                    div(class="navigation-top-menu__item-underline")
                                li(class="navigation-top-menu__item")
                                    a(href="#" class="navigation-top-menu__item-content")
                                        p Контакты
                                    div(class="navigation-top-menu__item-underline")
                                // Items

                                // Navigation Top Menu

                    // Social Buttons
                    div(class="social-button-group")
                        div(class="social-button facebook")
                            div(class="social-button-container")
                                a(href="" class="social-button-content")
                                    div(class="social-button__icon")

                        div(class="social-button vkontakte")
                            div(class="social-button-container")
                                a(href="" class="social-button-content")
                                    div(class="social-button__icon")

                        div(class="social-button twitter")
                            div(class="social-button-container")
                                a(href="" class="social-button-content")
                                    div(class="social-button__icon")
                                    
                        div(class="social-button instagram")
                            div(class="social-button-container")
                                a(href="" class="social-button-content")
                                    div(class="social-button__icon")
                    // Social Buttons
                        
                    //Search Button
                    div(class="search-button")
                        div(class="search-button-icon")
                    //Search Button

                div(class="app-header__content-section-bottom")
                    // Navigation Menu
                    nav(class="navigation-menu")
                        div(class="navigation-menu-container")
                            ul(class="navigation-menu-content")
                                // Items
                                li(class="navigation-menu__item")
                                    a(href="#" class="navigation-menu__item-content")
                                        p Центр
                                    div(class="navigation-menu__item-underline")
                                li(class="navigation-menu__item")
                                    a(href="#" class="navigation-menu__item-content")
                                        p РШЧП
                                    div(class="navigation-menu__item-underline")
                                li(class="navigation-menu__item")
                                    a(href="#" class="navigation-menu__item-content")
                                        p Совет по кодификации
                                    div(class="navigation-menu__item-underline")
                                li(class="navigation-menu__item")
                                    a(href="#" class="navigation-menu__item-content")
                                        p Диалоги о частном праве 
                                    div(class="navigation-menu__item-underline")

                                li(class="navigation-menu__item expansion")
                                    a(href="#" class="navigation-menu__item-content")
                                        p Просветительские проекты
                                        div(class="navigation-menu__item-expansion-icon")
                                    div(class="navigation-menu__item-underline")
                                    div(class="navigation-menu__item-group")
                                        div(class="navigation-menu__item-group-container")
                                            span(class="navigation-menu__item-group__nested-item")
                                                a(href="#") Клуб семейного права
                                            span(class="navigation-menu__item-group__nested-item")
                                                a(href="#") Алексеевские чтения
                                            // Items
                                // Navigation Menu