@include respond-above (md) {
    
    .article {

        &-container-columns {
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 60px;
        }
    }
}

@include respond-below (md) {
    
    .article {

        &-container-columns {
            display: grid;
            grid-template-rows: 1fr;
            gap: 0px;
        }
    }
}