// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="news.html") Отзывы
        //Nav Line

        // Section Header
        div.section-header
            h5.section-title Отзывы

        // Section Header
        div.feedbacks
            div.feedbacks-container
                // Items
                div.feedbacks__item
                    div.feedbacks__item-container
                        span.feedbacks__item-image
                            img(src="images/feedbacks/feedback_01.png" alt="")
                        div.feedbacks__item-content
                            p.feedbacks__item-name Сергей Солдатенко
                            div.feedbacks__item-group
                                p.feedbacks__item-position Магистр РШЧП, к.ф-м.н.
                                p.feedbacks__item-date Год выпуска – 2018
                            div.feedbacks__item-content
                                p В июне 2018 года закончилось обучение в РАНХиГС при Президенте РФ. С теплотой на душе вспоминаю эти дни… Обеды в ТЦ «Звездочка», легкий страх перед экзаменами, красные ковры при входе. 2013 год стал для меня особенным. Именно в этом году мной было принято решение посвятить жизнь юриспруденции и обучаться на Юридическом факультете им. М.М. Сперанского.
                                p Обучение в ИПНБ открыло возможности реализоваться не только в научной деятельности (конференции, возможность публикации научных статей с мэтрами различных отраслей права), но и общественной (КВН, СтудСовет и т.д.).
                div.feedbacks__item
                    div.feedbacks__item-container
                        span.feedbacks__item-image
                            img(src="images/feedbacks/feedback_02.png" alt="")
                        div.feedbacks__item-content
                            p.feedbacks__item-name Константин Савин
                            div.feedbacks__item-group
                                p.feedbacks__item-position Партнер АК «Павлова и партнеры»
                                p.feedbacks__item-date Год выпуска – 2011
                            div.feedbacks__item-content
                                p Время учебы в Российской школе частного права вспоминаю с большой ностальгией. Это было незабываемо, особая атмосфера во всем. Можно сказать, что по-настоящему мое юридическое образование в сфере частного права началось с момента, как я был зачислен в магистранты и перешагнул порог этого уважаемого учебного заведения. Знания, которые мы здесь получили, фундаментальны, они закладывают крепкий базис для дальнейшего профессионального развития. Учеба здесь мотивирует к совершенствованию. В частности, к изучению иностранного языка (в том числе, второго), т.к. в современном мире без использования иностранного языка не представляется возможным углублять свои профессиональные знания. Слава РШЧП безусловно связана с уникальным профессорско-преподавательским составом. Для абитуриентов – даже не сомневайтесь ни минуты, поступать сюда или не нет, если хотите стать хорошими юристами, Вам нравится заниматься исследовательской деятельностью и соединять ее с практикой, Вам прямая дорога в РШЧП и ИЦЧП.
                div.feedbacks__item
                    div.feedbacks__item-container
                        span.feedbacks__item-image
                            img(src="images/feedbacks/feedback_01.png" alt="")
                        div.feedbacks__item-content
                            p.feedbacks__item-name Сергей Солдатенко
                            div.feedbacks__item-group
                                p.feedbacks__item-position Магистр РШЧП, к.ф-м.н.
                                p.feedbacks__item-date Год выпуска – 2018
                            div.feedbacks__item-content
                                p В июне 2018 года закончилось обучение в РАНХиГС при Президенте РФ. С теплотой на душе вспоминаю эти дни… Обеды в ТЦ «Звездочка», легкий страх перед экзаменами, красные ковры при входе. 2013 год стал для меня особенным. Именно в этом году мной было принято решение посвятить жизнь юриспруденции и обучаться на Юридическом факультете им. М.М. Сперанского.
                                p Обучение в ИПНБ открыло возможности реализоваться не только в научной деятельности (конференции, возможность публикации научных статей с мэтрами различных отраслей права), но и общественной (КВН, СтудСовет и т.д.).
                div.feedbacks__item
                    div.feedbacks__item-container
                        span.feedbacks__item-image
                            img(src="images/feedbacks/feedback_02.png" alt="")
                        div.feedbacks__item-content
                            p.feedbacks__item-name Константин Савин
                            div.feedbacks__item-group
                                p.feedbacks__item-position Партнер АК «Павлова и партнеры»
                                p.feedbacks__item-date Год выпуска – 2011
                            div.feedbacks__item-content
                                p Время учебы в Российской школе частного права вспоминаю с большой ностальгией. Это было незабываемо, особая атмосфера во всем. Можно сказать, что по-настоящему мое юридическое образование в сфере частного права началось с момента, как я был зачислен в магистранты и перешагнул порог этого уважаемого учебного заведения. Знания, которые мы здесь получили, фундаментальны, они закладывают крепкий базис для дальнейшего профессионального развития. Учеба здесь мотивирует к совершенствованию. В частности, к изучению иностранного языка (в том числе, второго), т.к. в современном мире без использования иностранного языка не представляется возможным углублять свои профессиональные знания. Слава РШЧП безусловно связана с уникальным профессорско-преподавательским составом. Для абитуриентов – даже не сомневайтесь ни минуты, поступать сюда или не нет, если хотите стать хорошими юристами, Вам нравится заниматься исследовательской деятельностью и соединять ее с практикой, Вам прямая дорога в РШЧП и ИЦЧП.
        // Items
        div.section-footer
            include ../../components/pagination/pagination.pug
// News