// News
section.section
    // Section Header
    div.section-header
        h5.section-title Новости
    // Section Header
    div.news.index
        div.news-container
            // Items
            article.news__item
                a(href="/" class="news__item-container")
                    span.news__item-image
                        span.news__item-tag Исследовательский центр
                        img(src="src/assets/images/news/news_17.10.2021_sm-1.png")
                    div.news__item-content
                        span.news__item-date 17 октября 2021
                        h3.news__item-title Исследовательский центр посетила делегация цивилистов из Казахстана

            article.news__item
                a(href="/" class="news__item-container")
                    span.news__item-image
                        span.news__item-tag Исследовательский центр
                        img(src="src/assets/images/news/news_11.10.2021_sm-1.png")
                    div.news__item-content
                        span.news__item-date 11 октября 2021
                        h3.news__item-title Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом

            article.news__item
                a(href="/" class="news__item-container")
                    span.news__item-image
                        span.news__item-tag Исследовательский центр
                        img(src="src/assets/images/news/news_04.10.2021_sm-1.png")
                    div.news__item-content
                        span.news__item-date 4 октября 2021
                        h3.news__item-title Встреча с представителями проекта «Первый экономический хакатон» прошла в ИЦЧП
            article.news__item
                a(href="/" class="news__item-container")
                    span.news__item-image
                        span.news__item-tag Диалоги о частном праве
                        img(src="src/assets/images/news/news_28.09.2021_sm-1.png")
                    div.news__item-content
                        span.news__item-date 28 сентября 2021
                        h3.news__item-title Проект «Диалоги о частном праве» возобновляет работу
        // Items
    //Section Footer
    div.section-footer.align-right
        div.section-button
            a(href="news.html") Все новости
    //Section Footer
// News