%entity__item-container--hover {

    &:hover {

        h3, h5, %entity__item-title {
            color: $accent-color;
            text-decoration: underline;
        }
    }
}

%entity__item-container {
    padding-bottom: 30px;
    @extend %entity__item-container--hover;
}