.students {

    &-container {
        @extend %students-container;
    }

    &-container-list {
        @extend %entities-main-container;
    }

    &__item {
        @extend %students__item;

        &-container {
            display: grid;
        }

        &-side-content {

        }

        &-content {
            // @include flexbox;
            // @include flex-direction(column);
            // gap: 40px;

            &-group {
                @include flexbox;
                @include flex-direction(column);
                gap: 20px;
            }
        }

        &-name {

        }

        &-description {
            margin-bottom: 10px;
        }

        &-placeholder {
            font-size: 14px;
            color: $neutral-color;
        }

        &-tag {

        }
    }
}