//Breakepoints
$xs: 320px!default;
$sm: 544px!default;
$md: 768px!default;
$lg: 992px!default;
$xl: 1200px!default;

// A map of breakpoints.
$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
);