$primary-color: #19191b;
$secondary-color: #2B2F3C;
$neutral-color: #9093a2;
$accent-color: #7a1c3e;

$accent-light-color: #FAC5D8;

$primary-color-lighten-30: lighten($primary-color, 3%);
$primary-color-lighten-50: lighten($primary-color, 5%);
$primary-color-lighten-100: lighten($primary-color, 10%);
$primary-color-lighten-150: lighten($primary-color, 15%);
$primary-color-lighten-200: lighten($primary-color, 20%);
$primary-color-lighten-250: lighten($primary-color, 25%);
$primary-color-lighten-300: lighten($primary-color, 30%);
$primary-color-lighten-400: lighten($primary-color, 40%);
$primary-color-lighten-500: lighten($primary-color, 50%);
$primary-color-lighten-600: lighten($primary-color, 60%);
$primary-color-lighten-700: lighten($primary-color, 70%);
$primary-color-lighten-800: lighten($primary-color, 80%);
$primary-color-lighten-900: lighten($primary-color, 90%);
$primary-color-lighten-950: lighten($primary-color, 95%);
$primary-color-lighten-975: lighten($primary-color, 97.5%);

$primary-color-darken-25: darken($primary-color, 2.5%);
$primary-color-darken-50: darken($primary-color, 5%);
$primary-color-darken-100: darken($primary-color, 10%);

// $accent-color-lighten-25: lighten($accent-color, 0.975);
// $accent-color-lighten-50: lighten($accent-color, 0.95);
// $accent-color-lighten-100: lighten($accent-color, 0.9);
// $accent-color-lighten-200: lighten($accent-color, 0.8);
$accent-color-lighten-300: lighten($accent-color, 50%);
// $accent-color-lighten-700: lighten($accent-color, 0.3);

$accent-color-darken-25: darken($accent-color, 2.5%);
$accent-color-darken-50: darken($accent-color, 5%);
$accent-color-darken-100: darken($accent-color, 10%);


$white: #fff;
$black: #000;

// $primary-color-100: #41555e;
// $primary-color-200: #50656e;
// $primary-color-300: #627983;


$divider-color: #e2e8f0;
$divider-color-inverse: #2E333F;

$border-color: #d7d8db;
$border-color-inverse: $divider-color-inverse;

// Components

$foreground-color: $primary-color;

$background-color: #F0F0F0;
$background-color-inverse: #1e2129;
$background-color-1100: darken($background-color, 10%);

$inactive-color-light: #dfdfdf;
$inactive-color-light-inverse: $secondary-color;

$menu-expantion-item-color: #60636A;
$menu-item-color: $background-color;


// Temporary
$instance-node-color: $white;
$line-color: $primary-color;