$primary-color: #19191b;
$secondary-color: #2B2F3C;
$neutral-color: #9093a2;
$accent-color: #7a1c3e;

$primary-color-30: lighten($primary-color, 3%);
$primary-color-50: lighten($primary-color, 5%);
$primary-color-100: lighten($primary-color, 10%);
$primary-color-150: lighten($primary-color, 15%);
$primary-color-200: lighten($primary-color, 20%);
$primary-color-250: lighten($primary-color, 25%);
$primary-color-300: lighten($primary-color, 30%);
$primary-color-400: lighten($primary-color, 40%);
$primary-color-500: lighten($primary-color, 50%);
$primary-color-600: lighten($primary-color, 60%);
$primary-color-700: lighten($primary-color, 70%);
$primary-color-800: lighten($primary-color, 80%);
$primary-color-900: lighten($primary-color, 90%);
$primary-color-950: lighten($primary-color, 95%);
$primary-color-975: lighten($primary-color, 97.5%);

$primary-color-1025: darken($primary-color, 2.5%);
$primary-color-1050: darken($primary-color, 5%);
$primary-color-1100: darken($primary-color, 10%);


$white: #fff;
$black: #000;

// $primary-color-100: #41555e;
// $primary-color-200: #50656e;
// $primary-color-300: #627983;


$divider-color: #e2e8f0;
$divider-color-inverse: #2E333F;

$border-color: #d7d8db;
$border-color-inverse: $divider-color-inverse;

// Components

$foreground-color: $primary-color;

$background-color: #F0F0F0;
$background-color-inverse: #1e2129;
$background-color-1100: darken($background-color, 10%);

$inactive-color-light: #dfdfdf;
$inactive-color-light-inverse: $secondary-color;

$menu-expantion-item-color: #60636A;
$menu-item-color: $background-color;


// Temporary
$instance-node-color: $white;
$line-color: $primary-color;