$font-family: 'GRAPHIK LCG';
$font-weight: 400;
$text-line-height: 1.46;
$link-line-height: $text-line-height;

$text-letter-spacing: px2em(0.05px);
$link-letter-spacing: $text-letter-spacing;

$link-font-size: 1em;
$text-font-size: 1em;

$link-color: $accent-color;
$text-color: $primary-color;