// Photos and videos
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="videos.html") Видео
        //Nav Line

        // Section Header
        div.section-header
            h5.section-title Видео

            include ../../components/filter/filter-for-videos.pug

        // Section Header
        div.videos
            div.videos-container
                // Items
                div.videos__item
                    a(href="videos-detail.html" class="videos__item-container")
                        span.videos__item-image
                            img(src="images/videos/video_01.jpg")
                        div.videos__item-content
                            span.videos__item-date 17 октября 2021
                            h3.videos__item-title Исследовательский центр посетила делегация цивилистов из Казахстана

                div.videos__item
                    a(href="videos-detail.html" class="videos__item-container")
                        span.videos__item-image
                            img(src="images/videos/video_02.jpg")
                        div.videos__item-content
                            span.videos__item-date 11 октября 2021
                            h3.videos__item-title Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом

                div.videos__item
                    a(href="videos-detail.html" class="videos__item-container")
                        span.videos__item-image
                            img(src="images/videos/video_03.jpg")
                        div.videos__item-content
                            span.videos__item-date 4 октября 2021
                            h3.videos__item-title Встреча с представителями проекта «Первый экономический хакатон» прошла в ИЦЧП

                div.videos__item
                    a(href="videos-detail.html" class="videos__item-container")
                        span.videos__item-image
                            img(src="images/videos/video_04.jpg")
                        div.videos__item-content
                            span.videos__item-date 28 сентября 2021
                            h3.videos__item-title Проект «Диалоги о частном праве» возобновляет работу

                div.videos__item
                    a(href="videos-detail.html" class="videos__item-container")
                        span.videos__item-image
                            img(src="images/videos/video_05.jpg")
                        div.videos__item-content
                            span.videos__item-date 21 сентября 2021
                            h3.videos__item-title Студенты-первокурсники РШЧП получили студенческие билеты

                div.videos__item
                    a(href="videos-detail.html" class="videos__item-container")
                        span.videos__item-image
                            img(src="images/videos/video_06.jpg")
                        div.videos__item-content
                            span.videos__item-date 19 сентября 2021
                            h3.videos__item-title Визит сотрудников Посольства ФРГ в г. Москва в Исследовательский центр

                div.videos__item
                    a(href="videos-detail.html" class="video__item-container")
                        span.videos__item-image
                            img(src="images/videos/video_07.jpg")
                        div.videos__item-content
                            span.videos__item-date 8 июля 2021
                            h3.videos__item-title Лекции зарубежных профессоров в РШЧП в новом учебном году
                            
        // Items
// News