// Photos and videos
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="videos.html") Видео
        //Nav Line

        // Section Header
        div.section-header
            h5.section-title Фото и видео

            include ../../components/filter/filter-dropdown-for-videos.pug

        // Section Header
        div.videos
            div.videos-container
                // Items
                div.videos__item
                    a(href="/" class="news__item-container")
                        span.videos__item-image
                            img(src="images/background/news1.jpg")
                        div.videos__item-content
                            span.videos__item-date 17 октября 2021
                            h3.videos__item-title Исследовательский центр посетила делегация цивилистов из Казахстана

                div.videos__item
                    a(href="/" class="news__item-container")
                        span.videos__item-image
                            img(src="images/background/news2.jpg")
                        div.videos__item-content
                            span.videos__item-date 11 октября 2021
                            h3.videos__item-title Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом

                div.videos__item
                    a(href="/" class="news__item-container")
                        span.videos__item-image
                            img(src="images/background/news3.jpg")
                        div.videos__item-content
                            span.videos__item-date 4 октября 2021
                            h3.videos__item-title Встреча с представителями проекта «Первый экономический хакатон» прошла в ИЦЧП

                div.videos__item
                    a(href="/" class="news__item-container")
                        span.videos__item-image
                            img(src="images/background/news1.jpg")
                        div.videos__item-content
                            span.videos__item-date 28 сентября 2021
                            h3.videos__item-title Проект «Диалоги о частном праве» возобновляет работу

                div.videos__item
                    a(href="/" class="news__item-container")
                        span.videos__item-image
                            img(src="images/background/news2.jpg")
                        div.videos__item-content
                            span.videos__item-date 21 сентября 2021
                            h3.videos__item-title Студенты-первокурсники РШЧП получили студенческие билеты

                div.videos__item
                    a(href="/" class="news__item-container")
                        span.videos__item-image
                            img(src="images/background/news3.jpg")
                        div.videos__item-content
                            span.videos__item-date 19 сентября 2021
                            h3.videos__item-title Визит сотрудников Посольства ФРГ в г. Москва в Исследовательский центр

                div.videos__item
                    a(href="/" class="news__item-container")
                        span.videos__item-image
                            img(src="images/background/news1.jpg")
                        div.videos__item-content
                            span.videos__item-date 8 июля 2021
                            h3.videos__item-title Лекции зарубежных профессоров в РШЧП в новом учебном году
                            
        // Items
// News