-
    var videos = [
        {
            title: "Исследовательский центр посетила делегация цивилистов из Казахстана",
            image: "video_01.jpg",
            date: "17 октября 2021",
            url: "videos-detail.html"
        },
        {
            title: "Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом",
            image: "video_02.jpg",
            date: "11 октября 2021",
            url: "videos-detail.html"
        },
        {
            title: "Встреча с представителями проекта «Первый экономический хакатон» прошла в ИЦЧП",
            image: "video_03.jpg",
            date: "4 октября 2021",
            url: "videos-detail.html"
        },
        {
            title: "Проект «Диалоги о частном праве» возобновляет работу",
            image: "video_04.jpg",
            date: "28 сентября 2021",
            url: "videos-detail.html"
        },
        {
            title: "Студенты-первокурсники РШЧП получили студенческие билеты",
            image: "video_05.jpg",
            date: "21 сентября 2021",
            url: "videos-detail.html"
        },
        {
            title: "Визит сотрудников Посольства ФРГ в г. Москва в Исследовательский центр",
            image: "video_06.jpg",
            date: "19 сентября 2021",
            url: "videos-detail.html"
        },
        {
            title: "Лекции зарубежных профессоров в РШЧП в новом учебном году",
            image: "video_07.jpg",
            date: "8 июля 2021",
            url: "videos-detail.html"
        }
    ]

// Photos and videos
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="videos.html") Видео
        //Nav Line

        // Section Header
        div.section-header
            h5.section-title Видео

            include ../../components/filter/filter-for-videos.pug

        // Section Header
        div.videos
            div.videos-container
                // Items
                each item in videos
                    div.videos__item
                        a(href=`${item.url}` class="videos__item-container")
                            span.videos__item-image
                                span.videos__item-tag-state
                                img(src=`images/videos/${item.image}`)
                            div.videos__item-content
                                span.videos__item-date=item.date
                                h3.videos__item-title=item.title                            
        // Items
        div.section-footer
            include ../../components/pagination/pagination.pug