// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="videos.html") Видео
                li.nav-line__item
                    a(href="videos-detail.html") Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми
        //Nav Line

        // Section Header
        div.section-header
            h1.section-title Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    //- div.article-header
                    //-     p.article-date 7 октября 2021
                    div.article-section-list
                        // Article
                        div.article-section
                            div.article-section-body
                                div.article-content
                                    div.article-header
                                        div.article-header-group--columns
                                            span.article-date 7 октября 2021
                                            span.article-tag #Исследовательский центр
                                div.video
                                    <iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/STX69lJwCyo?ecver=1&amp;cc_load_policy=1&amp;iv_load_policy=1&amp;yt:stretch=16:9&amp;autohide=0&amp;color=red&amp;width=100%&amp;width=100%" width="100%" height="100%" allowtransparency="true" frameborder="0" ><</iframe>
                                div.article-content
                                    p Состоялся форум «Корпоративные отношения: в поисках баланса интересов участников», организованный Российским союзом промышленников и предпринимателей. В обсуждении проблем развития корпоративного права приняли участие представители российского бизнеса, Министерства финансов Российской Федерации, Банка России, Министерства экономического развития.
                        // Documents
                        div.article-section
                            div.article-section-body
                                // Events
                                // Read-on
                                div.article-section
                                    div.read-on
                                        div.read-on-container
                                            div.read-on-header
                                                h5 События по теме
                                            div.read-on-body
                                                div.read-on-body-container
                                                    div.read-on__item
                                                        a(href="news-detail.html").read-on__item-container
                                                            span.read-on__item-tag Исследовательский центр
                                                            span.read-on__item-date 17 октября 2021
                                                            h3.read-on__item-title Исследовательский центр посетила делегация цивилистов из Казахстана
                                                    div.read-on__item
                                                        a(href="news-detail.html").read-on__item-container
                                                            span.read-on__item-tag Исследовательский центр
                                                            span.read-on__item-date 4 октября 2021
                                                            h3.read-on__item-title Встреча с представителями проекта «Первый экономический хакатон» прошла в ИЦЧП
                                                    div.read-on__item
                                                        a(href="news-detail.html").read-on__item-container
                                                            span.read-on__item-tag Исследовательский центр
                                                            span.read-on__item-date 28 сентября 2021
                                                            h3.read-on__item-title Проект «Диалоги о частном праве» возобновляет работу

        div.section-footer
            div.section-button
                a(href="videos.html") Все видео
        //- h1 Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом на форуме по корпоративным отношениям