// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="news.html") Новости
        //Nav Line

        // Section Header
        div.section-header
            h5.section-title Новости

            include ../../components/filter/filter-for-news.pug

        // Section Header
        div.news
            div.news-container
                // Items
                div.news__item
                    a(href="news-detail.html" class="news__item-container")
                        span.news__item-image
                            img(src="images/news/news_17.10.2021_sm-1.png")
                        div.news__item-content
                            span.news__item-date 17 октября 2021
                            h3.news__item-title Исследовательский центр посетила делегация цивилистов из Казахстана
                            span.news__item-tag Исследовательский центр
                div.news__item
                    a(href="news-detail.html" class="news__item-container")
                        span.news__item-image
                            img(src="images/news/news_11.10.2021_sm-1.png")
                        div.news__item-content
                            span.news__item-date 11 октября 2021
                            h3.news__item-title Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом
                            span.news__item-tag Исследовательский центр
                div.news__item
                    a(href="news-detail.html" class="news__item-container")
                        span.news__item-image
                            img(src="images/news/news_04.10.2021_sm-1.png")
                        div.news__item-content
                            span.news__item-date 4 октября 2021
                            h3.news__item-title Встреча с представителями проекта «Первый экономический хакатон» прошла в ИЦЧП
                            span.news__item-tag Исследовательский центр
                div.news__item
                    a(href="news-detail.html" class="news__item-container")
                        span.news__item-image
                            img(src="images/news/news_28.09.2021_sm-1.png")
                        div.news__item-content
                            span.news__item-date 28 сентября 2021
                            h3.news__item-title Проект «Диалоги о частном праве» возобновляет работу
                            span.news__item-tag Диалоги о частном праве
                div.news__item
                    a(href="news-detail.html" class="news__item-container")
                        span.news__item-image
                            img(src="images/news/news_21.09.2021_sm-1.png")
                        div.news__item-content
                            span.news__item-date 21 сентября 2021
                            h3.news__item-title Студенты-первокурсники РШЧП получили студенческие билеты
                            span.news__item-tag РШЧП
                div.news__item
                    a(href="news-detail.html" class="news__item-container")
                        span.news__item-image
                            img(src="images/news/news_19.09.2021_sm-1.png")
                        div.news__item-content
                            span.news__item-date 19 сентября 2021
                            h3.news__item-title Визит сотрудников Посольства ФРГ в г. Москва в Исследовательский центр
                            span.news__item-tag Исследовательский центр
                div.news__item
                    a(href="news-detail.html" class="news__item-container")
                        span.news__item-image
                            img(src="images/news/news_08.07.2021_sm-1.png")
                        div.news__item-content
                            span.news__item-date 8 июля 2021
                            h3.news__item-title Лекции зарубежных профессоров в РШЧП в новом учебном году
                            span.news__item-tag РШЧП
        // Items
        div.section-footer
            include ../../components/pagination/pagination.pug
// News