// News
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="news.html") Новости
                li.nav-line__item
                    a(href="news.html") Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом...
        //Nav Line

        // Section Header
        div.section-header
            h1.section-title Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом на форуме по корпоративным отношениям
            p.section-date 7 октября 2021
        // Section Header
        div.section-body
            div.section-body-container
                div.article
                    //- div.article-header
                    //-     p.article-date 7 октября 2021
                    div.article-content
                        div.article-gallery
                            img(src="images/news/news_04.10.2021_lg-1.png")
                        p Состоялся форум «Корпоративные отношения: в поисках баланса интересов участников», организованный Российским союзом промышленников и предпринимателей. В обсуждении проблем развития корпоративного права приняли участие представители российского бизнеса, Министерства финансов Российской Федерации, Банка России, Министерства экономического развития.
                            q Руководитель Исследовательского центра Лидия Юрьевна Михеева рассказала собравшимся о той работе, которую Совет при Президенте РФ по кодификации и совершенствованию гражданского законодательства и Исследовательский центр ведут в области корпоративного права.</q>
                        p К числу текущих задач, которые стоят перед Центром и Советом в этой сфере, относится подготовка законопроекта о приведении в соответствие с новой редакцией главы 9.1 ГК РФ (образована Федеральным законом от 28.06.2021 N 225-ФЗ) тех федеральных законов, где содержатся правила о порядке проведения различных собраний.
                        br
                        h5 Набор на программу 2021/2022:
                        ul
                            li Гражданского кодекса Российской Федерации
                            li Лидия Юрьевна в своем выступлении на форуме подчеркнула, что все предпринятые судебной системой
                            li К числу текущих задач, которые стоят перед Центром и Советом в этой сфере
                        p Эта работа ведется прежде всего в отношении Закона об АО и Закона об ООО, положения которых о дистанционном проведении общего собрания или о заседаниях иных коллегиальных органов требуют изменений. В то же время Л.Ю. Михеева напомнила участникам форума о том, что отечественные цивилисты ставят перед собой и гораздо более масштабные задачи. Так, например, требует осмысления неизбежная «токенизация» акций — превращение классических ценных бумаг в цифровые права (цифровые активы). Удобство новых форм хранения записей о правах наряду с легкостью их оборота, безусловно, привлекают бизнес, но для права остается нерешенным ряд задач по обеспечению безопасного оборота токенизированных бумаг, а также по защите интересов лиц, чьи записи о принадлежавших им токенах утрачены. Доктринальной проработки требует такой феномен, как усиление института субсидиарной ответственности по обязательствам юридического лица.
                        br
                        p Лидия Юрьевна в своем выступлении на форуме подчеркнула, что все предпринятые судебной системой и законодателем шаги в этом направлении есть лишь вполне предсказуемая реакция правопорядка на тотальную недобросовестность, характеризующую поведение участников гражданско-правовых отношений. В то же время доведение института субсидиарной ответственности до абсурда, до крайности грозит утратой самой сути юридического лица, наделяемого обособленным имуществом и свойством субъекта с известными целями. Участники форума в своих выступлениях выразили надежду на то, что законодательные решения в области корпоративного права будут вырабатываться в диалоге с бизнес-сообществом.
                    // Documents
                    div.article-section
                        div.article-section-body
                            div.documents
                                div.documents-container
                                    // Items
                                    div.documents__item
                                        a.documents__item-container(href="/")
                                            div.documents__item-icon
                                                img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                            div.documents__item-content
                                                //- div.documents__item-content-group
                                                h3.documents__item-title Копия Свидетельства государственной аккредитации
                                                span.documents__item-size PDF 42КБ
                                    div.documents__item
                                        a.documents__item-container(href="/")
                                            div.documents__item-icon
                                                img(src="./assets/images/docs/icon-document-pdf.png", alt="")
                                            div.documents__item-content
                                                //- div.documents__item-content-group
                                                h3.documents__item-title Проект федерального закона № 47538-6 «О внесении изменений в части первую, вторую, третью, третью и четвертую Гражданского кодекса Российской Федерации, а также в отдельные законодательные акты Российской Федерации»
                                                p.documents__item-description Проект федерального закона о внесении изменений в Гражданский кодекс Российской Федерации, внесенный Президентом Российской Федерации в Государственную Думу 2 апреля 2012 года, разработан Советом при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства во исполнение Указа Президента Российской Федерации от 18 июля 2008 года № 1108
                                                span.documents__item-size PDF 2МБ
                    // Persons
                    div.article-section
                        div.article-section__header
                            h3.article-section__header-title Участники события
                        div.article-section-body
                            div.persons.sm
                                div.persons-container
                                    // Items
                                    div.persons__item
                                        a(href="persons-detail.html" class="persons__item-container")
                                            span.persons__item-image
                                                img(src="images/persons/persons_miheeva_sm-1.png")
                                            div.persons__item-content
                                                h3.persons__item-name Михеева Лидия Юрьевна
                                                p.persons__item-description Председатель совета (руководитель) Исследовательского центра, д.ю.н., профессор
                                                span.persons__item-tag Исследовательский центр
                                    div.persons__item
                                        a(href="persons-detail.html" class="persons__item-container")
                                            span.persons__item-image
                                                img(src="images/persons/persons_suhanov_sm-1.png")
                                            div.persons__item-content
                                                h3.persons__item-name Суханов Евгений Алексеевич
                                                p.persons__item-description Научный руководитель Исследовательского центра, д.ю.н., профессор
                                                span.persons__item-tag Исследовательский центр
                                    div.persons__item
                                        a(href="persons-detail.html" class="persons__item-container")
                                            span.persons__item-image
                                                img(src="images/persons/persons_navoselova_sm-1.png")
                                            div.persons__item-content
                                                h3.persons__item-name Новоселова Людмила Александровна
                                                p.persons__item-description Заведующая кафедрой финансовых сделок и новых технологий в праве Исследовательского центра, д.ю.н., профессор
                                                span.persons__item-tag Исследовательский центр
                                    
                div.section-side-panel

                    include ../read-on/read-on-for-news.pug

        div.section-footer
            div.section-button
                a(href="news.html") Все новости
        //- h1 Руководитель Исследовательского центра Л.Ю. Михеева выступила с докладом на форуме по корпоративным отношениям