div.news__item
    a(href="/" class="news__item-container")
        span.news__item-image
            img(src="images/background/news1.jpg")

        div.news__item-content
            span.news__item-date 16 октября 2021
            h3.news__item-title Интеграл Гамильтона, очевидно, основан на опыте. Относительная погрешность соответствует интеграл