.app-logo {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    &-img {
        @include box(126px, 65px);
        padding: 0 40px;
        background-image: url(../assets/images/logo/logo-inverse.svg); //default
        background-repeat: no-repeat;
        background-position: left;
    }
}

.app-logo-descriptor {
    @include flexbox();
    // @include justify-content(center);
    @include align-items(center);
    gap: 35px;
    @include flex-wrap(wrap);

    .app-logo-description {
        font-size: px2em(14px);
        font-weight: 400;
        letter-spacing: px2em(0.35px);
        line-height: 1.7 !important;
        white-space: nowrap;
        color: $white;
    }
}