.footer-navigation {
    width: 100%;

    &-container {
        @include box(inherit);
    }

    &-group {
        @include box(100%, auto);
    }

    ul {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include box(inherit);
        // gap: 25px;
        list-style: none;

        li {
            @include flexbox();
            @include flex-direction(column);
            position: relative;
            @include box(inherit);

            a {
                @include flexbox();
                @include flex-direction(row);
                @include justify-content(flex-start);
                gap: $navigation-menu-item-content-gap;
                height: inherit;
                color: $white;
                @include respond-above (sm) {
                    font-size: px2em(14px);
                }
                @include respond-below (sm) {
                    font-size: px2em(13px);
                }
                font-weight: 500;
                letter-spacing: px2em(0.3px);
                padding: px2em(6px) px2em(0px);
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        //Nested List
        & > ul {
            padding-bottom: 15px;

            li {

                a {
                    @include respond-above (sm) {
                        font-size: px2em(14px) !important;
                    }
                    @include respond-below (sm) {
                        font-size: px2em(13px) !important;
                    }
                    font-weight: 400 !important;
                    color: $app-footer-navigation-font-color !important;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}