/* W3C standard
   Scrollbar for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,1);
}

/* Scrollbar for Chrome/Edge/Safari */
*::-webkit-scrollbar {
    display: none;
    position: absolute;
    height: 3px;
    width: 3px;
}
*::-webkit-scrollbar-track {
    background: rgba(172, 172, 172, 0.35);//#d8dcdf;//rgba(204,204,204,0.05);
}
*::-webkit-scrollbar-thumb {
    background-color: rgba($primary-color-800, 1.0);//#97a1a5;//#c9d0d3;//#ffa000;
    border-radius: 0px;
    border: 0px;
}