%entity__item-image {
    @include themify($themes-app) {
        display: themed('visibility'); 
    }
    width: inherit;
    border-radius: $entity-item-image-border-radius;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: $entity-item-image-border-radius;
    }
}