// Social Buttons
div.social-button-group
    div.social-button.facebook
        div.social-button-container
            a(href="https://www.facebook.com/privlaw.ru/" class="social-button-content")
                div.social-button__icon

    div.social-button.vkontakte
        div.social-button-container
            a(href="https://vk.com/club_privlaw" class="social-button-content")
                div.social-button__icon

    div.social-button.youtube
        div.social-button-container
            a(href="https://www.youtube.com/channel/UCwqP9d2kb_yqRQPHuMAK2Aw" class="social-button-content")
                div.social-button__icon
// Social Buttons