$navigation-menu-height: 69px;
$navigation-menu-secondary-height: 50px;
$app-header-height: $navigation-menu-height + $navigation-menu-secondary-height;
$app-header-navigation-item-undrline-width: 1px;
$app-header-border-bottom-color: $divider-color;
$app-header-border-bottom-color-inverse: rgba($white, 0.1);

$app-header-border-bottom-width: 1px;
$app-header-section-border-bottom-width: 1px;

$app-header-shadow-color: $secondary-color;