$navigation-top-menu-item-link-font-size: px2em(14px);
$navigation-top-menu-item-underline: $app-header-navigation-item-undrline-width;

//Theme
$navigation-top-menu-item-link-color: rgba($neutral-color,1.0);
$navigation-top-menu-item-link-color-inverse: rgba($white,1.0);
$navigation-top-menu-item-underline-color: rgba($primary-color, 1.0);
$navigation-top-menu-item-underline-color-inverse: rgba($white, 1.0);