$social-button-font-size: px2em(18px);
$social-button-padding: px2em(0px);
$social-button-background-color: none;//$background-color;//$primary-color;
$social-button-icon-color: $accent-color;//$primary-color;//;$white;
$social-button-icon-color-inverse: $white;
$social-button-border-radius: 0px;//($social-button-font-size + $social-button-padding);

$social-button-group-gap: px2em(6px);