// Persons
section.section
    div.section-container
        // Section Header
        div.section-header
            h5.section-title Наши сотрудники
        // Section Header
        
        div.persons.index
            //- div.persons-container
            div.section-slider.owl-carousel
                // Items
                article.persons__item
                    a(href="/" class="persons__item-container")
                        span.persons__item-image
                            img(src="images/persons/miheeva.jpg")
                        div.persons__item-content
                            h3.persons__item-name Михеева Лидия Юрьевна
                            p.persons__item-description Председатель совета (руководитель) Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации...
                            //- , доктор юридических наук, профессор
                article.persons__item
                    a(href="/" class="persons__item-container")
                        span.persons__item-image
                            img(src="images/persons/dozhdev.jpg")
                        div.persons__item-content
                            h3.persons__item-name Суханов Евгений Алексеевич
                            p.persons__item-description Заведующий кафедрой гражданского права Московского государственного университета имени М.В. Ломоносова...
                            //- , доктор юридических наук, профессор (заместитель председателя Совета)
                article.persons__item
                    a(href="/" class="persons__item-container")
                        span.persons__item-image
                            img(src="images/persons/novak.jpg")
                        div.persons__item-content
                            h3.persons__item-name Новоселова Людмила Александровна
                            p.persons__item-description Председатель Суда по интеллектуальным правам, доктор юридических наук, профессор
                article.persons__item
                    a(href="/" class="persons__item-container")
                        span.persons__item-image
                            img(src="images/persons/shirvindt.jpg")
                        div.persons__item-content
                            h3.persons__item-name Степанов Дмитрий Иванович
                            p.persons__item-description заместитель председателя совета (руководителя) Центра, к.ю.н., заслуженный юрист Российской Федерации??
                article.persons__item
                    a(href="/" class="persons__item-container")
                        span.persons__item-image
                            img(src="images/persons/shirvindt.jpg")
                        div.persons__item-content
                            h3.persons__item-name Дождев Дмитрий Вадимович
                            p.persons__item-description заместитель председателя совета (руководителя) Центра, к.ю.н., заслуженный юрист Российской Федерации??
                article.persons__item
                    a(href="/" class="persons__item-container")
                        span.persons__item-image
                            img(src="images/persons/shirvindt.jpg")
                        div.persons__item-content
                            h3.persons__item-name Павлова Елена Александровна
                            p.persons__item-description Начальник отдела законодательства об интеллектуальных правах Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации...
                            //- , кандидат юридических наук, доцент
                article.persons__item
                    a(href="/" class="persons__item-container")
                        span.persons__item-image
                            img(src="images/persons/shirvindt.jpg")
                        div.persons__item-content
                            h3.persons__item-name Скловский Константин Ильич
                            p.persons__item-description Профессор кафедры вещного права Исследовательского центра частного права имени С.С. Алексеева при Президенте Российской Федерации...
                            //- ,доктор юридических наук, профессор
                article.persons__item
                    a(href="/" class="persons__item-container")
                        span.persons__item-image
                            img(src="images/persons/shirvindt.jpg")
                        div.persons__item-content
                            h3.persons__item-name Ширвиндт Андрей Михайлович
                            p.persons__item-description Доцент кафедры гражданского права Московского государственного университета имени М.В. Ломоносова, кандидат юридических наук
                article.persons__item
                    a(href="/" class="persons__item-container")
                        span.persons__item-image
                            img(src="images/persons/shirvindt.jpg")
                        div.persons__item-content
                            h3.persons__item-name Тололаева Наталья Владимировна
                            p.persons__item-description Доцент кафедры гражданского права Московского государственного университета имени М.В. Ломоносова, кандидат юридических наук??
                article.persons__item
                    a(href="/" class="persons__item-container")
                        span.persons__item-image
                            img(src="images/persons/shirvindt.jpg")
                        div.persons__item-content
                            h3.persons__item-name Слесарев Владимир Львович
                            p.persons__item-description Доцент кафедры гражданского права Московского государственного университета имени М.В. Ломоносова, кандидат юридических наук??
                // Items
        // Persons
        
        //Section Footer
        div.section-footer.align-right
            div.section-button
                a(href="news.html") Все персоны
        //Section Footer