// Persons
section.section
    // Section Header
    div.section-header
        h5.section-title Персоналии
    // Section Header
    div.persons.index
        div.persons-container
            // Items
            article.persons__item
                a(href="/" class="persons__item-container")
                    span.persons__item-image
                        img(src="images/persons/miheeva.jpg")
                    div.persons__item-content
                        h3.persons__item-name Михеева Лидия Юрьевна
                        p.persons__item-description председатель совета (руководителя) Центра, член Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства, д.ю.н., профессор, заслуженный юрист Российской Федерации
            article.persons__item
                a(href="/" class="persons__item-container")
                    span.persons__item-image
                        img(src="images/persons/miheeva.jpg")
                    div.persons__item-content
                        h3.persons__item-name Бандо Михаил Владимирович
                        p.persons__item-description доцент кафедры теории гражданского права Уральского филиала Центра, к.ю.н.
            article.persons__item
                a(href="/" class="persons__item-container")
                    span.persons__item-image
                        img(src="images/persons/miheeva.jpg")
                    div.persons__item-content
                        h3.persons__item-name Медведева Татьяна Михайловна
                        p.persons__item-description заместитель начальника отдела законодательства о юридических лицах, член Совета по кодификации и совершенствованию гражданского законодательства при Президенте Российской Федерации, к.ю.н., заслуженный юрист Российской Федерации
            article.persons__item
                a(href="/" class="persons__item-container")
                    span.persons__item-image
                        img(src="images/persons/miheeva.jpg")
                    div.persons__item-content
                        h3.persons__item-name Денисов Сергей Анатольевич
                        p.persons__item-description заместитель председателя совета (руководителя) Центра, к.ю.н., заслуженный юрист Российской Федерации
            // Items
    // Persons
    
    //Section Footer
    div.section-footer.align-right
        div.section-button
            a(href="news.html") Все персоны
    //Section Footer