.app-header {
    display: block;
    position: relative;
    width: 100%;
    // height: $app-header-height;
    border-bottom-style: solid;
    border-bottom-width: $app-header-border-bottom-width;
    border-bottom-color: $app-header-border-bottom-color;
    box-shadow: 0px 4px 16px rgba($app-header-shadow-color, 0.1);
    @extend %app-header--height;
    z-index: 9999;
    // background-color: darken($accent-color, 3%);//rgba($accent-color, 1.0);//Theme

    &-container {
        @include flexbox();
        @extend %main-container;
        height: 100%;
        // width: auto;
    }

    &-content {
        display: grid;
        position: relative;
        grid-template-columns: auto 1fr;
        gap: 50px;
        width: 100%;
    }

    &__tabbar {

        &-controllers {
            @include respond-below (xl) {
                display: none;
            }
        }
    }

    &__content-section {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(space-between);
        height: 100%;

        &-top {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(flex-end);
            @include align-items(center);
            height: inherit;
            gap: 25px;
            border-bottom-style: solid;
            border-bottom-width: $app-header-section-border-bottom-width;
            // border-bottom-color: $app-header-border-bottom-color;//Theme
        }

        &-bottom {
            display: block;
            position: relative;
            height: inherit;
        }
    }

    & {
        border-bottom-color: $app-header-border-bottom-color;
    }

    &:hover {
        border-bottom-color: $app-header-border-bottom-color;
    }
}

.tab-button:not(.last) {
    // display: none;
}