@include respond-below(xl) {

    .app-header {

        &__content-section-bottom {
            display: none;
        }

        &__content-section-top {
            border: none;
        }

        .navigation-menu-secondary {
            display: none;
        }
    }
}