.app-header {
    @include themify($themes-header) {
        background-color: themed('appHeaderBackgroundColor'); 
    }

    &__content-section {

        &-top {
            @include themify($themes-header) {
                border-bottom-color: themed('appHeaderBorderBottomColor'); 
            }
        }
    }

    .app-logo {

        .app-logo-img {
            @include themify($themes-header) {
                background-image: themed('logoImage') !important;
            }
        }
    }
}