-
    var groups=[
        {
            name: "Предварительные концепции и законопроекты (2002-2009)",
            documents: [
                {
                    type: "pdf",
                    name: "Концепция совершенствования общих положений Гражданского кодекса Российской Федерации (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол № 2 от 11 марта 2009 г.))",
                    size: "32КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о юридических лицах (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 68 от 16 марта 2009 г.))",
                    size: "22КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о вещном праве (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол № 3 от 18 марта 2009 г.))",
                    size: "17КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о ценных бумагах и финансовых сделках (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 69 от 30 марта 2009 г.))",
                    size: "11КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция реформирование общей части обязательственного права (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 66 от 29 января 2009 г.))",
                    size: "124КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция совершенствования раздела VII Гражданского кодекса Российской Федерации «Права на результаты интеллектуальной деятельности и средства индивидуализации» (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол  от 13 мая 2009 г.))",
                    size: "271КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция совершенствования раздела VI Гражданского кодекса Российской Федерации «Международное частное право» (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол  от 13 мая 2009 г.))",
                    size: "32КБ"
                },
            ]
        },
        {
            name: "Итоговая концепция Совершенствования гражданского законодательства",
            documents: [
                {
                    type: "pdf",
                    name: "Концепция совершенствования общих положений Гражданского кодекса Российской Федерации (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол № 2 от 11 марта 2009 г.))",
                    size: "32КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о юридических лицах (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 68 от 16 марта 2009 г.))",
                    size: "22КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о вещном праве (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол № 3 от 18 марта 2009 г.))",
                    size: "17КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о ценных бумагах и финансовых сделках (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 69 от 30 марта 2009 г.))",
                    size: "11КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция реформирование общей части обязательственного права (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 66 от 29 января 2009 г.))",
                    size: "124КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция совершенствования раздела VII Гражданского кодекса Российской Федерации «Права на результаты интеллектуальной деятельности и средства индивидуализации» (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол  от 13 мая 2009 г.))",
                    size: "271КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция совершенствования раздела VI Гражданского кодекса Российской Федерации «Международное частное право» (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол  от 13 мая 2009 г.))",
                    size: "32КБ"
                },
            ]
        },
        {
            name: "Концепция развития главы 48 ГК РФ",
            documents: [
                {
                    type: "pdf",
                    name: "Концепция совершенствования общих положений Гражданского кодекса Российской Федерации (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол № 2 от 11 марта 2009 г.))",
                    size: "32КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о юридических лицах (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 68 от 16 марта 2009 г.))",
                    size: "22КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о вещном праве (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол № 3 от 18 марта 2009 г.))",
                    size: "17КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о ценных бумагах и финансовых сделках (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 69 от 30 марта 2009 г.))",
                    size: "11КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция реформирование общей части обязательственного права (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 66 от 29 января 2009 г.))",
                    size: "124КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция совершенствования раздела VII Гражданского кодекса Российской Федерации «Права на результаты интеллектуальной деятельности и средства индивидуализации» (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол  от 13 мая 2009 г.))",
                    size: "271КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция совершенствования раздела VI Гражданского кодекса Российской Федерации «Международное частное право» (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол  от 13 мая 2009 г.))",
                    size: "32КБ"
                },
            ]
        },
        {
            name: "Концепция развития положений части второй гражданского кодекса Российской Федерации",
            documents: [
                {
                    type: "pdf",
                    name: "Концепция совершенствования общих положений Гражданского кодекса Российской Федерации (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол № 2 от 11 марта 2009 г.))",
                    size: "32КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о юридических лицах (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 68 от 16 марта 2009 г.))",
                    size: "22КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о вещном праве (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол № 3 от 18 марта 2009 г.))",
                    size: "17КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция развития законодательства о ценных бумагах и финансовых сделках (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 69 от 30 марта 2009 г.))",
                    size: "11КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция реформирование общей части обязательственного права (проект рекомендован Советом к опубликованию в целях обсуждения (протокол № 66 от 29 января 2009 г.))",
                    size: "124КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция совершенствования раздела VII Гражданского кодекса Российской Федерации «Права на результаты интеллектуальной деятельности и средства индивидуализации» (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол  от 13 мая 2009 г.))",
                    size: "271КБ"
                },
                {
                    type: "pdf",
                    name: "Концепция совершенствования раздела VI Гражданского кодекса Российской Федерации «Международное частное право» (проект рекомендован президиумом Совета к опубликованию в целях обсуждения (протокол  от 13 мая 2009 г.))",
                    size: "32КБ"
                },
            ]
        }
    ]

section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="codification-council.html") Совет по кодификации
                li.nav-line__item
                    a(href="codification-council_expert-opinions.html") Материалы работы Совета
                li.nav-line__item
                    a(href="codification-council_legislative-development-concepts.html") Концепции развития законодательства
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="codification-council.html") О Совете
                    li.section-nav__item
                        a(href="codification-council_working-groups.html") Рабочие группы
                    li.section-nav__item
                        a(href="codification-council_meetings-of-the-council.html") Заседания Совета
                    li.section-nav__item.active
                        a(href="codification-council_expert-opinions.html") Материалы работы Совета
            div.section-nav--secondary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="codification-council_expert-opinions.html") Экспертные заключения
                    li.section-nav__item.active
                        a(href="codification-council_legislative-development-concepts.html") Концепции развития законодательства
                    li.section-nav__item
                        a(href="codification-council_draft-amendments-to-the-civil-code-of-the-russian-federation.html") Проекты изменений ГК РФ
                
        // Section Nav
        // Section Header
        div.section-header
            h1.section-title Концепции развития законодательства
        // Filter Search
        div.filter-wrapper
            div.filter-search#filter-search
                div.filter-search-container
                    input(id="filter-search-input" name="search" placeholder="Поиск..." type="text" data-list=".documents-container" data-toggle="hideseek")
                    button.filter-search-button
                        span.filter-search-button-icon#anim-icon-filter-search
        // Filter Search     
        // Section Header
        div.section-body
            // Expansion Group
            div.expansion-section
                // Expansion Group
                each group in groups
                    div.expansion-section-group
                        div.expansion-section-group-header
                            div.expansion-section-group-header-container
                                div.expansion-section-group-header-content
                                    h5.expansion-section-group-title=group.name
                                    div.expansion-section-group-icon
                        div.expansion-section-group-body
                            div.documents
                                div.documents-container
                                    // Items
                                    each document in group.documents
                                        div.documents__item
                                            a.documents__item-container(href="/")
                                                div.documents__item-icon
                                                    img(src=`./assets/images/docs/icon-document-${document.type}.png`, alt="")
                                                div.documents__item-content
                                                    div.documents__item-content-group
                                                        h3.documents__item-title=document.name
                                                        span.documents__item-size=document.size
                                                    span.documents__item-helper-icon.icon-download