.navigation-top-menu {
    @include box(100%);
    height: $navigation-top-menu-height;

    &-container {
        @include box(inherit);
    }

    &__list {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(flex-end);
        gap: 30px;
        width: auto;
        @include box(inherit);
        list-style: none;

        &-item {
            height: inherit;
            
            &-link {
                @include flexbox();
                @include flex-direction(column);
                @include justify-content(center);
                @include align-items(center);
                @include box(inherit);
                font-size: $navigation-top-menu-item-link-font-size;
                font-weight: 400;
                white-space: nowrap;
            }

            &-underline {
                display: block;
                position: relative;
                height: $navigation-top-menu-item-underline;
                width: 0%;
                background-color: $navigation-top-menu-item-underline-color;
                margin: auto;
            }

            &:hover, &.active {

                .navigation-top-menu__list-item-underline {
                    width: 100%;
                }
            }
        }
    }
}