.events {

    &-container {
        @extend %entities-container-events;
    }

    &__item {

        &-container {
            height: 100%;
            padding-bottom: 32px;
            gap: 30px;

            &:hover {

                h3, .events__item-title {
                    color: $accent-color;
                    text-decoration: underline;
                }
            }
        }

        &-image {
            @include themify($themes-app) {
                display: themed('visibility'); 
            }
            position: relative;
            border-radius: 4px;

            img {
                border-radius: 4px;
                max-width: 200px;
            }
        }

        &-content {
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);
            gap: 15px;
            padding-top: 0px;
            width: 100%;

            &-group {
                @include flexbox();
                @include flex-direction(column);
                gap: 15px;
                width: 100%;
            }
        }

        &-tag{
            font-size: px2em(14px);
            font-weight: 400;
            color: $neutral-color;
        }

        &-date-num {

            p {
                font-size: px2em(14px);
                font-weight: 400;
                color: $neutral-color;
            }
        }

        &-title {
            font-size: px2em(17px);
            font-weight: 500;
            color: $primary-color;
        }

        &-tag-state {
            @extend %entity__item-tag--events;
            color: $primary-color;
            background-color: rgba($white, 0.9);
            
            &::before {
                content: 'Скоро';
            }
        }

        &.passed {

            .events__item-tag-state {
                color: $white;
                background-color: rgba($accent-color, 0.9) !important;

                &::before {
                    content: 'Завершено';
                }
            }
        }
    }
}