@include respond-above(sm) {

    .events {

        &__item {

            &-container {
                display: grid;
                grid-template-columns: auto 1fr;
                gap: 30px;
            }

            &-image {

                img {
                    
                }
            }
        }
    }
}

@include respond-below(sm) {
    .events {

        &__item {

            &-container {
                @include flexbox();
                @include flex-direction(row);
                @include align-items(flex-start);
                gap: 30px;
            }

            &-image {

                img {
                    object-fit: cover;
                    min-width: 83px;
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

// Border
@include respond-above(lg) {

    .events {

        &__item:not(:nth-last-child(1), :nth-last-child(2)) {
            border-bottom: $entity-item-border-bottom;
        }
    }
    .events.list {
        
        .events__item:not(:nth-last-child(1)) {
            border-bottom: $entity-item-border-bottom !important;
        }
    }
}
@include respond-below(lg) {

    .events {

        &__item:not(:nth-last-child(1)) {
            border-bottom: $entity-item-border-bottom;
        }
    }
    .events.list {

        .events__item:not(:nth-last-child(1)) {
            border-bottom: $entity-item-border-bottom !important;
        }
    } 
}