.article-section {
    @include flexbox;
    @include flex-direction(column);
    gap: 40px;

    &-header {

        &-title, h3, h3, h5 {
            font-size: 28px;
            font-weight: 500;
        }
    }

    &-body {
        width: 100%;
    }
}