.article-section {
    @extend %article-section;

    &-header {
        @extend %article-section-header;

        &-container-rows {
            @extend %article-section-header-container-rows;
        }

        &-title, h3, h3, h5 {
            @extend %article-section-header-title;
        }
    }

    &-body {
        width: 100%;
    }

    &:not(:last-child) {
        padding-bottom: 60px;
        margin-bottom: 0px;
        border-bottom: 1px solid $divider-color;
    }
}

.article-section-list {

    .article-section {
        // gap: 40px;

        &:not(:last-child) {
            margin-bottom: 60px !important;
        }
    }
}