.section-nav {
    @extend %section-nav;

    &--primary {
        .section-nav-container {
            @extend %section-nav-container;
        }
    
        .section-nav__item {
            @extend %section-nav__item;
            
            &:not(.active) {
                color: $secondary-color;
                background-color: $border-color;
            }
    
            &.active, &:hover {
                color: $white;
                background-color: $accent-color;
            }
        }
    }

    &--secondary {
        .section-nav-container {
            @extend %section-nav-container;
        }

        .section-nav__item {
            @extend %section-nav__item;
            border-width: 1px;
            border-style: solid;
            
            &:not(.active) {
                color: $primary-color;
                border-color: $background-color;
            }
    
            &.active, &:hover {
                color: $accent-color;
                border-color: $accent-color;
            }
        }
    }
}