doctype html
html
    head
    include ../components/src/meta.pug
    title Index
    include ../components/src/style.pug
body
    div.app.theme-header--light.theme-app--normal#app
        div.app-container

            include ../components/header/header.pug

            main.app-content
                div.app-scroll-view
                
                    include ../components/main-slider/main-slider.pug

                    div.app-content-container

                        //- include ../components/nav-line/nav-line.pug

                        include ../components/news/news-for-index.pug

                        include ../components/events/events-for-index.pug

                        //- include ../components/persons/persons-for-index.pug
                    
                    include ../components/footer/footer.pug

    include ../components/src/javascript.pug