// Footer
div.app-footer
    div.app-footer-content
        div.app-footer-section-top

            div.app-footer-container
                div.app-footer-section-top-content
                    include ../logo/logo-descriptor.pug

                    include ../social-buttons/social-buttons-inverse.pug

        div.app-footer-section-bottom