div.footer-navigation
    div.footer-navigation-content
        ul.footer-navigation-list
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
        ul.footer-navigation-list
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
        ul.footer-navigation-list
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
        ul.footer-navigation-list
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр
            li.footer-navigation-item
                a(href="#" class="footer-navigation-content") Центр