div.footer-navigation
    div.footer-navigation-content
        div.footer-navigation-column
            ul.footer-navigation-list
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Мероприятия
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Новости
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Персоналии
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Фото и видео
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Контакты
        div.footer-navigation-column
            ul.footer-navigation-list
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Исследовательский центр
                ul.footer-navigation-list
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") О центре
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Научные отделы
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Уральский филиал
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Экспертная и научно-исследовательская деятельность
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Издания
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Противодействие терроризму и коррупции
        div.footer-navigation-column
            ul.footer-navigation-list
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Российская школа частного права
                ul.footer-navigation-list
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Об РШЧП
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Магистратура
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Повышение квалификации
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Кафедры
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Выпускники
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Учебный отдел
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Стажировки и практика
            ul.footer-navigation-list
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Диссертационный совет
        div.footer-navigation-column
            ul.footer-navigation-list
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Совет по кодификации
                ul.footer-navigation-list
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") О Совете
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Новости
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Деятельность
            ul.footer-navigation-list
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Просветительские проекты
                ul.footer-navigation-list
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Диалоги о частном праве
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Клуб семейного права
                    li.footer-navigation-list-item
                        a(href="#" class="footer-navigation-content") Алексеевские чтения
            ul.footer-navigation-list
                li.footer-navigation-list-item
                    a(href="#" class="footer-navigation-content") Музей