// Working
section.section
    div.section-container
        // Section Header
        div.section-header
            h5.section-title О Центре
        // Section Header
        div.article
            div.article-section
                div.article-section-body
                    div.article-content
                        span.columns
                            p Исследовательский центр частного права им. С.С. Алексеева — это государственное учреждение, осуществляющее научно-исследовательскую, образовательную и просветительскую деятельность в области гражданского законодательства и частного права. Уже более 30 лет организация объединяет ведущих специалистов в этой сфере, сохраняя и приумножая наследие отечественной цивилистической школы.<br><br>p Главным делом Исследовательского центра была и остается работа над Гражданским кодексом Российской Федерации: на базе Исследовательского центра проведена разработка проекта четырех частей ГК и затем их модернизация.<br><br>Исследовательский центр выполняет функции секретариата Совета при Президенте Российской Федерации по кодификации и совершенствованию гражданского законодательства. Именно в Исследовательском центре готовятся проекты экспертных заключений и иных решений Совета. Наряду с этим Исследовательский центр выполняет многочисленные прикладные научно-исследовательские работы.<br>Неотъемлемой частью Центра является Российская школа частного права, которая обеспечивает подготовку высококвалифицированных юристов в рамках обучения в магистратуре и на программах повышения квалификации. Осенью 2021 года у Центра появился диссертационный совет по защите кандидатских и докторских диссертаций по специальности «Частно-правовые (цивилистические) науки (юридические науки)» и открылась аспирантура, позволяющая выпускникам Школы продолжать исследовательскую деятельность и развивать научную карьеру.<br><br> Также Центр ведет активную просветительскую деятельность: выпускает в свет научно-практические издания, проводит конференции и круглые столы по актуальным вопросам частного права. Центр реализует в разных регионах России проект «Диалоги о частном праве», проводит ежегодные конференции «Гражданское право России. Итоги года». На площадке Исследовательского центра также работают просветительские проекты «Клуб семейного права» и «Алексеевское наследие».