// About
section.section
    div.section-container
        div.article.text-section
            div.article-section
                div.article-content
                    h5 О Центре
                    p Исследовательский центр частного права им. С.С. Алексеева — это государственное учреждение, осуществляющее научно-исследовательскую, образовательную и просветительскую деятельность в области гражданского законодательства и частного права. Уже более 30 лет организация объединяет ведущих специалистов в этой сфере, сохраняя и приумножая наследие отечественной цивилистической школы.<br><br>Неотъемлемой частью Центра является Российская школа частного права, которая обеспечивает подготовку высококвалифицированных юристов в рамках обучения в магистратуре и на программах повышения квалификации. Осенью 2021 года у Центра появился диссертационный совет по защите кандидатских и докторских диссертаций по специальности «Частно-правовые (цивилистические) науки (юридические науки)» и открылась аспирантура, позволяющая выпускникам Школы продолжать исследовательскую деятельность и развивать научную карьеру.
//- // Working
//- section.section
//-     div.section-container
//-         // Section Header
//-         div.section-header
//-             h5.section-title О Центре
//-         // Section Header
//-         div.article
//-             div.article-section
//-                 div.article-section-body
//-                     div.article-content
//-                         p Исследовательский центр частного права им. С.С. Алексеева — это государственное учреждение, осуществляющее научно-исследовательскую, образовательную и просветительскую деятельность в области гражданского законодательства и частного права. Уже более 30 лет организация объединяет ведущих специалистов в этой сфере, сохраняя и приумножая наследие отечественной цивилистической школы.<br><br>Неотъемлемой частью Центра является Российская школа частного права, которая обеспечивает подготовку высококвалифицированных юристов в рамках обучения в магистратуре и на программах повышения квалификации. Осенью 2021 года у Центра появился диссертационный совет по защите кандидатских и докторских диссертаций по специальности «Частно-правовые (цивилистические) науки (юридические науки)» и открылась аспирантура, позволяющая выпускникам Школы продолжать исследовательскую деятельность и развивать научную карьеру.