.icon-search:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-vkontakte:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-move-up:before {
  content: "\e900";
}
.icon-upward:before {
  content: "\e901";
}
.icon-backward:before {
  content: "\e902";
}
.icon-poor-vision:before {
  content: "\e908";
}
.icon-navigation-line:before {
  content: "\e909";
}
.icon-expansion-arrow:before {
  content: "\e90a";
}