// Personal Area
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="personal-area__schedule-and-curriculam.html") Личный кабинет
                li.nav-line__item
                    a(href="personal-area__lectures.html") Лекции
        //Nav Line
        // Section Nav
        div.section-nav-wrapper
            div.section-nav--primary
                ul.section-nav-container
                    li.section-nav__item
                        a(href="personal-area__schedule-and-curriculam.html") Расписание и учебные планы
                    li.section-nav__item.active
                        a(href="personal-area__lectures.html") Лекции
                    li.section-nav__item
                        a(href="personal-area__documents.html") Документы
        // Section Header
        div.section-header
            h1.section-title Лекции
        div.section-body
            div.section-container