.persons {

    &__item {
        @extend %persons__item;

        &-container {
            @extend %persons__item-container;

            &:hover {
                @extend %persons__item-container-hover;
                
                h3, .persons__item-name {
                    color: $accent-color;
                    text-decoration: underline;
                }

                p, .persons__item-description {
                    color: $primary-color;
                }

                .persons__item-image {

                    img {
                        // filter: grayscale(0.0);
                    }
                }
            }
        }

        &-image {
            @extend %persons__item-image;


            img {
                @extend %persons__item-image-img;
            }
        }

        &-content {
            @extend %persons__item-content;
        }

        &-tag-group {
            @extend %persons__item-tag-group;
        }

        &-tag{
            @extend %persons__item-tag;
        }

        &-description {
            @extend %persons__item-description;
        }

        &-name {
            @extend %persons__item-name;
        }
    }

    // Versions

    // Large

    &:not(.md, .sm) {
        .persons-container {
            @extend %entities-container-persons;
        }
    }

    // Small

    &.sm {

        .persons-container {
            @extend %entities-container-persons--sm;
        }
    }
    &.md {

        .persons-container {
            @extend %entities-container-persons--md;
        }
    }
}

// Versions

.article-section {

    .persons {

        &-container {
            @extend %entities-container-persons--sm;
        }
    }
}