.persons {

    &__item {
        @include flexbox();
        @include flex-direction(column);
        position: relative;
        width: auto;
        overflow: hidden;
        padding-bottom: 30px;

        &-container {
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 20px;

            &:hover {

                h3, .persons__item-name {
                    color: $accent-color;
                    text-decoration: underline;
                }

                p, .persons__item-description {
                    color: $primary-color;
                }

                .persons__item-image {

                    img {
                        // filter: grayscale(0.0);
                    }
                }
            }
        }

        &-image {
            @include themify($themes-app) {
                display: themed('visibility'); 
            }
            width: inherit;
            border-radius: 4px;
            overflow: hidden;
            // width: 80px;

            img {
                // width: 100%;
                // @include box(160px);
                object-fit: cover;
                border-radius: 4px;
                width: 100%;
                height: auto;
                filter: grayscale(1.0);
            }
        }

        &-content {
            @include flexbox();
            @include flex-direction(column);
            gap: 10px;
            // padding-top: 20px;
        }

        &-tag-group {
            @include flexbox();
            @include flex-direction(row);
            @include flex-wrap(wrap);
            gap: 10px;
        }

        &-tag{
            @extend %entity__item-tag--clear-text;
            font-size: px2em(12px);
            padding: 0;
        }

        &-description {
            font-size: px2em(13px);
            font-weight: 400;
            color: $primary-color;//$neutral-color;
            white-space: break-spaces;
        }

        &-name {
            font-size: px2em(17px);
            font-weight: 500;
            color: $primary-color;
            // color: $accent-color;
        }
    }

    // Versions

    // Large

    &:not(.md, .sm) {
        .persons-container {
            @extend %entities-container-persons;
        }
    }

    // Small

    &.sm {

        .persons-container {
            @extend %entities-container-persons--sm;
        }
    }
    &.md {

        .persons-container {
            @extend %entities-container-persons--md;
        }
    }
}

// Versions

.article-section {

    .persons {

        &-container {
            @extend %entities-container-persons--sm;
        }
    }
}