.persons {

    &-container {
        @extend %entities-container-persons;
    }

    &__item {
        @include flexbox();
        @include flex-direction(column);
        position: relative;
        width: auto;
        overflow: hidden;
        padding-bottom: 30px;

        &-container {
            display: grid;
            grid-template-rows: auto 1fr;
            gap: 30px;

            &:hover {

                h3, .persons__item-name {
                    color: $accent-color;
                    text-decoration: underline;
                }

                p, .persons__item-description {
                    color: $primary-color;
                }
            }
        }

        &-image {
            @include themify($themes-app) {
                display: themed('visibility'); 
            }
            width: inherit;
            border-radius: 4px;
            overflow: hidden;
            // width: 80px;

            img {
                // width: 100%;
                // @include box(160px);
                object-fit: cover;
                border-radius: 4px;
                width: 100%;
                height: auto;
            }
        }

        &-content {
            @include flexbox();
            @include flex-direction(column);
            gap: 10px;
            // padding-top: 20px;
        }

        &-description {
            font-size: px2em(14px);
            font-weight: 400;
            color: $neutral-color;
        }

        &-name {
            font-size: px2em(17px);
            font-weight: 500;
            color: $primary-color;
            // color: $accent-color;
        }
    }
}