body {
    font-family: $font-family, "Helvetica Neue", sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

a {
    font-size: $link-font-size;
    line-height: $link-line-height;
    color: $link-color;
    letter-spacing: $link-letter-spacing;
}

p {
    font-size: $text-font-size;
    line-height: $text-line-height;
    color: $text-color;
    letter-spacing: $text-letter-spacing;
}

@for $i from 1 through 6 {
    h#{7 - $i} {
        line-height: #{$text-line-height};
        font-weight: 500;
    }
}