// Filter Dropdown
div.filter-dropdown
    div.filter-dropdown-container
        input(type="radio" name="tags")
        span#text-tags Все разделы
        div.filter-dropdown__expansion-icon
    div.filter-dropdown-list
        p.active Все разделы
        p Мероприятия
        p Новости
        p Персоналии
        p Фото и видео
// Filter Dropdown