// Filter Dropdown
div.filter-dropdown
    div.filter-dropdown-container
        input(type="radio" name="tags")
        span#text-tags Все новости
        div.filter-dropdown__expansion-icon
    div.filter-dropdown-list
        p.active Все новости
        p ИЦЧП
        p РШЧП
        p Совет по кодификации
        p Диссертационный совет
        p Диалоги о частном праве
        p Клуб семейного права
        p Алексеевские чтения
// Filter Dropdown