// Filter Dropdown
div.filter-dropdown
    div.filter-dropdown-container
        input(type="radio" name="tags")
        span#text-tags Все мероприятия
        div.filter-dropdown__expansion-icon
    div.filter-dropdown-list
        p.active Все мероприятия
        p ИЦЧП
        p РШЧП
        p Совет по кодификации
// Filter Dropdown