// Filter Dropdown
div.filter-dropdown
    div.filter-dropdown-container
        input(type="radio" name="tags")
        span#text-tags Все авторы
        div.filter-dropdown__expansion-icon
    div.filter-dropdown-list
        p.active Все авторы
        p Автор 1
        p Автор 2
        p Автор 3
        p Автор 4
        p Автор 5
        p Автор 6
        p Автор 7
// Filter Dropdown