// Filter Dropdown
div.filter-dropdown
    div.filter-dropdown-container
        input(type="radio" name="tags")
        span#text-tags Все темы
        div.filter-dropdown__expansion-icon
    div.filter-dropdown-list
        p.active Все темы
        p Тема 1
        p Тема 2
        p Тема 3
        p Тема 4
        p Тема 5
        p Тема 6
        p Тема 7
// Filter Dropdown