// Filter Dropdown
div.filter-dropdown
    div.filter-dropdown-container
        input(type="radio" name="tags")
        span#text-tags За всё время
        div.filter-dropdown__expansion-icon
    div.filter-dropdown-list
        p.active За всё время
        p 2021 год
        p 2022 год
// Filter Dropdown