.app-search-field {
    // display: none;
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: $white;
    @extend %app-header--height;
    border-bottom-style: solid;
    border-bottom-width: $app-header-border-bottom-width;
    border-bottom-color: $app-header-border-bottom-color;
    // box-shadow: 0px 4px 16px rgba($app-header-shadow-color, 0.1);

    // height: 

    &-container {
        @extend %main-container;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &-content {
        @include flexbox();
    }
}