.app-search-field {
    position: absolute;
    top: 0;
    width: 100vw;
    background-color: $white;
    @extend %app-header--height;
    border-bottom-style: solid;
    border-bottom-width: $app-header-border-bottom-width;
    border-bottom-color: $app-header-border-bottom-color;

    &-container {
        @extend %main-container;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &-content {
        @include flexbox();
    }
}

.app-search-button, button {
    .icon {
        // font-family: icomoon;
        // @extend .icon-search-cross;

        // &:before {
        //     font-family: icomoon;
        //     @extend .icon-search-cross;
        // }
    }
}