/*
 * Theme definitions
 */

$themes-app: (
  app--normal: (
    fontSize: 1.0em,
    foregroundColor: $foreground-color,
    backgroundColor: $white,
    backgroundSecondaryColor: $background-color,
    neutralColor: $neutral-color,
    accentColor: $accent-color,
    visibility: block,
  ),
  app--poor-vision: (
    fontSize: 1.5em,
    foregroundColor: $black,
    backgroundColor: $white,
    backgroundSecondaryColor: $white,
    neutralColor: $black,
    accentColor: $black,
    visibility: none,
  ),
);