.section {

    // // Section Divider
    &:not(:nth-last-child(1)) {
        // border-bottom: $section-border-bottom; // Outer Divider

        .section-container {
            border-bottom: $section-border-bottom; // Inner Divider
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        // gap: 30px;
        // padding-top: 40px;
        @extend %main-container;
        background-color: $app-page-background-color;
    }

    &-container-columns {
        // display: grid;
        // grid-template-columns: 1fr auto;
    }

    //Body
    .section-body {

    }

    //Footer
    .section-footer {
        display: flex;
        width: 100%;

        &.align-right {
            flex-direction: row-reverse;
        }
    }
}