.section {

    // // Section Divider
    &:not(:nth-last-child(1)) {
        // border-bottom: $section-border-bottom; // Outer Divider

        .section-container {
            border-bottom: $section-border-bottom; // Inner Divider
        }
    }

    // If First Section
    &:nth-child(1) {

        .section-container {
            padding-top: 80px;
        }
    }

    // If not Last Section
    &:not(:nth-last-child(1)) {

        .section-container {
            padding-bottom: 60px;
        }
    }

    // If Last Section
    &:nth-last-child(1) {

        .section-container {
            padding-bottom: 80px;
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 40px;
        @extend %main-container;
        background-color: $app-page-background-color;
    }

    //Header
    .section-header {
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-wrap(wrap);
        width: 100%;
        padding-bottom: 20px;
        gap: 20px;
        
        h5, .section-title {
            font-size: 38px;
            font-weight: 500;
        }
    }

    //Body
    .section-body {

    }

    //Footer
    .section-footer {
        display: flex;
        width: 100%;

        &.align-right {
            flex-direction: row-reverse;
        }
    }
}