.events {

    &-container {
        @extend .entities-container-list-half;
    }

    &__item {
        // border-bottom: 1px solid $divider-color;

        // &:not(:nth-child(1)) {
        //     border-top: 1px solid $divider-color;
        // }

        &-container { //Link
            @extend .entity__item-container--list;
            // display: grid;
            // grid-template-columns: auto 1fr;
            padding-bottom: 32px;
            gap: 30px;

            &:hover {

                h3, .events__item-title {
                    text-decoration: underline;
                }
            }
        }

        &-image {
            @include themify($themes-app) {
                display: themed('visibility'); 
            }
            position: relative;
            border-radius: 4px;

            img {
                border-radius: 4px;
                max-width: 200px;
            }
        }

        &-content {
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);
            gap: 15px;
            padding-top: 0px;
            width: 100%;

            &-group {
                @include flexbox();
                @include flex-direction(column);
                gap: 15px;
                width: 100%;
            }
        }

        &-tag{
            font-size: px2em(14px);
            font-weight: 400;
            color: $neutral-color;
        }

        &-date-num {

            p {
                font-size: px2em(14px);
                font-weight: 400;
                color: $neutral-color;
            }
        }

        &-title {
            font-size: px2em(17px);
            font-weight: 500;
            color: $primary-color;
        }
    }
}