.read-on {
    margin-bottom: 40px;
    
    &-container {

    }

    &-header {
        padding-bottom: 25px;

        h3, h5 {
            // font-size: px2em(24px);
            // font-weight: 500;
            @extend %article-section-header-title;
        }
    }

    &-body {

        &-container {
            @include flexbox();
            @include flex-direction(column);
            gap: 30px;
        }
        
    }

    &__item {

        &-container {
            @include flexbox();
            @include flex-direction(column);
            @extend %entity__item-container--hover;
            gap: 10px;
        }

        &-tag {
            @extend %entity__item-tag--clear-text--sm;
        }

        &-date {
            @extend %entity__item-date--sm;
        }

        &-title {
            @extend %entity__item-title--sm;
        }
    }
    &.sticky {
        position: sticky;
        top: 50px;
    }
}