//- script(type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js")
//- script(src="./js/jquery-3.6.0.min.js")
script(src="https://code.jquery.com/jquery-3.3.1.js")
script(type="text/javascript" src="./js/main.js")
script(type="text/javascript" src="./js/owl.carousel/owl.carousel.min.js")