//- script(type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js")
//- script(src="./js/jquery-3.6.0.min.js")
//- script(src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js")
//- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.10/lottie_light_html.min.js")

script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.14/lottie.min.js")
script(src="https://code.jquery.com/jquery-3.3.1.js")
script(type="text/javascript" src="./js/main.js")
script(type="text/javascript" src="./js/owl.carousel/owl.carousel.min.js")
//- script(type="text/javascript" src="./js/lottie-index.js")
