script(src="https://code.jquery.com/jquery-3.3.1.js")
script(src="https://code.jquery.com/jquery-3.3.1.min.js")
//- <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.14/lottie.min.js")
script(type="text/javascript" src="./js/main.js")
script(type="text/javascript" src="./js/owl.carousel/owl.carousel.min.js")

script(type="text/javascript" src="./js/fancybox/jquery.fancybox.js")