/*
 * 	Default theme - Owl Carousel CSS File
 */

$carousel-color-base:			$white !default;
$carousel-color-white:			$white !default;
$carousel-color-gray:			$neutral-color !default;

//nav

$carousel-nav-color: 			$carousel-color-white !default;
$carousel-nav-color-hover:		$carousel-color-white !default;
$carousel-nav-font-size: 		64px !default;
$carousel-nav-rounded: 			3px !default;
$carousel-nav-margin: 			5px !default;
$carousel-nav-padding: 			4px 7px !default;
$carousel-nav-background: 		none;//$carousel-color-gray !default;
$carousel-nav-background-hover:	none;//$carousel-color-base !default;
$carousel-nav-disabled-opacity: 0.5 !default;

$carousel-nav-button-size:      36px !default;

//dots

$carousel-dot-bottom-position:  30px;
$carousel-dot-size:             8px !default;
$carousel-dot-size-active:      10px !default;
$carousel-dot-width:			$carousel-dot-size !default;
$carousel-dot-height:			$carousel-dot-size !default;
$carousel-dot-rounded:			30px !default;
$carousel-dot-margin: 			5px 7px !default;
$carousel-dot-background:		$carousel-color-gray !default;
$carousel-dot-background-active:$carousel-color-base !default;

@import 'theme';
