.owl-theme-privlaw {
	// height: 100%;

	.owl-stage, .owl-stage-outer, .owl-wrapper, .owl-item {
		height: 100%;
	}
	// Styling Next and Prev buttons
	.owl-nav {
		@include flexbox;
		@include justify-content(space-between);
		@include align-items(center);
		@include box(100%);
		position: absolute;
		top: 0px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		color: $carousel-nav-color;

		[class*='owl-'] {
			font-size: $carousel-nav-font-size !important;
			margin: $carousel-nav-margin;
			padding: $carousel-nav-padding;
			background: $carousel-nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: $carousel-nav-rounded;
			@include transition(color background-color border-color, 75ms, ease-out);

			&:hover {
				background: $carousel-nav-background-hover;
				color:$carousel-nav-color-hover;
				text-decoration: none;
			}
		}
		

		button.owl-prev,
		button.owl-next {
			@include flexbox();
			@include justify-content(center);
			@include align-items(center);
			@include box($carousel-nav-button-size);
			background-color: $accent-color;

			.owl-button-icon {
				font-size: 28px !important;
			}
		}

		button.owl-prev {
			
			.owl-button-icon {
				// transform: rotate(180deg);
			}
		}

		button.owl-next {

			.owl-button-icon {
				
			}
		}
			
		// 	span {
		// 		color: $carousel-nav-color !important;
		// 	}
		// }

		.disabled {
			opacity: $carousel-nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		@include flexbox();
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
		position: absolute;
		width: 100%;
		bottom: $carousel-dot-bottom-position;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				@include box($carousel-dot-size);
				margin: $carousel-dot-margin;
				background: $carousel-dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: $carousel-dot-rounded;
				@include transition(width height background-color, 75ms, ease-in-out);
			}

			&.active,
			&:hover {
				span {
					background: $carousel-dot-background-active;
				}
			}

			&.active {
				
				span {
					@include box($carousel-dot-size-active);
				}
			}
		}
	}
}
