// Search
section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="search.html") Поиск
        //Nav Line

        // Section Header
        div.section-header
            h5.section-title Поиск

            include ../../components/filter/filter-for-videos.pug

        // Section Header
        div.search
            div.search-container
                // Items
                
                            
        // Items