mixin items(...items)

    //- -var pageName = 
    mixin nestedItem(href, title)
        li.navigation-menu__list-item
            a(href=href class="navigation-menu__list-item-link")=title

    mixin item(href, title, nested)
        a(href=href class="navigation-menu__list-item-link")=title
        div.navigation-menu__list-item-underline

    //

    each item in list
        if item.nested[0].title.length > 0
            li.navigation-menu__list-item.expansion
                +item(item.href, item.title)
                ul.navigation-menu__list
                    //- div.navigation-menu__list-item-group-container
                    each nestedItem in item.nested
                        +nestedItem(nestedItem.href, nestedItem.title)
        else 
            li.navigation-menu__list-item
                +item(item.href, item.title)

// Navigation Menu
nav.navigation-menu
    div.navigation-menu-container
        ul.navigation-menu__list
            // Items
            -
                var list=[
                    {href: "./center_about-center.html",
                    title: "ИЦЧП",
                        nested: [
                            {
                                href: "./center_about-center.html",
                                title: "О центре"},
                            {
                                href: "./center_expert-and-research-activities.html",
                                title: "Экспертная и научно-исследовательская деятельность"},
                            {
                                href: "./center_scientific-departments.html",
                                title: "Научные отделы"},
                            {
                                href: "./center_ural-branch.html",
                                title: "Уральский филиал"},
                            {
                                href: "./center_editions.html",
                                title: "Издания"},
                            {
                                href: "./center_countering-terrorism-and-corruption.html",
                                title: "Противодействие терроризму и коррупции"}
                        ]},
                    {href: "./rshchp.html",
                    title: "РШЧП",
                        nested: [
                            {
                                href: "rshchp.html",
                                title: "Об РШЧП"
                                },
                            {
                                href: "rshchp_masters-degree.html",
                                title: "Магистратура"
                                },
                            {
                                href: "rshchp_training.html",
                                title: "Повышение квалификации"},
                            {
                                href: "rshchp_cathedras.html",
                                title: "Кафедры"},
                            {
                                href: "rshchp_graduates.html",
                                title: "Выпускники"},
                            {
                                href: "rshchp_graduate-school.html",
                                title: "Аспирантура"},
                            {
                                href: "rshchp_internships-and-practice.html",
                                title: "Стажировки и практика"},
                            {
                                href: "rshchp_information-about-the-educational-organization.html",
                                title: "Сведения об образовательной организации"}
                        ]},
                    {href: "./codification-council.html",
                    title: "Совет по кодификации",
                        nested: [
                            {
                                href: "codification-council.html",
                                title: "О Совете"},
                            {
                                href: "codification-council_working-groups",
                                title: "Рабочие группы"},
                            {
                                href: "codification-council_meetings-of-the-council.html",
                                title: "Заседания Совета"},
                            {
                                href: "codification-council_expert-opinions.html",
                                title: "Экспертные заключения"}
                        ]},
                    {href: "./private-law-dialogues.html",
                    title: "Диссертационный совет",
                        nested: [
                            {
                                href: "",
                                title: ""}
                        ]},
                    {href: "./educational-projects.html",
                    title: "Просветительские проекты",
                        nested: [
                            {
                                href: "./private-law-dialogues.html",
                                title: "Диалоги о частном праве"},
                            {
                                href: "./family-law-club.html",
                                title: "Клуб семейного права"},
                            {
                                href: "./alekseevsky-readings.html",
                                title: "Алексеевские чтения"}
                        ]},
                    {href: "./museum.html", title: "Музей",
                        nested: [
                            {
                                href: "",
                                title: ""}
                        ]}
                ]
            +items(list)
            // Items
// Navigation Menu