mixin items(...items)

    mixin item(href, title)
        li.navigation-menu-secondary__list-item
            a(href=href class="navigation-menu-secondary__list-item-link")
                p=title
            div.navigation-menu-secondary__list-item-underline

    each item in list
        +item(item.href, item.title)

// Navigation Top Menu
div.navigation-menu-secondary
    div.navigation-menu-secondary-container
        ul.navigation-menu-secondary__list
            // Items
            -
                var list=[
                    {href: "events.html", title: "Мероприятия"},
                    {href: "news.html", title: "Новости"},
                    {href: "persons.html", title: "Персоналии"},
                    {href: "videos.html", title: "Видео"},
                    {href: "contacts", title: "Контакты"}
                    ]

            +items(list)
            // Items
// Navigation Top Menu