// Events
section.section
    div.section-container
        // Section Header
        div.section-header
            h5.section-title Анонсы мероприятий
        // Section Header
        div.events.index
            div.events-container
                // Items
                div.events__item
                    a(href="/" class="events__item-container")
                        span.events__item-image
                            span.events__item-tag-state
                            img(src="images/events/events_22.10.2021_sm-1.png")
                        div.events__item-content
                            div.events__item-content-group
                                span.events__item-tag Исследовательский центр
                                h3.events__item-title Исследовательский центр с успехом провел «Диалоги о частном праве» в Перми
                            span.date-box
                                span.date-box__number 22
                                div.date-box__group
                                    span.date-box__month октября 2021
                                    span.date-box__day пятница
                div.events__item
                    a(href="/" class="events__item-container")
                        span.events__item-image
                            span.events__item-tag-state
                            img(src="images/events/events_21.10.2021_sm-1.png")
                        div.events__item-content
                            div.events__item-content-group
                                span.events__item-tag Исследовательский центр
                                h3.events__item-title Круглый стол «Проблемы компенсации морального вреда в судебной практике» проведет Исследовательский центр частного права
                            span.date-box
                                span.date-box__number 21
                                div.date-box__group
                                    span.date-box__month октября 2021
                                    span.date-box__day четверг
                div.events__item
                    a(href="/" class="events__item-container")
                        span.events__item-image
                            span.events__item-tag-state
                            img(src="images/events/events_20.10.2021_sm-1.png")
                        div.events__item-content
                            div.events__item-content-group
                                span.events__item-tag Исследовательский центр
                                h3.events__item-title Совет по кодификации рекомендовал начать реформу вещного права с блока норм о недвижимости
                            span.date-box
                                span.date-box__number 20
                                div.date-box__group
                                    span.date-box__month октября 2021
                                    span.date-box__day среда
                div.events__item
                    a(href="/" class="events__item-container")
                        span.events__item-image
                            span.events__item-tag-state
                            img(src="images/events/events_17.10.2021_sm-1.png")
                        div.events__item-content
                            div.events__item-content-group
                                span.events__item-tag Исследовательский центр
                                h3.events__item-title Исследовательский центр посетила делегация цивилистов из Казахстана
                            span.date-box
                                span.date-box__number 17
                                div.date-box__group
                                    span.date-box__month октября 2021
                                    span.date-box__day среда
                // Items
        //Section Footer
        div.section-footer.align-right
            div.section-button
                a(href="events.html") Все мероприятия
        //Section Footer
// Events