section.section
    div.section-container
        //Nav Line
        div.nav-line
            ul.nav-line-container
                li.nav-line__item
                    a(href="index.html") Главная
                li.nav-line__item
                    a(href="events.html") Мероприятия
        //Nav Line

        // Section Header
        div.section-header
            h5.section-title Мероприятия

            include ../../components/filter/filter-for-events.pug
        // Events
        include ./events-list.pug
        // Items
        div.section-footer
            include ../../components/pagination/pagination.pug
// Events