.news {

    &-container {
        @extend %entities-container-news;
    }

    &__item {
        @extend %entity__item;

        &-container {
            @extend %entity__item-container;
            padding-bottom: 0px;
        }

        &-image {
            @extend %entity__item-image;
        }

        &-image-tag {
            @extend %entity__item-tag--news;
            color: $primary-color;
            background-color: rgba($white, 0.9);
        }

        &-tag {
            @extend %entity__item-tag--clear-text;
        }

        &-content {
            @extend %entity__item-content;
        }

        &-date {
            @extend %entity__item-date;
        }

        &-title {
            @extend %entity__item-title;
        }
    }
}