.up-button {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    position: absolute;
    bottom: 90px;
    right: 0;
    @include box(64px);
    background-color: $white;
    border: 1px solid $divider-color;
    border-radius: 1px;
    box-shadow: 0px 0px 20px rgba($primary-color, 0.15);
    z-index: 3;
    @include transition(opacity transform bottom, 125ms, ease-in-out);
    cursor: pointer;

    &-icon {
        font-size: 24px;
    }

    &:not(.active) {
        opacity: 0.0;
        bottom: 0px;
    }
    &.active {
        opacity: 1.0;
        bottom: 90px;
    }
}