.filter-dropdown {
    position: relative;
    width: 275px;
    cursor: pointer;

    &-container {
        @include flexbox();
        @include align-items(center);
        width: 100%;
        padding: 15px 20px;
        border: 1px solid $border-color;
        border-radius: 6px;

        input {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-list {
        display: block;
        position: absolute;
        border-radius: 6px;
        border: 1px solid $border-color;
        left: 0;
        width: 100%;
        overflow: auto;
        background-color: $white;
        top: 60px;
        z-index: 3;

        &-container {
            height: auto;
        }

        p {
            padding: 15px 20px;

            &:hover {
                color: $white;
                background-color: $accent-color;
            }
        }
    }
}