.filter-dropdown {

    .filter-dropdown-container {

        input {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .filter-dropdown-list {

    }
}