.tabbar {
  @include flexbox();
  height: 100%;
}

.tab-button {
  position: relative;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  // box-sizing: border-box;
  height: 100%;
  min-width: 70px;

  &-container {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include box(100%);
    padding: 3px;
  }

  &-box {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include box(100%);
    border-radius: 4px;
    // background-color: $background-color;
  }

  &-content {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include box(100%);
    gap: 5px;
    padding: px2em(0px) px2em(20px);
  }

  p,
  a {
    font-size: 14px;
    font-weight: 400;
    color: $primary-color;
    white-space: nowrap;
    @include transition(color, 125ms, ease-out);
  }

  & {
    border-left: 1px solid $divider-color;
  }

  &:hover,
  &:active,
  &:focus {
    &:after {
      width: 100%;
    }
  }

  &:after {
    display: block;
    position: absolute;
    width: 0%;
    height: 1px;
    content: "";
    background-color: $accent-color;
    bottom: 0px;
    @include transition(width, 125ms, ease-out);
  }

  &.last {
    .tab-button-content {
      padding-right: px2em(0px);
    }
  }
}

.tab-button-group {
  @include flexbox();
  @include flex-direction(row);
  @include align-items(center);
  @include flex-wrap(nowrap);
  gap: 0;
  height: 100%;
  @include respond-below(xl) {
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(space-between);
    width: 100px;
  }

  .tab-button {
    @include respond-below(xl) {
      width: inherit;
    }
  }
}

.tab-button.poor-vision {
  .icon-poor-vision {
    font-size: px2em(24px);
  }
}
