// Social Buttons
div.social-button-group
    div.social-button.inverse.facebook
        div.social-button-container
            a(href="" class="social-button-content")
                div.social-button__icon

    div.social-button.inverse.vkontakte
        div.social-button-container
            a(href="" class="social-button-content")
                div.social-button__icon

    div.social-button.inverse.twitter
        div.social-button-container
            a(href="" class="social-button-content")
                div.social-button__icon
                
    div.social-button.inverse.instagram
        div.social-button-container
            a(href="" class="social-button-content")
                div.social-button__icon
// Social Buttons