%section-nav {
  @include flexbox;
  width: 100%;

  &-container {
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    gap: px2em(10px);
    list-style: none;
  }

  &__item {
    @include flexbox;
    margin-top: 10px;
    border-radius: px2em(20px);

    a {
      font-size: 15px;
      line-height: 1;
      color: inherit;
      padding: px2em(8px) px2em(16px);
      @include respond-above(sm) {
        white-space: nowrap;
      }
      @include respond-below(sm) {
        white-space: pre-wrap;
      }
    }
  }

  &__item--tritic {
    @include flexbox;
    margin-top: 10px;
    // border-radius: px2em(20px);

    a {
      font-size: 15px;
      line-height: 1;
      font-weight: 500;
      color: inherit;
      padding: px2em(8px) px2em(0px);
      white-space: nowrap;
    }
  }
}
